{% macro details(user, obj) -%}
<title>{{obj.name or obj.title}} - Details</title>
<div class="row">
    <div class="column is-vertically-centered">
        <h2 class='has-text-dark'>Details</h2>
    </div>
</div>
<hr>
<div class="row">
    <div class="column is-2">
        <div class="image is-thumbnail">
            {% if obj.image %}
            <img src="{{obj.image.url(size='200')}}" loading="lazy" alt="{{obj.name}}" />
            {% endif %}
        </div>
    </div>
    <div class="column is-10">
        <div class="row">
            {% if obj.start_date and obj.start_date.year %}
            <div class="column is-shrink">
                <h4 class='has-text-dark-grey'>
                    {{obj.start_date.name}}:
                    {{obj.start_date.datestr()}}
                </h4>
            </div>
            {% endif %}
            {% if obj.end_date and obj.end_date.year %}
            <div class="column is-shrink">
                <iconify-icon class='has-text-dark-grey' icon="pepicons-print:line-x" width="1rem"
                              height="1rem"></iconify-icon>
            </div>
            <div class="column is-shrink">
                <h4 class='has-text-dark-grey'>
                    {{obj.end_date.name}}:
                    {{obj.end_date.datestr()}}
                </h4>
            </div>
            {% endif %}
            {% if obj.traits %}
            <div class="column is-shrink is-end">
                <span class="tag">{{obj.traits}}</span>
            </div>
            {% endif %}
        </div>
        <div class="row">
            {% if obj.backstory_summary %}
            <div class="column is-full">
                <div class="panel has-bg-light has-text-dark generated-text-lightbg">
                    {{ obj.backstory_summary | safe }}
                </div>
            </div>
            {% endif %}
        </div>
        <div class="row">
            {% if obj.description %}
            <div class="column is-full">
                <div class="panel has-bg-muted has-text-dark">
                    {{ obj.description_summary or obj.description | safe }}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<span hx-get="/api/{{obj.path}}/info" hx-trigger="load" hx-swap="outerHTML"></span>

<div class="row">
    <div class="column is-full">

        <div class="panel has-bg-light has-text-dark generated-text-lightbg">
            <h3 class='has-text-center has-text-dark'>Backstory</h3>
            {{obj.backstory | safe}}
        </div>
    </div>
</div>
{%- endmacro %}