{% macro timeline(user, obj, events=[]) -%}
<h2 class="has-text-dark">Timeline</h2>
{% for event in events %}
<div class="panel has-bg-screen">
    <div class="row">
        <div class="column is-2">
            <h4 class='has-text-center'>{{event.obj.name}} {{event.name}}</h4>
            <h5 class='has-text-center'>{{event}}</h5>
            <a href="/{{event.obj.path}}">
                <div class="image is-tiny is-thumbnail is-margin-center">
                    {% if event.obj.image %}
                    <img src="{{event.obj.image.url(size='50')}}" loading="lazy"
                         alt="{{event.obj.name}}" />
                    {% endif %}
                </div>
                <h6 class='has-text-center has-text-light-grey'>
                    {{event.obj.start_date}} - {{event.obj.end_date}}
                </h6>
            </a>
            <hr>
            {% if event.episode %}
            <h5 class='has-text-center'>{{event.episode.name}}</h5>
            <h6 class='has-text-center has-text-light-grey'>
                {{event.episode.start_date}} - {{event.episode.end_date}}
            </h6>
            {% endif %}
        </div>
        <div class="column">
            {% if event.episode %}
            <div class="panel has-bg-muted has-text-dark">
                {{event.episode.summary | safe}}
            </div>
            {% endif %}
        </div>
    </div>
</div>
<hr>
{% endfor %}
{%- endmacro %}