##################################
#           PRODUCTION           #
##################################

##### Frameworks #####

autonomous-app >= 0.3.23

##### Configuration and Documentation #####
pdoc

##### System #####

##### Database #####
pymongo

##### Frontend #####
pillow

##### Network #####

requests
gunicorn
httpx

##### Async #####

rq
rq-dashboard

##### Media #####
mutagen

##### Security #####

Authlib

##### AI #####
ollama
openai
google-genai >= 1.52.0

##### Parsing #####
markdown
python-slugify
dateparser
bs4
validators

##### Utility #####
dmtoolkit >= 0.0.37

##################################
#           DEVELOPMENT          #
##################################

pytest
pytest-cov
requests-mock
pytest-mock
pytest-flask          # Flask integration for pytest
mongomock             # For mocking MongoDB in unit tests
selenium              # For E2E testing (or playwright)
webdriver-manager     # For managing browser drivers