{% import "shared/_form.html" as form_components %}
{% import "shared/_display.html" as display_components %}

{% macro autogm(user, world) -%}
<div class="row has-space-between">
    <div class="column">
        <h2 class="title has-text-centered">AutoGM</h2>
    </div>
    {% if not world.autogm.party %}
    <div class="column is-half">
        <div id="user-container" class="panel has-bg-muted">
            <div class='select'>
                <select name="party_pk" hx-post="/api/autogm/party"
                        hx-target="#user-container" hx-select="#user-container"
                        hx-swap="outerHTML">
                    <option value="0">Select a Party</option>
                    {% for party in world.parties %}
                    <option value="{{party.pk}}">{{party.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    {% else %}
    <div class="column is-2">
        <h3>{{world.autogm.party.name}}</h3>
    </div>
    <div class="column is-5">
        <div class="row">
            {% for player in world.autogm.party.players %}
            <div class="column">
                {{display_components.object_display(player, type=False)}}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="column is-full">
        <div class="row has-space-around">
            <div class="column is-shrink" onclick='autogm_generators("#autogm_session_panel");'>
                <h3 class="title has-text-centered">Generate Session</h3>
            </div>
            <div class="column is-shrink" onclick='autogm_generators("#autogm_scene_panel");'>
                <h3 class="title has-text-centered">Generate Scene</h3>
            </div>
            <div class="column is-shrink"
                 onclick='autogm_generators("#autogm_complications_panel");'>
                <h3 class="title has-text-centered">Generate
                    Complications</h3>
            </div>
            <div class="column is-shrink" onclick='autogm_generators("#autogm_characters_panel");'>
                <h3 class="title has-text-centered">Generate Characters</h3>
            </div>
        </div>
        <script>
            function autogm_generators(id) {
                for (panel of htmx.findAll('.autogm-panel')) {
                    panel.classList.add('is-hidden');
                }
                htmx.find(id).classList.remove("is-hidden");
            }
        </script>
    </div>
    <div id='autogm_session_panel' class="column is-full autogm-panel is-hidden">
        <div class="panel has-bg-white generated-text-lightbg inset">
            <form hx-post='/api/autogm/episode/generate' hx-target="#page-content">
                <textarea id="scene-text" name="scenario" class="is-primary"
                          placeholder="What is the scenario?"></textarea>
                <button type="submit" class="button is-primary">Generate Session</button>
            </form>
        </div>
        <div class="panel has-bg-white generated-text-lightbg inset">
            {{world.autogm.episode | safe}}
        </div>
    </div>
    <div id='autogm_scene_panel' class="column is-full autogm-panel is-hidden">
        <div class="panel has-bg-white generated-text-lightbg inset">
            {{world.autogm.last_scene | safe}}
        </div>
        <div class="panel has-bg-white generated-text-lightbg inset">
            <div class="has-text-centered">
                <form hx-post='/api/autogm/scene/generate' hx-target="#page-content">
                    <textarea id="scene-text" name="msg" class="is-primary"
                              placeholder="What is the scenario for the scene?"></textarea>
                    <button type="submit" class="button is-primary">Generate Next Scene</button>
                </form>
            </div>
        </div>
        <button hx-post='/api/autogm/episode/clear' hx-target="#page-content"
                class="button is-primary">Clear</button>
    </div>
    <div id='autogm_complications_panel' class="column is-full autogm-panel is-hidden">
    </div>
    <div id='autogm_characters_panel' class="column is-full autogm-panel is-hidden">
    </div>

    {% endif %}
</div>
{%- endmacro %}