{% import "shared/_form.html" as form_components %}
{% import "shared/_display.html" as display_components %}
{% import "shared/_icons.html" as icon_components %}
{% import "shared/_tasks.html" as task_components %}
{% import "shared/_abilities.html" as abilities_components %}

{% macro autogm_session(user, world, party=None) -%}
<title>{{world.name | title}} - Auto GM</title>

<div class="row">
    {% if party%}
    <div class="column is-full">
        <div class="tabs">
            <ul class="tabs__list has-centered">
                <li><a href="#autogm-scenario-container" class='has-text-primary'
                       onclick='autogmcontainertabs("#autogm-scenario-container");'>Campaign
                        Outline</a>
                </li>
                <li><a href="#scene-party-container" class='has-text-primary'
                       onclick='autogmcontainertabs("#scene-party-container");'>Party Members</a>
                </li>
                <li><a href="#autogm-associations-list-container"
                       class='has-text-primary'
                       onclick='autogmcontainertabs("#autogm-associations-list-container");'>Associations</a>
                </li>
            </ul>
        </div>
        <script>
            function autogmcontainertabs(target) {
                for (var tab of document.querySelectorAll(".tabs__list li")) {
                    tab.classList.remove("is-active");
                }
                for (var tab of document.querySelectorAll(".tabs__content")) {
                    tab.classList.remove("is-open");
                }
                document.querySelector(target).classList.add("is-open");
                this.parentElement.classList.add("is-active");
            }
        </script>
        <hr>
    </div>
    <div id="autogm-scenario-container" class="column is-full tabs__content is-open">
        <form hx-post='/task/generate/campaign/{{party.pk}}/outline'>
            <div class="row">
                <div class="column">
                    <h3 class='has-text-center has-text-primary'>Scenario</h3>
                    <textarea class="has-bg-muted" style="padding:1rem;"
                              name='scenario'></textarea>
                </div>
                <div class="column is-shrink is-end is-vertically-centered">
                    <button class='button' type='submit'>Generate Campaign</button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="column is-full">
                {{ autogm_campaign_display(user, world, party) }}
            </div>
        </div>
    </div>
    <div id='scene-party-container' class='column is-full tabs__content'>
        {{scene_party_details(user, world, party)}}
    </div>
    <div id='autogm-associations-list-container' class='column is-full tabs__content'>
        {{scene_associations(user, world, party)}}
    </div>
    {% else %}
    <div id=" party-selection-form-container" class="column is-full">
        <form hx-post='/api/autogm/'
              hx-target='#page-content'
              hx-trigger='change'
              onchange='history.pushState({}, "", `/faction/${this.querySelector("#partypk").value}/gm`);'>
            <div class="row has-centered">
                <div class="column is-shrink is-vertically-centered">
                    <div class="is-select">
                        <select class='has-text-center' name='partypk' id='partypk'>
                            <option>==Select Party==</option>
                            {% for p in world.parties %}
                            <option value="{{p.pk}}">
                                {{ p.name }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% endif %}
</div>
{%- endmacro %}


{% macro autogm_campaign_display(user, world, party) -%}
<div class="row">
    {%for scene in party.current_campaign.outline %}
    <div class="column is-full">
        <div class="panel">
            <div class="row has-space-between">
                <div class="column is-shrink">
                    <h3>{{scene.name}} - Act {{scene.act}} Scene {{scene.scene}}</h3>
                </div>
                <div class="column is-shrink">
                    <audio controls onclick='this.nextElementSibling.play();'>
                        <source src="/audio/scenenote/{{scene.pk}}"
                                type="audio/mpeg">
                    </audio>
                    <audio>
                        <source src="/music/scenenote/{{scene.pk}}"
                                type="audio/mpeg">
                    </audio>
                </div>
                <div class="column is-shrink">
                    <small>{{scene.type}}</small>
                </div>
            </div>
            <form hx-post='/api/autogm/{{party.pk}}/scene/{{scene.pk}}/update'
                  hx-swap='none'>
                <div class="row">
                    <div class="column is-full">
                        <h5>Description</h5>
                        {{form_components.texteditor(user, scene, "description") }}
                    </div>
                    <div class="column is-full">
                        <h5>Scenario</h5>
                        {{form_components.texteditor(user, scene, "notes") }}
                    </div>
                </div>
            </form>
            <div class="row has-space-around">
                {% for o in scene.setting%}
                <div class="column is-2">
                    {{display_components.object_display(o)}}
                </div>
                {% endfor %}
                {% for o in scene.actors%}
                <div class="column is-2">
                    {{display_components.object_display(o)}}
                </div>
                {% endfor %}
                {% for o in scene.loot%}
                <div class="column  is-2">
                    {{display_components.object_display(o)}}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{%- endmacro %}


{% macro scene_summary(user, world, party, scene) -%}
<div class="panel has-bg-light">
    <div class="row">
        <div class="column is-full" style='position:relative;'>
            <div class="panel has-bg-muted" style=' width:40%; float:left;'>
                <div class="row has-space-around">
                    {% for ags in party.autogm_summary[-7:] %}
                    {% if ags.image %}
                    <div class="column is-6">
                        <div class="image">
                            <img src="{{ags.image.url(size=500)}}"
                                 loading="lazy"
                                 alt="{{party.name}}" />
                        </div>
                    </div>
                    {% endif%}
                    {% endfor %}
                </div>
            </div>
            {% if scene.summary_audio %}
            <div style='position:absolute; top:0; right:0; width:5rem;'>
                <audio id="scene-narration-player" controls autoplay onclick='playmusic();'>
                    <source src="/audio/gm/{{scene.pk}}/summary_audio"
                            type="audio/mpeg">
                </audio>
                <audio id="scene-music-player" loop autoplay>
                    <source src="{{party.scene.music}}"
                            type="audio/mpeg">
                </audio>
            </div>
            {% endif %}
            <script>
                var music_player = document.getElementById('scene-music-player');
                music_player.loop = true;
                function playmusic() {
                    if (music_player.paused) {
                        music_player.volume = 0.1;
                        music_player.play();
                    } else {
                        music_player.pause();
                    }
                };

                var narrator = document.getElementById("scene-narration-player");
                narrator.volume = 1;
                function playnarration() {
                    console.log(narrator.paused);
                    if (narrator.paused) {
                        narrator.volume = 1;
                        narrator.play();
                    } else {
                        narrator.pause();
                    }
                };
                narrator.addEventListener('click', playnarration);
            </script>
            <div class='generated-text-lightbg'>
                {{scene.summary | safe}}
                <hr>
                {{scene.description | safe}}
            </div>
        </div>
    </div>
</div>
{%- endmacro %}


{% macro scene_party_details(user, world, party) -%}
<hr>
<div class="tabs has-bg-primary has-text-muted is-vertically-centered">
    <ul class="tabs__list has-centered has-text-muted">
        {% for player in party.players %}
        <li style='padding: 1rem;'>
            <a href="#player-card-container-{{player.pk}}"
               class='is-small-heading has-text-center has-text-muted'>
                {{player.name}}
            </a>
        </li>
        {% if not loop.last %}
        <li>{{icon_components.d20dice(size="1rem")}}</li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
<div class="row has-space-around">
    {% for player in party.players %}
    <div class="column has-no-padding has-no-margin is-full">
        {{scene_player_card(user, party, player)}}
    </div>
    {% endfor %}
</div>
{%- endmacro %}


{% macro scene_player_card(user, party, player) %}
<div id="player-card-container-{{player.pk}}" class='panel has-bg-screen'>
    <h3 class='has-text-center has-text-black'>
        {{player.name}}
    </h3>
    <div id="object-card-{{player.pk}}" class='row initiative-card'>
        <div class="column is-shrink has-text-center">
            {{display_components.object_display(player, dim="250", name=False, type=False)}}
            <div class="row">
                <div class="column is-full player-card-abilities">
                    <div class="panel has-bg-muted">
                        <div class="row has-space-around has-text-center has-text-dark"
                             style='cursor: pointer;'>
                            <div class="column is-4 is-mobile-3" onclick='setbonus(this);'>
                                <h4 class="has-text-dark">STR</h4>
                                <p>{{player.strength}} ({{(player.strength|int-10)//2}})</p>
                            </div>
                            <div class="column is-4 is-mobile-3" onclick='setbonus(this);'>
                                <h5 class="has-text-dark">DEX</h5>
                                <p>{{player.dexterity}} ({{(player.dexterity|int-10)//2}})
                                </p>
                            </div>
                            <div class="column is-4 is-mobile-3" onclick='setbonus(this);'>
                                <h5 class="has-text-dark">INT</h5>
                                <p>{{player.intelligence}}
                                    ({{(player.intelligence|int-10)//2}})</p>
                            </div>
                            <div class="column is-4 is-mobile-3" onclick='setbonus(this);'>
                                <h5 class="has-text-dark">WIS</h5>
                                <p>{{player.wisdom}} ({{(player.wisdom|int-10)//2}})</p>
                            </div>
                            <div class="column is-4 is-mobile-3" onclick='setbonus(this);'>
                                <h5 class="has-text-dark">CHA</h5>
                                <p>{{player.charisma}} ({{(player.charisma|int-10)//2}})</p>
                            </div>
                            <div class="column is-4 is-mobile-3" onclick='setbonus(this);'>
                                <h5 class="has-text-dark">CON</h5>
                                <p>{{player.constitution}}
                                    ({{(player.constitution|int-10)//2}})</p>
                            </div>
                        </div>
                    </div>
                    <div class="row has-space-around">
                        <div class="column is-shrink">
                            <h4 class='has-text-dark has-text-center'>Current HP</h4>
                            <div class="row has-space-around">
                                <div class="column is-shrink  inputlabel">
                                    <input class="has-text-center has-text-white"
                                           style='font-size:1.25rem; width:5rem;'
                                           name='current_hitpoints'
                                           value="{{player.current_hitpoints}}"
                                           hx-post='/api/autogm/{{player.pk}}/current_hitpoints'
                                           hx-swap='none' />
                                </div>
                                <div class="column is-shrink">
                                    <h5 class='has-text-dark'>/{{player.hitpoints}}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="column is-shrink">
                            <h4 class='has-text-dark has-text-center'>AC</h4>
                            <h5 class='has-text-dark has-text-center'>{{player.ac}}</h5>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="tabs has-bg-muted">
                <ul class="tabs__list has-centered has-space-around has-text-primary">
                    <li
                        onclick='panelselect("#card-history-details-panel-{{player.pk}}");'>
                        <a>History</a>
                    </li>
                    <li
                        onclick='panelselect("#card-abilities-details-panel-{{player.pk}}");'>
                        <a>Abilities</a>
                    </li>
                    <li
                        onclick='panelselect("#card-inventory-details-panel-{{player.pk}}");'>
                        <a>Inventory</a>
                    </li>
                </ul>
                <script>
                    function panelselect(target) {
                        for (var panel of document.querySelectorAll(".card-details-panel")) {
                            panel.classList.add("is-hidden");
                        }
                        document.querySelector(target).classList.remove("is-hidden");
                    }
                </script>
            </div>
            <div class="row">
                <div id="card-abilities-details-panel-{{player.pk}}"
                     class="column card-details-panel is-full generated-text-lightbg">
                    {{abilities_components.abilities(user, player)}}
                </div>
                <div id="card-history-details-panel-{{player.pk}}"
                     class="column card-details-panel is-hidden is-full generated-text-lightbg has-text-justified">
                    <h2 class='has-text-dark'>History</h2>
                    <div class="panel has-bg-light-grey">
                        {{ player.history | safe }}
                    </div>
                </div>
                {% if player.items %}
                <div id='card-inventory-details-panel-{{player.pk}}'
                     class="column card-details-panel is-full is-hidden ">
                    <div class="panel has-bg-dark-grey">
                        <div class="row has-space-around">
                            {% for item in player.items %}
                            <div class="column is-1">
                                {{display_components.object_display(item, dim=250, type=False, name=False, modal=True)}}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{%- endmacro %}


{% macro scene_associations(user, world, party)%}
<div id='autogm-associations-list-container' class="row has-space-around">
    <div class="column is-half">
        <h4 class='has-text-center has-text-primary'>Search Associations</h4>
        <div class="has-dropdown" style="width: 100%;">
            <input class="has-bg-light" autocomplete="off" type="search"
                   name="query"
                   style="border-bottom: solid #000;"
                   hx-post="/api/autogm/{{party.pk}}/associations/search"
                   hx-target="#autogm-new-associations-list"
                   hx-trigger="input changed delay:500ms consume"
                   hx-on:input="this.value.length < 3 ? this.closest('.has-dropdown').classList.remove('is-active'):this.closest('.has-dropdown').classList.add('is-active')">
            <ul class="dropdown has-bg-light" id="autogm-new-associations-list">
            </ul>
        </div>
    </div>
    <div class="column is-full">
        <h4 class='has-text-center has-text-primary'>Create a new...</h4>
        <div class="row has-space-around">
            {% for child in party.all_models() %}
            <div class="column is-shrink has-text-center">
                <button class="button is-primary has-text-white is-small"
                        hx-post="/api/autogm/{{party.pk}}/associations/add/{{child.__name__ | lower}}"
                        hx-target="#page-content"
                        hx-indicator='#request-indicator'>
                    {{party.get_title(child)}}
                </button>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="column is-full">
        <div class="panel has-bg-screen">
            <div id='autogm-associations-list' class="row has-space-around">
                {% for a in party.current_campaign.associations%}
                {% if not a.is_player %}
                <div class="column is-1 has-space-around autogm-association-entry">
                    {{display_components.object_display(a)}}
                    <div class="row has-space-around">
                        {% if a not in party.associations %}
                        <div class="column is-shrink">
                            <a hx-post="/api/autogm/{{party.pk}}/association/remove/{{a.path}}"
                               hx-target='closest .autogm-association-entry'
                               hx-swap='delete'>
                                {{icon_components.remove(size='1rem')}}
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{%- endmacro %}


{% macro autogm_association_search(user, party, results) %}
{% for o in results %}
<li class="dropdown__link has-bg-muted">
    <a hx-post="/api/autogm/{{party.pk}}/associations/add/{{o.path}}"
       hx-target='#autogm-associations-list'
       hx-select='#autogm-associations-list' hx-swap='outerHTML'
       onclick="this.closest('.has-dropdown').classList.remove('is-active')">
        <div class="row">
            <div class="column is-shrink">
                <div class="image is-tiny is-thumbnail" style="cursor: pointer">
                    {% if o.image %}
                    <img src="{{o.image.url(size=50)}}" alt="{{o.name}}" />
                    {% endif %}
                </div>
            </div>
            <div class="column">
                {{ o.name }}
            </div>
        </div>
    </a>
</li>
{% endfor %}
{%- endmacro %}


{% macro autogm_scene_objects(user, world, party) -%}
<div id="autogm_scene_objects" class="row has-space-around">
    <div class="column is-full">
        <div class="panel has-bg-screen">
            <h4 class="has-text-center">In Scene</h4>
            <div class="row has-space-around">
                {% for cbt in party.current_campaign.associations %}
                {% if not cbt.is_player %}
                <div id="cbt-{{cbt.pk}}" class='column is-2' style='position:relative;'>
                    {% if cbt.image %}
                    {{display_components.object_display(cbt, dim=250)}}
                    {% endif %}
                    <a style="position:absolute;bottom:0;right:0;"
                       hx-post="/api/autogm/{{party.pk}}/scene/remove/{{cbt.path}}"
                       hx-target='closest .column'
                       hx-swap='delete'>
                        {{icon_components.remove(size='1rem')}}
                    </a>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{%- endmacro %}


{% macro autogm_3d(user, world, party) -%}
<div id="autogm-3d" style='z-index: 9999; width: 100%; height: 80vh;'></div>
<script type="module" src="/static/js/autogm/main.js"></script>
{%- endmacro %}