{% import "shared/_form.html" as form_components %}
{% import "shared/_display.html" as display_components %}
{% import "admin/_index.html" as admin_components %}

{% macro manage(user, images, tags=None, tag=None) -%}
<title>Storyteller Admin - Manage Images</title>
<div class="grid-x">
    <div class="cell align-center-middle">
        <h2 class='text-center'>Manage Images</h2>
    </div>
    <div class="cell align-center-middle">
        <h3 class='text-center'>Filter</h3>
        <div class="buttons is-centered">
            <a class="button small {% if not tag %}is-primary{% else %}is-muted {% endif %}"
               href="/admin/manage/images">
                All
            </a>
            {% for t in tags %}
            <a class="button small {% if tag == t %}is-primary{% else %}is-muted {% endif %}"
               hx-post='/admin/manage/images/tag/{{t}}' hx-target='#manager'>
                {{ t }}
            </a>
            {% endfor %}
        </div>
    </div>
    {% for image in images %}
    <div class="cell medium-2">
        <div class='image'>
            <img src="{{ image.url() }}" loading="lazy" alt="{{ image.name or image.title }}">
        </div>
        <p class="text-centered">{{ image.name or image.title }}</p>
        <div class="is-tag-group">
            {% for tag in image.tags %}
            <span class="label">{{tag}}</span>
            {% endfor %}
        </div>
        <button class="button small"
                hx-post="/admin/manage/image/delete"
                hx-vals='{"pk": "{{ image.pk }}", "model": "Image"}'
                hx-swap="delete"
                hx-target='closest .cell'>
            <span>Delete</span>
        </button>
    </div>
    {% endfor %}
</div>
{%- endmacro %}