{% import "shared/_form.html" as form_components %}
{% import "shared/_display.html" as display_components %}

{% macro manage(user) -%}
<title>Manage</title>
<div class="grid-x align-spaced">
    <div class="cell is-full">
        <h2 class='text-center has-text-primary'>Admin Management</h2>
    </div>
    <div class="cell is-2">
        <button class="button is-full" hx-post="/api/admin/manage/images"
                hx-target="#manager">
            <span>Images</span>
        </button>
    </div>
    <div class="cell is-2">
        <button class="button is-full" hx-post="/api/admin/manage/worlds"
                hx-target="#manager">
            <span>Worlds</span>
        </button>
    </div>
    <div class="cell is-2">
        <button class="button is-full" hx-post="/api/admin/manage/users"
                hx-target="#manager">
            <span>Users</span>
        </button>
    </div>
    <div class="cell is-2">
        <button class="button is-full" hx-post="/api/admin/manage/agents"
                hx-target="#manager">
            <span>Agents</span>
        </button>
    </div>
</div>
<hr>
<div class="grid-x align-spaced">
    <div class="cell medium-3">
        <button class="button is-full" hx-post="/admin/manage/migrate"
                hx-target="#manager">
            <span>Migration</span>
        </button>
    </div>
    <div class="cell medium-3">
        <button class="button is-full" hx-post="/api/admin/dbdump" hx-target="#manager">
            <span>DB Backup</span>
        </button>
    </div>
    <div class="cell medium-3">
        <button class="button is-full" hx-post="/api/admin/dbload" hx-target="#manager">
            <span>DB Load</span>
        </button>
    </div>
</div>
<hr>
<div id="manager">
</div>
{%- endmacro %}