{% import "shared/_form.html" as form_components %}
{% import "shared/_display.html" as display_components %}

{% macro manage(user, users) -%}
<title>ADMIN - Manage Users</title>
<div class="grid-x">
    <div class="cell is-full align-center-middle">
        <h2 class='text-center has-text-primary'>Manage Users</h2>
    </div>
    {% for u in users %}
    <div class="cell medium-3">
        {{u.name}}
        <br>
        {{u.email}}
        <br>
        {{u.role}}
        <br>
        ADMIN: {{u.is_admin}}
        <br>
        <button class="button small is-full"
                hx-post="/api/admin/manage/user/delete"
                hx-vals='{"pk": "{{ u.pk }}", "model": "User"}'
                hx-swap="delete"
                hx-target=' closest .cell'>
            <span>Delete</span>
        </button>
        <button class="button small is-full"
                hx-post="/api/admin/manage/user/toggle_admin"
                hx-vals='{"pk": "{{ u.pk }}", "model": "User"}'
                hx-target='#manager'>
            <span>Toggle Admin</span>
        </button>
    </div>
    {% endfor %}
</div>
{%- endmacro %}