{% extends "index.html" %}

{% block page %}
<h1 class="has-text-center">Admin</h1>

<div class="row has-space-around">
    <div class="column is-3 has-centered has-text-center">
        <button class="button" hx-post="/api/admin/manage/images?tag="
                hx-target="#admin-manage-panel"
                hx-push-url="/admin/images" hx-indicator='#request-indicator'>
            Manage Images
        </button>
    </div>
    <div class="column is-3 has-centered has-text-center">
        <button class="button" hx-post="/api/admin/manage/users" hx-target="#admin-manage-panel"
                hx-indicator='#request-indicator'>
            Manage Users
        </button>
    </div>
    <div class="column is-3 has-centered has-text-center">
        <button class="button" hx-post="/api/admin/manage/worlds" hx-target="#admin-manage-panel"
                hx-indicator='#request-indicator'>
            Manage Worlds
        </button>
    </div>
    <div class="column is-3 has-centered has-text-center">
        <button class="button" hx-post="/api/admin/migration" hx-target="#admin-manage-panel"
                hx-indicator='#request-indicator'>
            Migration
        </button>
    </div>
    <div class="column is-3 has-centered has-text-center">
        <button class="button" hx-post="/api/admin/dbdump" hx-target="#admin-manage-panel"
                hx-indicator='#request-indicator'>
            Archive Database
        </button>
    </div>
    <div class="column is-3 has-centered has-text-center">
        <button class="button" hx-post="/api/admin/dbload" hx-target="#admin-manage-panel"
                hx-indicator='#request-indicator'>
            Load from Latest Database Archive
        </button>
    </div>
</div>
<div class="container">
    <div id="admin-manage-panel" class="panel">
        {% if page_content %}
        {{page_content | safe}}
        {% endif %}
    </div>
</div>
{% endblock %}