<!doctype html>
<html lang="en">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta charset="{{url_for('static', filename='images/favicon-32x32.png')}}">
        <link rel="icon" href="data:,">
        <link rel="apple-touch-icon" sizes="180x180"
              href="{{url_for('static', filename='images/apple-touch-icon.png')}}">
        <link rel="icon" type="image/png" sizes="32x32"
              href="{{url_for('static', filename='images/favicon-32x32.png')}}">
        <link rel="icon" type="image/png" sizes="16x16"
              href="{{url_for('static', filename='images/favicon-16x16.png')}}">
        <link rel="stylesheet" type="text/css"
              href="{{ url_for('static', filename='style/main.css') }}">

        <style>
            body {
                background-color: rgb(48, 48, 48);
                height: 100vh;
                width: 100vw;
                padding: 0;
            }

            #map-image,
            #map-grid,
            #map-fow,
            #map-title-panel {
                position: absolute;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;
                overflow: hidden;
            }

            #map-image {
                z-index: 0;
            }

            #map-grid {
                z-index: 101;
            }

            #map-fow {
                z-index: 102;
            }

            #map-show {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, 25%);
                width: 80vw;
                height: 80vh;
                z-index: 103;
            }

            #map-title-panel {
                z-index: 104;
                background-color: rgba(10, 10, 10, 0.97);
            }
        </style>
        <script src="https://unpkg.com/htmx.org@1.9.11"
                integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
                crossorigin="anonymous"></script>
        <script src="https://unpkg.com/htmx.org@1.9.11/dist/ext/json-enc.js"></script>
        <script src="https://code.iconify.design/iconify-icon/1.0.3/iconify-icon.min.js"></script>
        <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
    </head>

    <body class='has-bg-dark' hx-ext='json-enc'>
        {% if scene %}
        <div id="map-image-container" style='position:relative; top:0; left:0;'>
            <div id='map-image' class='has-bg-dark'>
            </div>
            <div id='map-title-panel' class='is-vertically-centered'>
                <h1 class='has-text-center'>{{scene.name}}</h1>
                <h2 class='has-text-center'>(press any key to start)</h2>
            </div>
            <div id='map-grid'>
            </div>
            <div id='map-fow'>
            </div>
            <div id="map-show" class="is-hidden">
                <div class="row">
                    <div class="column is-10 is-center is-vertically-centered">
                        <div class="panel has-bg-muted" style='height:100%;'>
                            <h3
                                class='has-text-center has-no-padding-bottom has-no-margin'>
                            </h3>
                            <div class="image is-rounded-tile is-margin-center"
                                 style='height:100%;'>
                                <img id='map-show-img' src="" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            /* Allow fullscreen with a keypress */

            const audio = new Audio("/{{scene.music}}");
            audio.loop = true;
            var mapImg = music = fow = grid = show = "";
            var refreshInterval = null;

            let mwidth = htmx.find("#map-image").width;
            let mheight = htmx.find("#map-image").height;

            var fowimg = htmx.find('#map-fow');
            var gridimg = htmx.find('#map-grid');

            var showContainer = htmx.find("#map-show");
            showContainer.width = mwidth;
            showContainer.height = mheight;

            function updateMap() {
                console.log('/map/{{ episode.campaign.pk }}/update');
                fetch("/map/{{episode.campaign.pk}}/update")
                    .then(data => { return data.json(); })
                    .then((r) => {
                        //console.log(r);
                        if (r.is_updated) {
                            /*Map*/
                            if (r.img !== mapImg) {
                                mapImg = r.img;
                                htmx.find("#map-image").style.backgroundImage = `url("${mapImg}")`;
                            }

                            /*Music*/
                            if (r.music !== music) {
                                music = r.music;
                                audio.src = `/${music}`;
                                audio.play();
                                console.log("Music updated");
                            }

                            /*Fog of War*/
                            if (fow !== r.fow) {
                                fow = r.fow;
                                fowimg.style.backgroundImage = `url("${fow}")`;
                            }

                            /*Grid*/;
                            if (r.grid !== grid) {
                                grid = r.grid;
                                gridimg.style.backgroundImage = `url("${grid}")`;
                            }
                            console.log(show, r.show);
                            if (show !== r.show) {
                                show = r.show;
                                img = show.map ? show.map : show.img;
                                showContainer.querySelector("h3").innerText = show.name;
                                showContainer.querySelector("#map-show-img").alt = show.name;
                                showContainer.querySelector("#map-show-img").src = img;
                                showContainer.classList.remove("is-hidden");
                                console.log("Showing");
                            } else if (!r.show) {
                                showContainer.classList.add("is-hidden");
                                console.log("Done Showing");
                            }
                        }
                    });
            }

            //TESTING
            //setInterval(updateMap, 2000);

            document.addEventListener(
                "keydown",
                (e) => {
                    if (!document.fullscreenElement) {
                        document.documentElement.requestFullscreen();
                        audio.play();
                        htmx.find('#map-title-panel').classList.add('is-hidden');
                        if (refreshInterval) {
                            clearInterval(refreshInterval);
                        }
                        refreshInterval = setInterval(updateMap, 2000);
                    } else if (document.exitFullscreen) {
                        document.exitFullscreen();
                        clearInterval(refreshInterval);
                        refreshInterval = null;
                        audio.pause();
                        htmx.find('#map-title-panel').classList.remove('is-hidden');
                    }
                    window.scrollTo(0, 0);
                },
                false,
            );

            fetch("/map/{{episode.campaign.pk}}/update")
                .then(data => { return data.json(); })
                .then((r) => {
                    /*Map*/
                    mapImg = r.img;
                    htmx.find("#map-image").style.backgroundImage = `url("${mapImg}")`;

                    /*Music*/
                    if (r.music) {
                        music = r.music;
                        audio.src = `/${music}`;
                        audio.play();
                        console.log("Music updated");
                    }

                    /*Fog of War*/
                    if (r.fow) {
                        fow = r.fow;
                        fowimg.style.backgroundImage = `url("${fow}")`;
                    }

                            /*Grid*/;
                    if (r.grid) {
                        grid = r.grid;
                        gridimg.style.backgroundImage = `url("${grid}")`;
                    }
                    if (r.show) {
                        show = r.show;
                        img = show.map ? show.map : show.img;
                        showContainer.querySelector("h3").innerText = show.name;
                        showContainer.querySelector("#map-show-img").alt = show.name;
                        showContainer.querySelector("#map-show-img").src = img;
                        showContainer.height = mheight;
                        showContainer.classList.remove("is-hidden");
                        console.log("Showing");
                    } else if (!r.show) {
                        showContainer.classList.add("is-hidden");
                        console.log("Done Showing");
                    }
                });
        </script>
        {% endif %}
    </body>

</html>