{% import "shared/_form.html" as form_components %}
{% import "shared/_icons.html" as icon_components %}
{% import "shared/_details.html" as details_components %}
{% import "shared/_title.html" as title_components %}

{% macro ability_display(ability) -%}
<a href="#" class="accordion-title">{{ability.name}}</a>
<div class="accordion-content" data-tab-content>
    <table class="ability">
        <tr>
            <th>Description</th>
            <td>{{ability.description | safe}}</td>
        </tr>
        <tr>
            <th>Details</th>
            <td>
                <table class="ability-subtable margin-0">
                    <tr>
                        <th>Category</th>
                        <td>{{ability.category | safe}}</td>
                        <th>Action</th>
                        <td>{{ability.action | safe}}</td>
                        <th>Type</th>
                        <td>{{ability.type | safe}}</td>
                        <th>Duration</th>
                        <td>{{ability.duration | striptags}}</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <th>Roll</th>
            <td>{{ability.dice_roll | safe}}</td>
        </tr>
        <tr>
            <th>Mechanics</th>
            <td>{{ability.mechanics | safe}}</td>
        </tr>
        <tr>
            <th>Effects</th>
            <td>{{ability.effects | safe}}</td>
        </tr>
    </table>
</div>
{%- endmacro %}

{% macro ability_edit(user, ability) -%}
<a href="#" class="accordion-title">{{ability.name}}</a>
<div id="ability_{ability.pk}" class="accordion-content" data-tab-content>
    <form hx-post='/ability/{{ability.pk}}/update'
          hx-trigger="input delay:500ms, change"
          hx-swap='none'>
        <table class="ability">
            <tr>
                <th>Name</th>
                <td>
                    <div class="grid-x grid-margin-x align-center-middle">
                        <div class="cell auto">
                            {{form_components.text_input("name", value=ability.name)}}
                        </div>
                        <div class="cell shrink">
                            <div
                                 hx-post='/ability/{{ability.pk}}/generate'
                                 hx-trigger="click"
                                 hx-target='#ability_{{ability.pk}}'
                                 {% if ability.description %}
                                 hx-prompt='Regenerate ability "{{ability.name}}"? This will replace all of the existing information.'
                                 {% endif %}>
                                {{icon_components.regenerate(size="1rem")}}
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Description</th>
                <td>
                    {{form_components.richtexteditor(user, ability, "description")}}
                </td>
            </tr>
            <tr>
                <th>Details</th>
                <td>
                    <table class="ability-subtable margin-0">
                        <tr>
                            <td>
                                <label for="category">Action Category</label>
                                <select name='category'
                                        value="{{ability.category}}">
                                    {%for a in [
                                    "offensive",
                                    "defensive",
                                    "social",
                                    "support",
                                    "control",
                                    "movement",
                                    "utility",
                                    ] %}
                                    <option value="{{a}}" {% if ability.category==a %} selected
                                            {% endif %}>{{a}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <label for="action">Action</label>
                                <select name='action'
                                        value="{{ability.action}}">
                                    {%for a in ["main action", "bonus action", "reaction",
                                    "free action", "passive"] %}
                                    <option value="{{a}}" {% if ability.action==a %} selected {%
                                            endif %}>{{a}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                {{form_components.richtexteditor(user, ability, "duration", name="duration")}}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <th>Roll</th>
                <td>
                    {{form_components.richtexteditor(user, ability, "dice_roll", name="dice_roll")}}
                </td>
            </tr>
            <tr>
                <th>Mechanics</th>
                <td>
                    {{form_components.richtexteditor(user, ability, "mechanics", name="mechanics")}}
                </td>
            </tr>
            <tr>
                <th>Effects</th>
                <td>
                </td>
            </tr>
            <tr>
                <th>
                    <a
                       hx-post='/ability/{{ability.pk}}/remove'
                       hx-target='#ability_{{ability.pk}}'
                       hx-swap='delete' hx-trigger="click consume"
                       hx-confirm='Are you sure you want to remove ability "{{ability.name}}"? This will NOT delete the ability from the world.'>
                        {{icon_components.remove(size="1.5rem")}}
                    </a>
                </th>
                <td>
                    <a
                       hx-post='/ability/{{ability.pk}}/delete'
                       hx-target='#ability_{{ability.pk}}'
                       hx-swap='delete' hx-trigger="click consume"
                       hx-confirm='Are you sure you want to permanently delete ability"{{ability.name}}"? This will remove it from all associated objects and cannot be undone.'>
                        {{icon_components.delete(size="1.5rem")}}
                    </a>
                </td>
            </tr>
        </table>
    </form>
</div>
{%- endmacro %}