{% import "models/_episode.html" as episode_components %}
{% import "shared/_icons.html" as icon_components %}
{% import "shared/_title.html" as title_components %}
{% import "shared/_history.html" as history_components %}
{% import "shared/_stories.html" as story_components %}
{% import "shared/_display.html" as display_components %}
{% import "shared/_timeline.html" as timeline_components %}
{% import "manage/_campaign.html" as manage_campaign_components %}
{% import "shared/_associations.html" as associations_components %}

{% macro index(user, campaign) -%}
{{episodes(user, campaign)}}
{%- endmacro %}

{% macro menu(user, obj) -%}
<li>
    <a href="/{{obj.path}}/episodes">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.episode(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Episodes</span>
            </div>
        </div>
    </a>
</li>
<li>
    <a href="/{{obj.path}}/details">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.details(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Details</span>
            </div>
        </div>
    </a>
</li>
<li>
    <a href="/{{obj.path}}/history">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.history(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>History</span>
            </div>
        </div>
    </a>
</li>
<li>
    <a href="/{{obj.path}}/timeline">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.timeline(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Timeline</span>
            </div>
        </div>
    </a>
</li>
<li>
    <a href="/{{obj.path}}/graphic_novel">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.graphic_novel(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Graphic Novel</span>
            </div>
        </div>
    </a>
</li>
<li>
    <a href="/{{obj.path}}/stories">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.story(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Stories</span>
            </div>
        </div>
    </a>
</li>
{% endmacro %}

{% macro details(user, campaign) -%}
<div class="grid-x">
    <div class="cell medium-6">
        <h4 class="-grey text-center">
            Started: {{campaign.start_date if campaign.start_date else 'TBD'}}
        </h4>
    </div>
    <div class="cell medium-6">
        <h4 class="-grey text-center">
            Ended: {{campaign.end_date if campaign.end_date else 'TBD'}}
        </h4>
    </div>
    <div class="cell">
        <div class="callout has-text-justified">
            {{campaign.description | safe}}
        </div>
    </div>
    <div class="cell">
        <div class="callout ">
            <hr>
            <div class='  has-text-justified generated-text-lightbg'>
                {{campaign.summary | safe}}
            </div>
            <hr>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro history(user, obj) -%}
{{history_components.history(user, obj)}}
{%- endmacro %}

{% macro associations(user, obj, extended_associations, direct_associations=None)%}
{{associations_components.associations(user, obj, extended_associations, direct_associations)}}
{%- endmacro %}

{% macro episodes(user, campaign) -%}
<div id="episode-list" class="section small">
    <div class="callout">
        <h2 class='text-center'> Episodes </h2>
        <div class="grid-x">
            {% if user.world_user(campaign)%}
            <div class="cell shrink">
                <button class="button small"
                        hx-post="/campaign/{{campaign.pk}}/episode/new"
                        hx-target="#episode-list"
                        hx-select="#episode-list"
                        hx-swap="outerHTML">
                    {{icon_components.plus(size="1rem")}}
                    New Episode
                </button>
            </div>
            {% endif %}
            {% for entry in campaign.episodes %}
            <div class="cell episode-association-entry">
                <div class="callout ">
                    <div class="grid-x">
                        <div class="cell align-center-middle">
                            <a href='/episode/{{entry.pk}}'>
                                <h4>{{entry.name}}</h4>
                                <h5 class='subheader'>Episode #{{entry.episode_num}}</h5>
                            </a>
                        </div>
                        <div class="cell shrink">
                            {% if entry.start_date %}
                            <span class='label has-text-white'>
                                {{entry.start_date}}
                            </span>
                            {% endif %}
                        </div>
                        <div class="cell shrink">
                            {{icon_components.line()}}
                        </div>
                        <div class="cell shrink">
                            {% if entry.end_date %}
                            <span class='label has-text-white'>
                                {{entry.end_date}}
                            </span>
                            {% endif %}
                        </div>
                        <div class="cell align-center-middle generated-text-lightbg"
                             style='font-size: 0.75rem;'>
                            {{entry.summary | safe}}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{%- endmacro %}

{% macro timeline(user, obj)%}
{{timeline_components.timeline(user, obj)}}
{%- endmacro %}

{% macro stories(user, obj)%}
{{story_components.stories(user, obj)}}
{%- endmacro %}

{% macro graphic_novel(user, obj)%}
<h3 class='text-center'>Graphic Novel</h3>
<div class="grid-x">
    {% for entry in obj.episodes[::-1] %}
    <div class="cell medium-6">
        <div class="callout ">
            <h5 class='text-center'>{{entry.name}}</h5>
            {% if entry.graphic %}
            <div class='image'>
                <img src='{{entry.graphic.url()}}' alt='{{entry.name}}'>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{%- endmacro %}

{% macro manage(user, obj) -%}
{{ manage_campaign_components.manage(user, obj) }}
{%- endmacro %}