{% import "shared/_form.html" as form_components %}
{% import "shared/_display.html" as display_components %}
{% import "shared/_abilities.html" as abilities_components %}
{% import "shared/_icons.html" as icon_components %}
{% import "shared/_history.html" as history_components %}
{% import "shared/_details.html" as details_components %}
{% import "shared/_timeline.html" as timeline_components %}
{% import "shared/_journal.html" as journal_components %}
{% import "shared/_stories.html" as story_components %}
{% import "shared/_campaigns.html" as campaigns_components %}
{% import "shared/_associations.html" as associations_components %}
{% import "manage/_character.html" as manage_character_components %}
{% import "shared/_title.html" as title_components %}
{% import "shared/_gmnotes.html" as gmnotes_components %}

{% macro index(user, obj) -%}
{{details_components.details(user,obj)}}
{%- endmacro %}

<!-- unique menu items for campaigns -->
{% macro menu(user, obj) -%}

<li>
    <a href=""
       hx-get="/api/{{obj.path}}/details" hx-target="#page-content"
       hx-indicator="#request-indicator" hx-swap="innerHTML show:#page-content:top"
       hx-push-url="/{{obj.path}}/details">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.details(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Details</span>
            </div>
        </div>
    </a>
</li>
<li>
    <a href=""
       hx-get="/api/{{obj.path}}/history"
       hx-target="#page-content"
       hx-indicator="#request-indicator" hx-swap="innerHTML show:#page-content:top"
       hx-push-url="/{{obj.path}}/history">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.history(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>History</span>
            </div>
        </div>
    </a>
</li>
<li>
    <a href=""
       hx-get="/api/{{obj.path}}/lineage"
       hx-target="#page-content"
       hx-indicator="#request-indicator" hx-swap="innerHTML show:#page-content:top"
       hx-push-url="/{{obj.path}}/lineage">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.lineage(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Lineage</span>
            </div>
        </div>
    </a>
</li>
<li>
    <a href=""
       hx-get="/api/{{obj.path}}/timeline"
       hx-target="#page-content"
       hx-indicator="#request-indicator" hx-swap="innerHTML show:#page-content:top"
       hx-push-url="/{{obj.path}}/timeline">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.timeline(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Timeline</span>
            </div>
        </div>
    </a>
</li>
<li>
    <a href=""
       hx-get="/api/{{obj.path}}/campaigns"
       hx-target="#page-content"
       hx-indicator="#request-indicator"
       hx-swap="innerHTML show:#page-content:top"
       hx-push-url="/{{obj.path}}/campaigns">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.campaigns(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Campaigns</span>
            </div>
        </div>
    </a>
</li>
{% if user.world_user(obj) %}
<li>
    <a href=""
       hx-get="/api/{{obj.path}}/stories"
       hx-target="#page-content"
       hx-indicator="#request-indicator"
       hx-swap="innerHTML show:#page-content:top"
       hx-push-url="/{{obj.path}}/stories">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.story(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Stories</span>
            </div>
        </div>
    </a>
</li>
<li>
    <a href=""
       hx-get="/api/{{obj.path}}/journal" hx-target="#page-content"
       hx-indicator="#request-indicator" hx-swap="innerHTML show:#page-content:top"
       hx-push-url="/{{obj.path}}/journal">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.journal(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Journal</span>
            </div>
        </div>
    </a>
</li>
{% endif %}
{% if user.world_user(obj) %}
<li>
    <a href="" hx-get="/api/{{obj.path}}/quests" hx-target="#page-content"
       hx-indicator="#request-indicator" hx-swap="innerHTML"
       hx-push-url=" /{{obj.path}}/quests">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.quest(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Quests</span>
            </div>
        </div>
    </a>
</li>
{% endif %}
<li>
    <a href="" hx-get="/api/{{obj.path}}/chat" hx-target="#page-content"
       hx-indicator="#request-indicator" hx-swap="innerHTML"
       hx-push-url=" /{{obj.path}}/chat">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.chat(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Chat</span>
            </div>
        </div>
    </a>
</li>
{% if user.world_user(obj) %}
<li>
    <a href="" hx-get="/api/{{obj.path}}/gmnotes" hx-target="#page-content"
       hx-indicator="#request-indicator" hx-swap="innerHTML"
       hx-push-url=" /{{obj.path}}/gmnotes">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.gamemaster(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>GM Notes</span>
            </div>
        </div>
    </a>
</li>
{% endif %}
{%- endmacro %}

<!-- display ability stats -->
{% macro dsp_stats(user, obj) -%}
<h3>Stats</h3>
<table>
    <tr>
        <th>STR</th>
        <th>DEX</th>
        <th>INT</th>
        <th>WIS</th>
        <th>CHA</th>
        <th>CON</th>
    </tr>
    <tr>
        <td>{{obj.strength}} ({{(obj.strength|int-10)//2}})</td>
        <td>{{obj.dexterity}} ({{(obj.dexterity|int-10)//2}})</td>
        <td>{{obj.intelligence}} ({{(obj.intelligence|int-10)//2}})</td>
        <td>{{obj.wisdom}} ({{(obj.wisdom|int-10)//2}})</td>
        <td>{{obj.charisma}} ({{(obj.charisma|int-10)//2}})</td>
        <td>{{obj.constitution}} ({{(obj.constitution|int-10)//2}})</td>
    </tr>
</table>

<table id="ac-hp">
    <tr>
        <th>AC</th>
        <td>{{obj.ac}}</td>
    </tr>
    <tr>
        <th>HP</th>
        <td>{{obj.current_hitpoints}} / {{obj.hitpoints}}</td>
    </tr>
</table>
{%- endmacro %}

<!-- display special skills -->
{% macro dsp_skills(user, obj) -%}
{% if obj.skills %}
<h3>Skills</h3>
<div class="grid-x grid-margin-x">
    {% for skill, val in obj.skills.items() %}

    <table class="cell auto">
        <tr>
            <th>{{skill}}</th>
            <td>{{val}}</td>
        </tr>
    </table>
    {% endfor %}
</div>
{%endif%}
{%- endmacro %}


{% macro history(user, obj) -%}
{{history_components.history(user, obj)}}
{%- endmacro %}

{% macro details(user, obj) -%}
<title>{{obj.name or obj.title}} - Details</title>
<div class="callout white">
    {{details_components.details_dates(user, obj)}}
    {{info(user, obj)}}
    <hr>
    {{details_components.details_backstory(user, obj)}}
    <hr>
    {{details_components.details_description(user, obj)}}
</div>
{%- endmacro %}

{% macro info(user, obj) -%}
<div class="callout">
    <div class="grid-x align-spaced">
        <div class="cell shrink">
            <h4>STR</h4>
            <p>{{obj.strength}} ({{(obj.strength|int-10)//2}})</p>
        </div>
        <div class="cell shrink">
            <h4>DEX</h4>
            <p>{{obj.dexterity}} ({{(obj.dexterity|int-10)//2}})</p>
        </div>
        <div class="cell shrink">
            <h4>CON</h4>
            <p>{{obj.constitution}} ({{(obj.constitution|int-10)//2}})</p>
        </div>
        <div class="cell shrink">
            <h4>INT</h4>
            <p>{{obj.intelligence}} ({{(obj.intelligence|int-10)//2}})</p>
        </div>
        <div class="cell shrink">
            <h4>WIS</h4>
            <p>{{obj.wisdom}} ({{(obj.wisdom|int-10)//2}})</p>
        </div>
        <div class="cell shrink">
            <h4>CHA</h4>
            <p>{{obj.charisma}} ({{(obj.charisma|int-10)//2}})</p>
        </div>
    </div>
</div>
<div class="grid-x align-spaced">
    {% for skill, val in obj.skills.items() %}
    <div class="cell shrink small-3">
        <div class="callout">
            <h5 class='text-center'>{{skill}}</h5>
            <p class='text-center'>{{val}}</p>
        </div>
    </div>
    {% endfor %}
</div>
<div class="grid-x align-spaced">
    <div class="cell shrink">
        <h4>MAX HP</h4>
        <p>{{obj.hitpoints}}</p>
    </div>
    <div class="cell shrink">
        <h4>Speed</h4>
        <p>{{obj.speed}} {{obj.speed_units}}</p>
    </div>
    <div class="cell shrink">
        <h4>Occupation</h4>
        <p>{{obj.occupation}}</p>
    </div>
    <div class="cell shrink">
        <h4>Archetype (i.e. Class)</h4>
        <p>{{obj.archetype}}</p>
    </div>
    <div class="cell shrink">
        <h4>AC</h4>
        <p>{{obj.ac}}</p>
    </div>
</div>
<div class='row align-spaced'>
    <div class="cell">
        <div class="grid-x align-spaced">
            <div class="cell shrink">
                <h4>Age</h4>
                {% if obj.age %}
                <p>{{obj.age}}</p>
                {% else%}
                <p>Unknown</p>
                {% endif %}
            </div>
            <div class="cell shrink">
                <h4>Species</h4>
                <p>{{obj.species}}</p>
            </div>
            <div class="cell shrink">
                <h4>Gender</h4>
                <p>{{obj.gender}}</p>
            </div>
        </div>
    </div>
</div>
{% if user.world_user(obj)%}
<div class="grid-x">
    <div class="cell">
        <div class="callout">
            <h3 class='text-center'>Goals and Secrets</h3>
            <p>{{obj.goal | safe}}</p>
        </div>
    </div>
    {% if obj.abilities %}
    <div id="model-abilities" class="cell medium-6">
        {{abilities_components.details(user, obj)}}
    </div>
    {% endif %}
    {% if obj.wealth or obj.items %}
    <div id="model-wealth" class="cell medium-6">
        <div class="callout">
            <h4>Wealth</h4>
            <div class="grid-x align-spaced">
                {% for item in obj.items %}
                <div class="cell medium-3">
                    {{display_components.object_display(item, type=False)}}
                </div>
                {% endfor %}
            </div>
        </div>
        {% if obj.wealth %}
        <div class="callout">
            {% for w in obj.wealth %}
            <p>{{w | safe}}</p>
            <hr>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endif %}
{%- endmacro %}

{% macro gmnotes(user, obj) -%}
<div id="gmnotes" lass="callout">
    <h3 class='text-center'>GM Notes</h3>
    {{gmnotes_components.foundry_buttons(user, obj)}}
    <div class="grid-x grid-margin-x">
        <div class="cell medium-6">
            {{gmnotes_components.details(user, obj)}}
            <h4>Look-A-Like</h4>
            {{obj.lookalike | safe}}
            <h4>Voice</h4>
            {{obj.voice_description | safe}}
        </div>
        <div class="cell medium-6">
            {{gmnotes_components.display_encounters(user, obj)}}
        </div>
        <div class="cell medium-6">
            {{gmnotes_components.rumors(user, obj)}}
        </div>
        <div class="cell medium-6">
            {{gmnotes_components.hooks(user, obj)}}
        </div>
    </div>
    {{gmnotes_components.reference(user, obj)}}
</div>
{%- endmacro %}

{% macro timeline(user, obj)%}
{{timeline_components.timeline(user, obj)}}
{%- endmacro %}

{% macro journal(user, obj)%}
{{journal_components.journal(user, obj)}}
{%- endmacro %}

{% macro stories(user, obj)%}
{{story_components.stories(user, obj)}}
{%- endmacro %}

{% macro campaigns(user, obj)%}
{{campaigns_components.campaigns(user, obj)}}
{%- endmacro %}

{% macro associations(user, obj, extended_associations, direct_associations=None)%}
{{associations_components.associations(user, obj, extended_associations, direct_associations)}}
{%- endmacro %}

{% macro lineage(user, obj)%}
<h2>Lineage</h2>
{% if user.world_user(obj) %}
<div class="callout ">
    <h4 class=' text-center'>Add Family Member</h4>
    <form hx-post="/api/manage/character/addlineage" hx-target="#page-content">
        <div class="grid-x has-centered">
            <div class="cell shrink">
                <div class="is-select">
                    <select class=" select" name="role">
                        <option value="parent">Parent</option>
                        <option value="sibling">Sibling</option>
                        <option value="child">Child</option>
                    </select>
                </div>
            </div>
            <div class="cell medium-4 is-mobile-6">
                <div class="is-select">
                    <select class=" select" name="character">
                        <option value="">=== Select from Associations ===</option>
                        {% for character in obj.characters %}
                        {% if character not in obj.lineage %}
                        <option value="{{character.pk}}">{{character.name}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="cell shrink is-mobile-2 align-center-middle">
                <button class="button small">
                    Add Family Member
                </button>
            </div>
        </div>
    </form>
</div>
{% endif %}
<div class="callout">
    <div class="grid-x align-spaced">
        <div class="cell">
            <h4 class='text-center'>Parents</h4>
            {% if obj.parent_lineage %}
            <div class="grid-x align-spaced">
                {% for parent in obj.parent_lineage %}
                <div class="cell medium-2" style='position:relative;'>
                    {{display_components.object_display(parent)}}
                    <a style='position:absolute; top:0px; right:5px;'
                       hx-post="/api/manage/character/removelineage/{{parent.pk}}"
                       hx-target="#page-content"
                       hx-confirm="Are you sure you want to remove this character from the lineage?">
                        <iconify-icon icon="mdi:remove"
                                      width="1rem"></iconify-icon>
                    </a>
                </div>

                {% endfor %}
            </div>
            {% else %}
            <p class=" text-center">None</p>
            {% endif %}
        </div>
        <div class="cell">
            <h4 class='text-center'>Siblings</h4>
            {% if obj.sibling_lineage %}
            <div class="grid-x align-spaced">
                {% for sibling in obj.sibling_lineage %}
                <div class="cell medium-2" style='position:relative;'>
                    {{display_components.object_display(sibling)}}
                    <a style='position:absolute; top:0px; right:5px;'
                       hx-post="/api/manage/character/removelineage/{{sibling.pk}}"
                       hx-target="#page-content"
                       hx-confirm="Are you sure you want to remove this character from the lineage?">
                        <iconify-icon icon="mdi:remove"
                                      width="1rem"></iconify-icon>
                    </a>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p class=" text-center">None</p>
            {% endif %}
        </div>
        <div class="cell">
            <h4 class='text-center'>Children</h4>
            {% if obj.children_lineage %}
            <div class="grid-x align-spaced">
                {% for child in obj.children_lineage %}
                <div class="cell medium-2" style='position:relative;'>
                    {{display_components.object_display(child)}}
                    <a style='position:absolute; top:0px; right:5px;'
                       hx-post="/api/manage/character/removelineage/{{child.pk}}"
                       hx-target="#page-content"
                       hx-confirm="Are you sure you want to remove this character from the lineage?">
                        <iconify-icon icon="mdi:remove"
                                      width="1rem"></iconify-icon>
                    </a>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p class=" text-center">None</p>
            {% endif %}
        </div>
    </div>
</div>
{%- endmacro %}

{% macro quests(user, obj) -%}
<div class="callout">
    <form hx-post="/api/manage/{{obj.pk}}/quest/create">
        <div class="grid-x align-spaced">
            <div class="cell">
                <h3>Quest Board</h3>
            </div>
            <div class="cell shrink">
                <h5>Storyline</h5>
            </div>
            <div class="cell medium-4">
                <div class="is-select">
                    <select class=" select" name="storyline">
                        {% for story in obj.world.stories %}
                        <option value="{{story.pk}}">{{story.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="cell shrink align-center-middle">
                <button class="button">
                    Create New Quest
                </button>
            </div>
        </div>
    </form>
</div>
<hr>
<ul class="accordion" data-accordion data-allow-all-closed="true">
    {% for entry in obj.quests %}
    <li class="accordion-item" data-accordion-item>
        <a class="accordion-title" href="#quest-entry-{{obj.pk}}">
            <div class="grid-x grid-margin-x">
                <div class="cell shrink"
                     onclick='this.closest(".accordion__item").classList.toggle("is-active");'>
                    <h3>{{entry.name}}</h3>
                </div>
                <div class="cell shrink">
                    <h5>({{entry.status}})</h5>
                </div>
                <div class="cell auto"></div>
                <div class="cell shrink">
                    <button class="button small"
                            hx-post="/api/manage/quest/{{entry.pk}}/edit"
                            hx-target="#page-content">
                        Edit
                    </button>
                </div>
                <div class="cell shrink align-center-middle">
                    <button class="button small"
                            hx-post="/api/manage/quest/{{entry.pk}}/delete"
                            hx-target='closest li'
                            hx-swap="delete"
                            hx-confirm='Are you sure you want to delete this entry?'>
                        {{icon_components.trash(size="1rem")}}
                    </button>
                </div>
            </div>
        </a>
        <div class="accordion-content" data-tab-content>
            <hr>
            <div class="callout">
                <div class="grid-x">
                    <div class="cell medium-6">
                        <div class="callout">
                            <h4 class='text-center'>Summary</h4>
                            {{entry.summary | safe}}
                        </div>
                    </div>
                    <div class="cell medium-6">
                        <div class="callout">
                            <h4 class=' text-center'>Hook</h4>
                            {{entry.hook | safe}}
                        </div>
                    </div>
                    <div class="cell">
                        <div class="callout">
                            <h4 class=' text-center'>Description</h4>
                            {{entry.description | safe}}
                        </div>
                    </div>
                </div>
                <div class="grid-x">
                    <div class="cell">
                        <div class="callout">
                            <h4 class='text-center'>Antagonist</h4>
                            {{entry.antagonist | safe}}
                        </div>
                    </div>
                </div>
                <hr>
                <div class="callout">
                    <h4 class='text-center'>Plot Twist</h4>
                    <div>{{entry.plot_twist | safe}}</div>
                </div>
                <hr>
                <div class="callout">
                    <h4 class='text-center'>Rewards</h4>
                    {{entry.rewards | safe}}
                </div>
                <hr>
                <h4 class=' text-center'>Associations</h4>
                <div class="grid-x align-spaced">
                    {% if entry.associations %}
                    {% for ass in entry.associations %}
                    <div class="cell medium-1">
                        {{display_components.object_display(ass)}}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <hr>
        </div>
    </li>
    {% endfor %}
</ul>
{%- endmacro %}

{% macro manage(user, obj) -%}
{{ manage_character_components.manage(user, obj) }}
{%- endmacro %}