{% import "shared/_form.html" as form_components %}
{% import "shared/_history.html" as history_components %}
{% import "shared/_details.html" as details_components %}
{% import "shared/_journal.html" as journal_components %}
{% import "shared/_stories.html" as story_components %}
{% import "shared/_campaigns.html" as campaign_components %}
{% import "shared/_associations.html" as associations_components %}
{% import "shared/_display.html" as display_components %}
{% import "manage/_encounter.html" as manage_encounter_components %}
{% import "shared/_icons.html" as icon_components %}
{% import "shared/_title.html" as title_components %}


{% macro index(user, obj) -%}
{{history(user, obj)}}
{%- endmacro %}

{% macro menu(user, obj) -%}
<li>
    <a href=""
       hx-get="/api/{{obj.path}}/details" hx-target="#page-content"
       hx-indicator="#request-indicator" hx-swap="innerHTML show:#page-content:top"
       hx-push-url="/{{obj.path}}/details">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.details(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Details</span>
            </div>
        </div>
    </a>
</li>
<li>
    <a href=""
       hx-get="/api/{{obj.path}}/history"
       hx-target="#page-content"
       hx-indicator="#request-indicator" hx-swap="innerHTML show:#page-content:top"
       hx-push-url="/{{obj.path}}/history">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.history(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>History</span>
            </div>
        </div>
    </a>
</li>
{% if user.world_user(obj) %}
<li>
    <a href=""
       hx-get="/api/{{obj.path}}/journal" hx-target="#page-content"
       hx-indicator="#request-indicator" hx-swap="innerHTML show:#page-content:top"
       hx-push-url="/{{obj.path}}/journal">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.journal(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Journal</span>
            </div>
        </div>
    </a>
</li>
{% endif %}
{%- endmacro %}

{% macro history(user, obj) -%}
{{title_components.object_title(user, obj)}}
{{history_components.history(user, obj)}}
{%- endmacro %}

{% macro details(user, obj) -%}
{{title_components.object_title(user, obj)}}
{{details_components.details(user, obj)}}
{%- endmacro %}

{% macro gmnotes(user, obj) -%}
<div id="gmnotes" class="panel has-bg-dark generated-text-darkbg">
    <h3 class='text-center'>GM Notes</h3>
    <div class="grid-x">
        <div class="cell is-half">
            <h5>Summary</h5>
            <div class="panel">
                {{obj.backstory_summary | safe}}
            </div>
        </div>
        <div class="cell is-half">
            <h5>Notes</h5>
            <div class="panel">
                {{obj.notes | safe}}
            </div>
        </div>
        <div class="cell is-full">
            <h5>Mechanics</h5>
            <div class="panel">
                {{obj.mechanics | safe}}
            </div>
        </div>
        {% if obj.enemies %}
        <div class="cell is-full">
            <h5>Antagonists</h5>
            <div class="panel">
                <div class="grid-x align-spaced">
                    {% for sd in obj.enemies %}
                    <div class="cell is-2">
                        {{display_components.object_display(sd)}}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{%- endmacro %}

{% macro info(user, obj=None) -%}
<div class="grid-x align-spaced">
    <div class="cell shrink">
        <div class="panel">
            <div class="grid-x">
                <div class="cell shrink align-center-middle">
                    <h4>Difficulty:</h4>
                </div>
                <div class="cell align-center-middle">
                    <h5 class='has-text-light-grey'>{{obj.difficulty}}</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="cell shrink">
        <div class="panel">
            <div class="grid-x">
                <div class="cell shrink align-center-middle">
                    <h4>Enemy Type:</h4>
                </div>
                <div class="cell align-center-middle">
                    <h5 class='has-text-light-grey'>{{obj.enemy_type}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="grid-x">
    {% if user.world_user(obj)%}
    <div class="cell is-full">
        <div class="panel ">
            <h3 class="has-text-dark">Triggers</h3>
            <span class="has-text-dark">
                {{obj.trigger_conditions | safe}}
            </span>
        </div>
        <hr>
    </div>
    <div class="cell is-half">
        <h3 class="has-text-dark">Player Contingencies</h3>
        <ul class="has-text-dark">
            {% for pc in obj.player_contingencies %}
            <li>{{ pc | safe }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="cell is-half">
        <h3 class="has-text-dark">Potential Outcomes</h3>
        <ul class="has-text-dark">
            {% for pc in obj.potential_outcomes %}
            <li>{{ pc | safe }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="cell is-full">
        <div class="panel ">
            <h3 class="has-text-dark">Complications</h3>
            <span class="has-text-dark">
                {{obj.complications | safe}}
            </span>
        </div>
    </div>
    {% endif %}
</div>
{%- endmacro %}

{% macro journal(user, obj)%}
{{title_components.object_title(user, obj)}}
{{journal_components.journal(user, obj)}}
{%- endmacro %}

{% macro stories(user, obj)%}
{{title_components.object_title(user, obj)}}
{{story_components.stories(user, obj)}}
{%- endmacro %}

{% macro associations(user, obj, associations)%}
{{title_components.object_title(user, obj)}}
{{associations_components.associations(user, obj, associations)}}
{%- endmacro %}

{% macro manage(user, obj) -%}
{{title_components.object_title(user, obj)}}
{{ manage_encounter_components.manage(user, obj) }}
{%- endmacro %}