{% import "shared/_display.html" as display_components %}
{% import "manage/_episode.html" as manage_episode_components %}
{% import "shared/_icons.html" as icon_components %}
{% import "shared/_details.html" as details_components %}
{% import "shared/_associations.html" as associations_components%}
{% import "shared/_title.html" as title_components %}
{% import "shared/_form.html" as form_components %}
{% import "shared/_timeline.html" as timeline_components %}
{% import "shared/_gmnotes.html" as gmnotes_components %}

{% macro index(user, obj) -%}
{{details(user, obj)}}
{%- endmacro %}

<!-- unique menu items for campaigns -->
{% macro menu(user, obj) -%}
<li>
    <a href=""
       hx-get="/api/{{obj.path}}/details" hx-target="#page-content"
       hx-indicator="#request-indicator" hx-swap="innerHTML show:#page-content:top"
       hx-push-url="/{{obj.path}}/details">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.details(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Details</span>
            </div>
        </div>
    </a>
</li>
{% if obj.previous_episode %}
<li>
    <a href="/{{obj.previous_episode.path}}">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.previous(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Previous Episode</span>
            </div>
        </div>
    </a>
</li>
{% endif %}
{% if obj.next_episode %}
<li>
    <a href="/{{obj.next_episode.path}}">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.next(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Next Episode</span>
            </div>
        </div>
    </a>
</li>
{% endif %}
<li>
    <a href="/{{obj.path}}/graphic">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.drama(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Graphic</span>
            </div>
        </div>
    </a>
</li>
{% if user.world_user(obj) %}
<li>
    <a href=""
       hx-get="/api/{{obj.path}}/gmnotes" hx-target="#page-content"
       hx-indicator="#request-indicator" hx-swap="innerHTML show:#page-content:top"
       hx-push-url="/{{obj.path}}/gmnotes">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.gamemaster(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>GM Notes</span>
            </div>
        </div>
    </a>
</li>
<li>
    <a href=""
       hx-get="/api/{{obj.path}}/transcribe" hx-target="#page-content"
       hx-indicator="#request-indicator" hx-swap="innerHTML show:#page-content:top"
       hx-push-url="/{{obj.path}}/transcribe">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.transcribe(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Scribe</span>
            </div>
        </div>
    </a>
</li>
{% endif %}
{%- endmacro %}

{% macro details(user, obj) -%}
<title>{{obj.name or obj.title}} - Details</title>
<div class="callout">
    <div id="episode-info" class="grid-x align-spaced">
        <div class="cell">
            <div class="grid-x align-spaced">
                <div class="cell medium-4 text-center">
                    <h4 class='text-center'>Start</h4>
                    {{obj.start_date}}
                </div>
                <div class="cell medium-4 text-center">
                    <h2 class='text-center'>Episode #{{obj.episode_num}}</h2>
                </div>
                <div class="cell medium-4 text-center">
                    <h4 class='text-center'>End</h4>
                    {{obj.end_date}}
                </div>
            </div>
        </div>
        <div class="cell">
            <div id="report-container" class="clearfix">
                <h2 class='text-center separator-center'>Report</h2>
                <div class="float-right">
                    {% if obj.image %}
                    <div class="image">
                        <img src="{{obj.image.url(size='large')}}" alt="{{obj.name}}" />
                    </div>
                    {% endif %}
                </div>
                <div>
                    {{obj.report | safe}}
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="grid-x grid-margin-x align-center-middle">
                {% for event in obj.events %}
                <div class="cell medium-4">
                    <a href="/{{event.path}}">
                        <div class="callout ">
                            <h4 class='text-center'>{{event.name}}</h4>
                            {% if event.date %}
                            <div class='text-center'>
                                <strong>{{event.date}}</strong>
                            </div>
                            {% endif %}
                            {% if event.image %}
                            <img src='{{event.image.url()}}' alt='{{event.name}}'
                                 style='width:100%; height: auto; padding-bottom: 1rem;' />
                            {% endif %}
                            <div class='align-justify'>
                                {{event.summary | safe}}
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro gmnotes(user, obj) -%}
<title>{{obj.name or obj.title}} - GM Notes</title>
{% if user.world_user(obj) %}
<div class="callout">
    <div id="episode-info" class="grid-x align-spaced grid-margin-x">
        <div class="cell">
            <div class="callout">
                <div id='episode-connected-stories' class="grid-x grid-margin-x">
                    <div class="cell align-center-middle">
                        <h3 class='text-center'>Connected Stories</h3>
                        <div class="grid-x align-spaced grid-margin-x">
                            {%for s in obj.stories%}
                            <div class="cell medium-2">
                                {{ display_components.object_display(s, type=False) }}
                            </div>
                            {%endfor%}
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <div class="cell">
            {% if obj.previous_episode and obj.previous_episode.summary %}
            <div class="callout">
                <h4>Previous Episode Summary</h4>
                {{obj.previous_episode.summary | safe }}
            </div>
            {% endif %}
        </div>
        <div class="cell shrink">
            <div class="callout ">
                <h3 class='text-center'>Loot</h3>
                {{obj.loot | safe}}
            </div>
        </div>
        <div class="cell shrink">
            <div class="callout ">
                <h3 class='text-center'>Current Active Hooks</h3>
                {{obj.hooks | safe}}
            </div>
        </div>
        <div id="planning-notes" class="cell bg-light padding-vertical-2">
            <div class='callout'>
                <h2 class='text-center'>Planning Notes</h2>
                <div id='gm_planning_display'>
                    <div class="text-center margin-top-1">
                        <button class="button primary"
                                onclick="document.getElementById('gm_planning_form').classList.remove('hide'); document.getElementById('gm_planning_display').classList.add('hide');">
                            Edit
                        </button>
                    </div>
                    {{obj.description | safe}}
                </div>
                <div id="gm_planning_form" class="margin-top-2 hide">
                    <form
                          hx-post="/api/{{obj.path}}/update/planning"
                          hx-target='#planning-notes'
                          hx-select='#planning-notes'
                          hx-swap='outerHTML'>
                        <div class="text-center margin-top-1">
                            <button class="button primary" type='submit'>
                                Save
                            </button>
                        </div>
                        {{form_components.richtexteditor(user, obj, 'description', label=False)}}
                    </form>
                </div>
            </div>
        </div>
        <div class="cell bg-screen padding-vertical-2">
            {{gmnotes_components.reference(user, obj)}}
        </div>
        <div class="cell padding-vertical-2">
            {{gmnotes_components.display_encounters(user, obj, manage=False)}}
        </div>
    </div>
</div>
{% endif %}
{%- endmacro %}

{% macro graphic(user, obj) -%}
<title>{{obj.name or obj.title}} - Details</title>
<div class="callout">
    <div id="episode-graphic" class="grid-x align-spaced">
        {% if user.world_user(obj) %}
        <div class="cell shrink">
            <button class="button"
                    hx-post="/api/{{obj.path}}/graphic/generate"
                    hx-indicator="#request-indicator"
                    hx-push-url="/{{obj.path}}/graphic">
                Generate New Graphic
            </button>
        </div>
        {% endif %}
        <div class=" cell">
            <div class="callout ">
                {% if obj.graphic %}
                <div class="image">
                    <img src="{{obj.graphic.url()}}" alt="{{obj.name}}" />
                </div>
                {% else %}
                <p>No graphic has been generated for this episode.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="grid-x align-spaced">
        <div class="cell shrink"></div>
        <div class="cell">
            <div class="callout">
                <h3 class='text-center'>Graphic Description</h3>
                <form hx-post="/api/manage/update"
                      hx-swap="none"
                      hx-trigger="input delay:250ms, change">
                    {{form_components.richtexteditor(user, obj, 'graphic_description', label=False)}}
            </div>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro transcribe(user, episode)%}
<div class="callout">
    </h5>
    <div class="grid-x grid-margin-x grid-margin-y align-center"
         id="session-audio-container">
        <div class="cell">
            <form id="audio-upload-form" enctype="multipart/form-data"
                  hx-post="/api/{{episode.path}}/audio"
                  hx-ext="ignore:json-enc"
                  hx-target="#progress"
                  hx-swap="outerHTML"
                  hx-encoding="multipart/form-data"
                  hx-trigger="change from:#audio-upload"
                  hx-confirm='This will append to the current audio. If you want to replace the audio, clear it first. Proceed?'>
                <div class="grid-x grid-margin-x align-center-middle text-center">
                    <div class="cell">
                        <label for="audio-upload"
                               class="button large expanded secondary margin-bottom-0">
                            <iconify-icon icon="lucide:upload"
                                          class="margin-right-1"></iconify-icon>
                            Upload Audio
                        </label>
                        <input type="file" id="audio-upload" name="audio_file" accept="audio/*"
                               style="display: none;" required
                               onclick='this.nextElementSibling.classList.remove("hide");'>
                        <div class="progress-container hide">
                            <progress class="success margin-top-1" id='progress' value='0'
                                      max='100'></progress>
                            <script>
                                htmx.on('#audio-upload-form', 'htmx:xhr:progress', function (evt) {
                                    htmx.find('#progress').setAttribute('value', evt.detail.loaded / evt.detail.total * 100);
                                });
                            </script>
                        </div>
                    </div>
                    {% if episode.audio %}
                    <div class="cell shrink text-center margin-top-2">
                        <a href="/api/audio/{{episode.path}}" target='_blank'>
                            {{icon_components.download(size="1rem")}}
                            Download Current Audio
                        </a>
                    </div>
                    <div class="cell shrink text-center margin-top-2">
                        <h4 class='subheader'>({{episode.audio_duration}})</h4>
                    </div>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
    <div id="session-transcription-container" class="callout bg-screen">
        <div class="grid-x grid-margin-x align-center-middle"
             id="session-transcription-controls">
            <div class="cell shrink">
                <button id="transcribe-btn" class="button success"
                        {% if not episode.audio %} disabled {% endif %}
                        hx-post="/api/{{episode.path}}/transcribe"
                        hx-confirm='Are you sure you want to transcribe the current audio?'
                        hx-target="#session-transcription-container">
                    {{icon_components.transcribe(size="1rem")}}
                    Transcribe
                </button>
            </div>
            <div class="cell shrink">
                <button id="clear-btn" class="button warning"
                        {% if not episode.transcription and not episode.audio %} disabled {% endif
                        %}
                        hx-post="/api/{{episode.path}}/transcription/clear"
                        hx-target="#session-transcription-container"
                        hx-select="#session-transcription-container"
                        hx-swap="outerHTML"
                        hx-confirm='Are you sure you want to clear the current transcription?'>
                    {{icon_components.delete(size="1rem")}}
                    Clear
                </button>
            </div>
            <div class="cell shrink">
                <button class="button"
                        {% if not episode.transcription %} disabled {%endif%}
                        hx-post="/api/{{episode.path}}/transcription/summarize"
                        hx-swap="outerHTML"
                        hx-prompt="Are you sure you want to summarize the transcription? This will prepend a summary to the existing report. It will not delete the original transcription.">
                    Summarize for Report
                </button>
            </div>
        </div>

        <div class="cell text-center">
            {% if episode.transcription %}
            <div class="grid-x align-center">
                <div class="cell shrink">
                    <div class="button-group no-gaps">
                        <a class="button muted" style='border-radius: 0;'
                           onclick='this.classList.remove("primary");this.classList.add("secondary");this.nextElementSibling.classList.remove("secondary");this.nextElementSibling.classList.add("primary");htmx.find("#interpreted-transcription").classList.remove("hide");htmx.find("#audio-transcription").classList.add("hide");'>Interpreted</a>
                        <a class="button screen" style='border-radius: 0;'
                           onclick='this.classList.remove("primary");this.classList.add("secondary");this.previousElementSibling.classList.remove("secondary");this.previousElementSibling.classList.add("primary");htmx.find("#interpreted-transcription").classList.add("hide");htmx.find("#audio-transcription").classList.remove("hide");'>Raw</a>
                    </div>
                </div>
            </div>
            <div id="interpreted-transcription">
                <form hx-post="/api/episode/{{episode.pk}}/update" hx-swap="none"
                      hx-trigger="input delay:1s, change">
                    {{form_components.richtexteditor(user, episode, 'interpreted_transcription', label=False)}}
                </form>
            </div>
            <div id="audio-transcription" class="hide">
                <form hx-post="/api/episode/{{episode.pk}}/update" hx-swap="none"
                      hx-trigger="input delay:1s, change">
                    {{form_components.richtexteditor(user, episode, 'transcription', label=False)}}
                </form>
            </div>
            {% else %}
            No transcription available.
            {% endif %}
        </div>
    </div>
</div>
{%- endmacro %}


{% macro timeline(user, obj)%}
{{timeline_components.timeline(user, obj)}}
{%- endmacro %}

{% macro associations(user, obj, extended_associations, direct_associations=None)%}
{{associations_components.associations(user, obj, extended_associations, direct_associations)}}
{%- endmacro %}

{% macro manage(user, obj) -%}
{{ manage_episode_components.manage(user, obj) }}
{%- endmacro %}