{% import "shared/_display.html" as display_components %}
{% import "manage/_episode.html" as manage_episode_components %}
{% import "shared/_icons.html" as icon_components %}
{% import "shared/_details.html" as details_components %}
{% import "shared/_associations.html" as associations_components%}
{% import "shared/_title.html" as title_components %}

{% macro index(user, obj) -%}
{{details(user, obj)}}
{%- endmacro %}

<!-- unique menu items for campaigns -->
{% macro menu(user, obj) -%}
<li><a href="/{{obj.campaign.path}}">{{icon_components.campaigns(size="1rem")}} Campaign</a></li>
{%- endmacro %}

{% macro details(user, obj) -%}
<title>{{obj.name or obj.title}} - Details</title>
<div id="episode-info" class="grid-x grid-padding-x">
    <div class="cell small-12">
        <h2>Episode Overview</h2>
    </div>
    <div class="story cell small-12 medium-7">
        {{obj.report | safe}}

        <h3>Loot</h3>
            {{obj.loot | safe}}
        <h3>Hooks</h3>
            {{obj.hooks | safe}}
        <h3>Planning Notes</h3>
            {{obj.description | safe}}
    </div>
    <div class="related-panel cell small-12 medium-4 large-offset-1">
        {% if obj.image %}
        <img src="{{obj.image.url(size='large')}}" alt="{{obj.name}}" />
        {% endif %}

        <table id="demographics">
            <tr>
                <th>Began</th>
                <td>{{obj.start_date}}</td>
            </tr>
            <tr>
                <th>Ended</th>
                <td>{{obj.end_date}}</td>
            </tr>
            <tr>
                <th>Campaign</th>
                <td><a href="/{{obj.campaign.path}}">{{obj.campaign.name}}</a></td>
            </tr>
            <tr>
                <th>Episode</th>
                <td>{{obj.episode_num}}</td>
            </tr>
        </table>
        {{episode_selector(obj) }}
    </div>
</div>
{%- endmacro %}

{% macro episode_selector(obj) -%}
<script>
    function goToEpisode(el) {
        window.location.href = el.options[el.selectedIndex].value;
    }
</script>
<select id="episode-select" name="episode" onchange="goToEpisode(this);">
    <option value="">==Select Episode==</option>
    {% for ep in obj.campaign.episodes %}
    <option value="/{{ep.path}}" {%if ep.path==obj.path %} selected {% endif %}>
        {{ep.episode_num}}: {{ep.name}}
    </option>
    {% endfor %}
</select>
{%- endmacro %}

{% macro associations(user, obj, associations)%}
{{associations_components.associations(user, obj, associations)}}
{%- endmacro %}

{% macro manage(user, obj) -%}
{{ manage_episode_components.manage(user, obj) }}
{%- endmacro %}