{% import "shared/_form.html" as form_components %}
{% import "shared/_icons.html" as icon_components %}
{% import "manage/_event.html" as manage_event_components %}
{% import "shared/_title.html" as title_components %}
{% import "shared/_display.html" as display_components %}
{% import "shared/_associations.html" as associations_components %}

{% macro index(user, event) -%}
{{title_components.object_title(user, event)}}
<div class="panel has-bg-muted" style='border-top-right-radius: 0; border-top-left-radius:0;'>
    <div class="row">
        <div class="column is-full">
            <hr>
            <div class="row">
                {% if event.start_date %}
                <div class="column">
                    <div class="panel has-bg-transparent">
                        <span class='has-text-dark'>{{event.start_date}} - {{event.end_date}}</span>
                    </div>
                </div>
                {% endif %}
                {% if event.backstory %}
                <div class="column is-full">
                    <div class="panel has-bg-muted has-text-dark ">
                        <h5 class='has-text-primary'
                            style='text-decoration: underline; has-text-center'>
                            Description</h5>
                        {{event.backstory | safe}}
                    </div>
                </div>
                {% endif %}
                {% if event.impact %}
                <div class="column is-half">
                    <div class="panel has-bg-transparent">
                        <h5 class='has-text-primary'
                            style='text-decoration: underline;'>Impact</h5>
                        <span class='has-text-dark'>{{event.impact | safe}}</span>
                    </div>
                </div>
                {% endif %}
                {% if event.outcome %}
                <div class="column is-half">
                    <div class="panel has-bg-transparent">
                        <h5 class='has-text-primary'
                            style='text-decoration: underline;'>Outcome</h5>
                        <span class='has-text-dark'>{{event.outcome | safe}}</span>
                    </div>
                </div>
                {% endif %}
                {% if event.image %}
                <div class="column">
                    <div class="panel has-bg-transparent">
                        <div class="image is-tile is-margin-center" style="width:100%;">
                            <img src="{{event.image.url()}}" loading="lazy" alt="{{event.name}}" />
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="column is-full">
            <div class="row">
                {% for story in event.stories %}
                <div class="column">
                    <div class="panel has-bg-muted has-text-dark">
                        <a href='/{{ story.path }}' class='has-text-dark'>
                            <h5 class='has-text-center'>Story: {{ story.name }}</h5>
                            <div>{{ story.situation | safe }}</div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% if event.episode %}
        <div class="column is-full">
            <div class="row has-space-around">
                <div class="column is-half">
                    <h5 class='has-text-center'>Episode: {{ event.episode.name }}</h5>
                    <div>{{ event.episode.report | safe }}</div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{%- endmacro %}

{% macro menu(user, event) -%}
<ul class="menu__list">
    <li>
        <a href="" class="menu-anchor"
           hx-get="/api/{{event.path}}" hx-target="#page-content"
           hx-indicator="#request-indicator" hx-swap="innerHTML show:#page-content:top"
           hx-push-url="/{{event.path}}">
            <div class="row">
                <div id='menu-details-anchor' class="column is-3 is-mobile-shrink">
                    {{icon_components.details(size="1rem")}}
                </div>
                <script>
                    tippy('#menu-details-anchor', {
                        content: 'Details',
                        placement: 'right',
                        allowHTML: true,
                        arrow: false,
                        animation: 'perspective-extreme',

                    });
                </script>
                <div
                     class="column is-9 is-mobile-9 is-hidden slide-it-in menu-anchor-text">
                    <span>Details</span>
                </div>
            </div>
        </a>
    </li>
</ul>
{%- endmacro %}

{% macro associations(user, obj, associations)%}
{{associations_components.associations(user, obj, associations)}}
{%- endmacro %}

{% macro manage(user, obj) -%}
{{ manage_event_components.manage(user, obj) }}
{%- endmacro %}