{% import "shared/_form.html" as form_components %}
{% import "shared/_icons.html" as icon_components %}
{% import "manage/_event.html" as manage_event_components %}
{% import "shared/_title.html" as title_components %}
{% import "shared/_display.html" as display_components %}
{% import "shared/_associations.html" as associations_components %}

{% macro index(user, event) -%}
<div class="callout " style='border-top-right-radius: 0; border-top-left-radius:0;'>
    <div class="grid-x">
        <div class="cell">
            <hr>
            <div class="grid-x">
                {% if event.start_date %}
                <div class="cell">
                    <div class="callout has-bg-transparent">
                        <span class=''>{{event.start_date}} - {{event.end_date}}</span>
                    </div>
                </div>
                {% endif %}
                {% if event.backstory %}
                <div class="cell">
                    <div class="callout  ">
                        <h5 class=''
                            style='text-decoration: underline; text-center'>
                            Description</h5>
                        {{event.backstory | safe}}
                    </div>
                </div>
                {% endif %}
                {% if event.impact %}
                <div class="cell medium-6">
                    <div class="callout has-bg-transparent">
                        <h5 class=''
                            style='text-decoration: underline;'>Impact</h5>
                        <span class=''>{{event.impact | safe}}</span>
                    </div>
                </div>
                {% endif %}
                {% if event.outcome %}
                <div class="cell medium-6">
                    <div class="callout has-bg-transparent">
                        <h5 class=''
                            style='text-decoration: underline;'>Outcome</h5>
                        <span class=''>{{event.outcome | safe}}</span>
                    </div>
                </div>
                {% endif %}
                {% if event.image %}
                <div class="cell">
                    <div class="callout has-bg-transparent">
                        <div class="image is-tile is-margin-center" style="width:100%;">
                            <img src="{{event.image.url()}}" loading="lazy" alt="{{event.name}}" />
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="cell">
            <div class="grid-x">
                {% for story in event.stories %}
                <div class="cell">
                    <div class="callout ">
                        <a href='/{{ story.path }}' class=''>
                            <h5 class='text-center'>Story: {{ story.name }}</h5>
                            <div>{{ story.situation | safe }}</div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% if event.episode %}
        <div class="cell">
            <div class="callout ">
                <h5 class='text-center'>{{ event.episode.name }}</h5>
                <div>{{ event.episode.report | safe }}</div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{%- endmacro %}

{% macro menu(user, event) -%}
<li>
    <a href=""
       hx-get="/api/{{event.path}}" hx-target="#page-content"
       hx-indicator="#request-indicator" hx-swap="innerHTML show:#page-content:top"
       hx-push-url="/{{event.path}}">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.details(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Details</span>
            </div>
        </div>
    </a>
</li>
{%- endmacro %}

{% macro associations(user, obj, associations)%}
{{associations_components.associations(user, obj, associations)}}
{%- endmacro %}

{% macro manage(user, obj) -%}
{{ manage_event_components.manage(user, obj) }}
{%- endmacro %}