{% import "shared/_form.html" as form_components %}
{% import "shared/_icons.html" as icon_components %}
{% import "shared/_history.html" as history_components %}
{% import "shared/_details.html" as details_components %}
{% import "shared/_timeline.html" as timeline_components %}
{% import "shared/_journal.html" as journal_components %}
{% import "shared/_stories.html" as story_components %}
{% import "shared/_campaigns.html" as campaigns_components %}
{% import "manage/_faction.html" as manage_faction_components %}
{% import "shared/_associations.html" as associations_components %}
{% import "shared/_title.html" as title_components %}

{% macro index(user, obj) -%}
{{history(user, obj)}}
{%- endmacro %}

{% macro menu(user, obj) -%}
<li>
    <a href=""
       hx-get="/api/{{obj.path}}/details" hx-target="#page-content"
       hx-indicator="#request-indicator" hx-swap="innerHTML show:#page-content:top"
       hx-push-url="/{{obj.path}}/details">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.details(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Details</span>
            </div>
        </div>
    </a>
</li>
<li>
    <a href=""
       hx-get="/api/{{obj.path}}/history"
       hx-target="#page-content"
       hx-indicator="#request-indicator" hx-swap="innerHTML show:#page-content:top"
       hx-push-url="/{{obj.path}}/history">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.history(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>History</span>
            </div>
        </div>
    </a>
</li>
<li>
    <a href=""
       hx-get="/api/{{obj.path}}/timeline"
       hx-target="#page-content"
       hx-indicator="#request-indicator" hx-swap="innerHTML show:#page-content:top"
       hx-push-url="/{{obj.path}}/timeline">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.timeline(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Timeline</span>
            </div>
        </div>
    </a>
</li>
<li>
    <a href=""
       hx-get="/api/{{obj.path}}/campaigns"
       hx-target="#page-content"
       hx-indicator="#request-indicator"
       hx-swap="innerHTML show:#page-content:top"
       hx-push-url="/{{obj.path}}/campaigns">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.campaigns(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Campaigns</span>
            </div>
        </div>
    </a>
</li>
{% if user.world_user(obj) %}
<li>
    <a href=""
       hx-get="/api/{{obj.path}}/stories"
       hx-target="#page-content"
       hx-indicator="#request-indicator"
       hx-swap="innerHTML show:#page-content:top"
       hx-push-url="/{{obj.path}}/stories">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.story(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Stories</span>
            </div>
        </div>
    </a>
</li>
<li>
    <a href=""
       hx-get="/api/{{obj.path}}/journal" hx-target="#page-content"
       hx-indicator="#request-indicator" hx-swap="innerHTML show:#page-content:top"
       hx-push-url="/{{obj.path}}/journal">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.journal(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Journal</span>
            </div>
        </div>
    </a>
</li>
{% endif %}
<li>
    <a href=""
       hx-get="/api/{{obj.path}}/jobs" hx-target="#page-content"
       hx-indicator="#request-indicator" hx-swap="innerHTML show:#page-content:top"
       hx-push-url="/{{obj.path}}/jobs">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.jobs(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Job Board</span>
            </div>
        </div>
    </a>
</li>
{% if user.world_user(obj) %}
<li>
    <a href="" hx-get="/api/{{obj.path}}/gmnotes" hx-target="#page-content"
       hx-indicator="#request-indicator" hx-swap="innerHTML"
       hx-push-url=" /{{obj.path}}/gmnotes">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.gamemaster(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>GM Notes</span>
            </div>
        </div>
    </a>
</li>
{% endif %}
{%- endmacro %}

{% macro history(user, obj) -%}
{{history_components.history(user, obj)}}
{%- endmacro %}

{% macro details(user, obj) -%}
{{details_components.details(user, obj)}}
{%- endmacro %}

{% macro gmnotes(user, obj) -%}
<div id="gmnotes" lass="callout">
    <h3 class='text-center'>GM Notes</h3>
    <div class="grid-x">
        <div class="cell">
            <h5> Details</h5>
            <div class="callout ">
                <ul>
                    <li>{{obj.description_summary | safe}}</li>
                    {% for sd in obj.sensory_details %}
                    <li>{{ sd | safe }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="cell">
            <h5>Recent Events</h5>
            <div class="callout ">
                <ul>
                    {% for sd in obj.recent_events %}
                    <li>{{ sd | safe }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="cell">
            <h5>Rumors</h5>
            <div class="callout ">
                <ul>
                    {% for r in obj.rumors %}
                    <li>
                        {{ r | safe }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro info(user, obj) -%}
<div class="grid-x">
    <div id="model-goal" class="cell">
        <div class="callout  generated-text-lightbg">
            <h4>Goal</h4>
            {{obj.goal | safe}}
        </div>
    </div>
    <div id="model-status" class="cell">
        <div class="callout  generated-text-lightbg">
            <h4>Status</h4>
            {{obj.status | safe}}
        </div>
    </div>
</div>
<hr>
<div class="callout small">
    <div class="grid-x">
        {% if obj.leader %}
        <div class="cell shrink">
            <div class="callout">
                <h4 class=" text-center">Leader</h4>
                <a href="{{obj.leader.path}}">
                    <div class="image is-large is-thumbnail is-margin-center">
                        {% if obj.leader.image %}
                        <img src="{{obj.leader.image.url()}}" alt="{{obj.leader.name}}" />
                        {% endif %}
                    </div>
                </a>
            </div>
            <h4 class=" text-center">
                {{obj.leader.name}}
            </h4>
        </div>
        {% endif %}
        <div class="cell">
            <h3 class=" text-center">Members</h3>
            <div class="grid-x">
                {% for member in obj.associations %}
                {% if member.model_name() == "Character" and member != obj.leader %}
                <div class="cell text-center medium-3">
                    <a href="/character/{{member.pk}}">
                        <div class="image is-medium is-thumbnail is-margin-center">
                            {% if member.image %}
                            <img src="{{member.image.url(size='100')}}" loading="lazy"
                                 alt="{{obj.name}}" style="width:100%; height:100%;" />
                            {% endif %}
                        </div>
                        <h4>
                            {% if member.name %} {{member.name}} {% else %} {{member.title}} {%
                            endif %}
                        </h4>
                    </a>
                    {% if user.world_user(obj)%}
                    <button class="button small is-secondary"
                            hx-post="/api/manage/faction/leader/{{member.pk}}"
                            hx-target='#page-content' hx-swap="innerHTML show:#page-content:top">
                        Assign Leader
                    </button>
                    {% endif %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro timeline(user, obj)%}
{{timeline_components.timeline(user, obj)}}
{%- endmacro %}

{% macro journal(user, obj)%}
{{journal_components.journal(user, obj)}}
{%- endmacro %}

{% macro stories(user, obj)%}
{{story_components.stories(user, obj)}}
{%- endmacro %}

{% macro campaigns(user, obj)%}
{{campaigns_components.campaigns(user, obj)}}
{%- endmacro %}

{% macro associations(user, obj, associations)%}
{{associations_components.associations(user, obj, associations)}}
{%- endmacro %}

{% macro manage(user, obj) -%}
{{ manage_faction_components.manage(user, obj) }}
{%- endmacro %}