{% import "shared/_icons.html" as icon_components %}
{% import "shared/_history.html" as history_components %}
{% import "shared/_details.html" as details_components %}
{% import "shared/_timeline.html" as timeline_components %}
{% import "shared/_journal.html" as journal_components %}
{% import "shared/_stories.html" as story_components %}
{% import "shared/_campaigns.html" as campaigns_components %}
{% import "shared/_associations.html" as associations_components %}
{% import "shared/_map.html" as map_components %}
{% import "shared/_jobs.html" as jobs_components %}
{% import "manage/_location.html" as manage_location_components %}
{% import "shared/_title.html" as title_components %}
{% import "shared/_display.html" as display_components %}

{% macro index(user, obj) -%}
{{history(user, obj)}}
{%- endmacro %}

{% macro menu(user, obj) -%}
<li>
    <a href=""
       hx-get="/api/{{obj.path}}/details" hx-target="#page-content"
       hx-indicator="#request-indicator" hx-swap="innerHTML show:#page-content:top"
       hx-push-url="/{{obj.path}}/details">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.details(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Details</span>
            </div>
        </div>
    </a>
</li>
<li>
    <a href=""
       hx-get="/api/{{obj.path}}/history"
       hx-target="#page-content"
       hx-indicator="#request-indicator" hx-swap="innerHTML show:#page-content:top"
       hx-push-url="/{{obj.path}}/history">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.history(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>History</span>
            </div>
        </div>
    </a>
</li>
<li>
    <a href=""
       hx-get="/api/{{obj.path}}/timeline"
       hx-target="#page-content"
       hx-indicator="#request-indicator" hx-swap="innerHTML show:#page-content:top"
       hx-push-url="/{{obj.path}}/timeline">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.timeline(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Timeline</span>
            </div>
        </div>
    </a>
</li>
<li>
    <a href=""
       hx-get="/api/{{obj.path}}/campaigns"
       hx-target="#page-content"
       hx-indicator="#request-indicator"
       hx-swap="innerHTML show:#page-content:top"
       hx-push-url="/{{obj.path}}/campaigns">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.campaigns(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Campaigns</span>
            </div>
        </div>
    </a>
</li>
{% if user.world_user(obj) %}
<li>
    <a href=""
       hx-get="/api/{{obj.path}}/stories"
       hx-target="#page-content"
       hx-indicator="#request-indicator"
       hx-swap="innerHTML show:#page-content:top"
       hx-push-url="/{{obj.path}}/stories">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.story(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Stories</span>
            </div>
        </div>
    </a>
</li>
<li>
    <a href=""
       hx-get="/api/{{obj.path}}/journal" hx-target="#page-content"
       hx-indicator="#request-indicator" hx-swap="innerHTML show:#page-content:top"
       hx-push-url="/{{obj.path}}/journal">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.journal(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Journal</span>
            </div>
        </div>
    </a>
</li>
{% endif %}
<li>
    <a href="" hx-get="/api/{{obj.path}}/map"
       hx-target="#page-content" hx-indicator="#request-indicator"
       hx-swap="innerHTML show:#page-content:top" hx-push-url="/{{obj.path}}/map">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.map(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Map</span>
            </div>
        </div>
    </a>
</li>
<li>
    <a href=""
       hx-get="/api/{{obj.path}}/jobs" hx-target="#page-content"
       hx-indicator="#request-indicator" hx-swap="innerHTML show:#page-content:top"
       hx-push-url="/{{obj.path}}/jobs">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.jobs(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Job Board</span>
            </div>
        </div>
    </a>
</li>
{%- endmacro %}

{% macro history(user, obj) -%}
{{history_components.history(user, obj)}}
{%- endmacro %}

{% macro details(user, obj) -%}
{{details_components.details(user, obj)}}
{%- endmacro %}

{% macro gmnotes(user, obj) -%}
<div id="gmnotes" lass="callout">
    <h3 class='text-center'>GM Notes</h3>
    <div class="grid-x">
        <div class="cell medium-8">
            <h5> Details</h5>
            <div class="callout ">
                <ul>
                    <li>{{obj.description_summary | safe}}</li>
                    {% for sd in obj.sensory_details %}
                    <li>{{ sd | safe }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="cell">
            <h5>Current Status</h5>
            <div class="callout">
                {{obj.status | safe}}
            </div>
        </div>
        <div class="cell">
            <h5>Rumors</h5>
            <div class="callout ">
                <ul>
                    {% for r in obj.rumors + obj.recent_events %}
                    <li>
                        {{ r | safe }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="cell">
            <h5>Encounters</h5>
            <div class="callout">
                <div class="grid-x align-spaced">
                    {% for encounter in obj.encounters %}
                    <div class="cell medium-2">
                        {{ display_components.object_display(encounter, type=False) }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro info(user, obj) -%}
<div class="grid-x">
    <div class="cell shrink align-center-middle">
        <h3 class=''>{{obj.title}} Type:</h3>
    </div>
    <div class="cell shrink align-center-middle ">
        <h4 class="">{{obj.location_type}}</h4>
    </div>
    {% if obj.owner %}
    <div class="cell">
        <div class="callout">
            <h4 class="">Owner</h4>
            <a href="/{{obj.owner.model_name()|lower}}/{{obj.owner.pk}}">
                <div class="image is-large is-thumbnail is-margin-center">
                    {% if obj.owner.image %}
                    <img src="{{obj.owner.image.url()}}" alt="{{obj.owner.name}}" />
                    {% endif %}
                </div>
                <h4 class="">
                    {{obj.owner.name}}
                </h4>
            </a>
        </div>
    </div>
    {% endif %}
</div>
{%- endmacro %}

{% macro timeline(user, obj)%}
{{timeline_components.timeline(user, obj)}}
{%- endmacro %}

{% macro journal(user, obj)%}
{{journal_components.journal(user, obj)}}
{%- endmacro %}

{% macro stories(user, obj)%}
{{story_components.stories(user, obj)}}
{%- endmacro %}

{% macro campaigns(user, obj)%}
{{campaigns_components.campaigns(user, obj)}}
{%- endmacro %}

{% macro associations(user, obj, associations)%}
{{associations_components.associations(user, obj, associations)}}
{%- endmacro %}

{% macro map(user, obj)%}
{{map_components.map(user, obj)}}
{%- endmacro %}

{% macro jobs(user, obj)%}
{{jobs_components.jobs(user, obj)}}
{%- endmacro %}

{% macro manage(user, obj) -%}
{{ manage_location_components.manage(user, obj) }}
{%- endmacro %}