{% extends "shared/_base.html" %}
{% import "shared/_display.html" as display %}

{% block maincontent %}
Page: {{page}}
Object: {{obj}}
    <p>{{obj.backstory | safe}}</p>

    <h3>History</h3>
    {{obj.history | safe}}
{% endblock %}

{% block sidebar %}
{% if obj.image %}
                <img src="{{obj.image.url(size='large')}}" alt="{{obj.name}}" />
            {% endif %}
            {{demographics(user, obj)}}
{% endblock %}


<!-- location display -->
{% macro demographics(user, obj) -%}
<h1>Hi There</h1>
<table id="demographics">
    <tr><th>Name</th><td>{{obj.name or obj.title}}</td></tr>
    <tr><th>{{display.dsp_object_lifetime(obj,'start')}}</th><td>{{obj.start_date}}</td></tr>
    <tr><th>{{display.dsp_object_lifetime(obj,'end')}}</th><td>{{obj.end_date}}</td></tr>
    <tr><th>Type</th><td>{{ obj.location_type or "Unknown" }}</td></tr>
    <tr><th>Owner</th><td>{{ obj.owner.name or "Unknown"}}</td></tr>
</table>
{%- endmacro %}


