{% import "shared/_form.html" as form_components %}
{% import "shared/_display.html" as display_components %}
{% import "shared/_icons.html" as icon_components %}
{% import "manage/_story.html" as manage_story_components %}
{% import "shared/_history.html" as history_components %}
{% import "shared/_timeline.html" as timeline_components %}
{% import "shared/_title.html" as title_components %}
{% import "shared/_associations.html" as associations_components %}


{% macro index(user, story) -%}
{{title_components.object_title(user, story)}}
<div class="section">
    <div class="row has-space-around">
        <div class="column">
            <div class="row">
                <div class="column is-shrink is-vertically-centered">
                    <h3 class='has-text-secondary has-text-center'>Scope: {{story.scope}}</h3>
                </div>
                <div id="story-bbeg" class="column has-text-secondary">
                    <div class="panel has-bg-muted has-text-dark">
                        <h3 class='has-text-center'>BBEG</h3>
                        {% if story.bbeg %}
                        {{display_components.object_display(story.bbeg)}}
                        {% else %}
                        Unknown
                        {% endif %}
                    </div>
                </div>
                <div class="column is-full has-text-secondary">
                    <div class="panel has-bg-muted has-text-dark">
                        <h4 class='has-text-center'>Situation</h4>
                        {{story.situation | safe}}
                    </div>
                </div>
                <div class="column is-full has-text-secondary">
                    <div class="panel has-bg-muted has-text-dark">
                        <h4 class='has-text-center'>Current Status</h4>
                        {{story.current_status | safe}}
                    </div>
                </div>
                <div class="column is-full has-text-secondary">
                    <div class="panel has-bg-muted has-text-dark">
                        <h4 class='has-text-center'>Backstory</h4>
                        {{story.backstory | safe }}
                    </div>
                </div>
                <div id="story-tasks" class="column is-full has-text-secondary">
                    <h3 class='has-text-center'>Tasks</h3>
                    <div class="row has-space-around">
                        {% for task in story.tasks %}
                        <div class="column is-2">
                            <div class="panel has-bg-muted has-text-dark">
                                {{task}}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <hr class='has-bg-primary'>
                </div>
                <div class="column is-6 has-text-secondary">
                    <div class="panel has-bg-muted has-text-dark">
                        <h3 class='has-text-center'>Information</h3>
                        <ul>
                            {%for q in story.information %}
                            <li>{{q | safe}}</li>
                            {%endfor%}
                        </ul>
                    </div>
                </div>
                <div class="column is-6 has-text-secondary">
                    <div class="panel has-bg-muted has-text-dark">
                        <h3 class='has-text-center'>Rumors</h3>
                        <ul>
                            {%for q in story.rumors %}
                            <li>{{q | safe}}</li>
                            {%endfor%}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% if story.image %}
        <div class="column is-4">
            <div class="image" style="width:100%;">
                <img src="{{story.image.url()}}" alt="{{obj.name}}" />
            </div>
        </div>
        {% endif %}
    </div>
    <hr class='has-bg-primary'>
    <div class="row">
        <div id="story-encounters" class="column has-text-secondary">
            <div class="panel has-bg-muted has-text-dark">
                <h3 class='has-text-center'>Quests</h3>
                <div class="row has-space-around">
                    {% for quest in story.quests %}
                    <div class="column is-full">
                        <div class="row">
                            <div class="column is-2">
                                {{display_components.object_display(quest.contact)}}
                            </div>
                            <div class="column">
                                <h6 class='has-text-center'>{{quest.name}}</h6>
                                {{quest.hook | safe}}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div id="story-encounters" class="column has-text-secondary">
            <div class="panel has-bg-muted has-text-dark">
                <h3 class='has-text-center'>Encounters</h3>
                <div class="row has-space-around">
                    {% for encounter in story.encounters %}
                    <div class="column is-2">{{display_components.object_display(encounter)}}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <hr class='has-bg-primary'>
    <div id="story-encounters" class="column is-full has-text-secondary">
        <div class="panel has-bg-muted has-text-dark">
            <h3 class='has-text-center'>Events</h3>
            <div class="row has-space-around">
                {% for event in story.events %}
                <div class="column is-2">
                    {{display_components.object_display(event, date=True)}}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="story-associations" class="section is-small">
        <div class="panel">
            <h2 class='has-text-center'> Associations </h2>
            <div class="row has-space-around">
                {% for a in story.associations %}
                <div class="column is-2">
                    {{display_components.object_display(a)}}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro menu(user, obj) -%}
<ul class="menu__list">
    <li>
        <a href="" class="menu-anchor"
           hx-get="/api/{{obj.path}}" hx-target="#page-content"
           hx-indicator="#request-indicator" hx-swap="innerHTML show:#page-content:top"
           hx-push-url="/{{obj.path}}">
            <div class="row">
                <div id='menu-details-anchor' class="column is-3 is-mobile-shrink">
                    {{icon_components.details(size="1rem")}}
                </div>
                <script>
                    tippy('#menu-details-anchor', {
                        content: 'Details',
                        placement: 'right',
                        allowHTML: true,
                        arrow: false,
                        animation: 'perspective-extreme',

                    });
                </script>
                <div
                     class="column is-9 is-mobile-9 is-hidden slide-it-in menu-anchor-text">
                    <span>Details</span>
                </div>
            </div>
        </a>
    </li>
    <li>
        <a href="" class="menu-anchor"
           hx-get="/api/{{obj.path}}/history"
           hx-target="#page-content"
           hx-indicator="#request-indicator" hx-swap="innerHTML show:#page-content:top"
           hx-push-url="/{{obj.path}}/history">
            <div class="row">
                <div id='menu-history-anchor' class="column is-3 is-mobile-shrink">
                    {{icon_components.history(size="1rem")}}
                </div>
                <script>
                    tippy('#menu-history-anchor', {
                        content: 'History',
                        placement: 'right',
                        allowHTML: true,
                        arrow: false,
                        animation: 'perspective-extreme',

                    });
                </script>
                <div class="column is-9 is-mobile-9 is-hidden slide-it-in menu-anchor-text">
                    <span>History</span>
                </div>
            </div>
        </a>
    </li>
    <li>
        <a href="" class="menu-anchor"
           hx-get="/api/{{obj.path}}/timeline"
           hx-target="#page-content"
           hx-indicator="#request-indicator" hx-swap="innerHTML show:#page-content:top"
           hx-push-url="/{{obj.path}}/timeline">
            <div class="row">
                <div id='menu-timeline-anchor' class="column is-3 is-mobile-shrink">
                    {{icon_components.timeline(size="1rem")}}
                </div>
                <script>
                    tippy('#menu-timeline-anchor', {
                        content: 'Timeline',
                        placement: 'right',
                        allowHTML: true,
                        arrow: false,
                        animation: 'perspective-extreme',

                    });
                </script>
                <div
                     class="column is-9 is-mobile-9 is-hidden slide-it-in menu-anchor-text">
                    <span>Timeline</span>
                </div>
            </div>
        </a>
    </li>
</ul>
<p class="menu__divider"></p>
{%- endmacro %}


{% macro history(user, obj) -%}
{{history_components.history(user, obj)}}
{%- endmacro %}


{% macro timeline(user, obj) -%}
{{timeline_components.timeline(user, obj)}}
{%- endmacro %}

{% macro associations(user, obj, associations)%}
{{associations_components.associations(user, obj, associations)}}
{%- endmacro %}



{% macro manage(user, obj) -%}
{{ manage_story_components.manage(user, obj) }}
{%- endmacro %}