{% import "shared/_form.html" as form_components %}
{% import "shared/_display.html" as display_components %}
{% import "shared/_icons.html" as icon_components %}
{% import "manage/_story.html" as manage_story_components %}
{% import "shared/_history.html" as history_components %}
{% import "shared/_timeline.html" as timeline_components %}
{% import "shared/_title.html" as title_components %}
{% import "shared/_associations.html" as associations_components %}


{% macro index(user, story) -%}
<div class="section">
    <div class="grid-x align-spaced">
        {% if story.image %}
        <div class="cell medium-4">
            <div class="image" style="width:100%;">
                <img src="{{story.image.url()}}" alt="{{story.name}}" />
            </div>
        </div>
        {% endif %}
        <div class="cell ">
            <div class="callout ">
                <h4 class='text-center'>Situation</h4>
                {{story.situation | safe}}
            </div>
        </div>
        <div id="story-bbeg" class="cell medium-3 ">
            <div class="callout ">
                <h3 class='text-center'>BBEG</h3>
                {% if story.bbeg %}
                {{display_components.object_display(story.bbeg)}}
                {% else %}
                Unknown
                {% endif %}
                <h3 class=' text-center'>Scope: {{story.scope}}</h3>
            </div>
        </div>
        <div class="cell ">
            <div class="callout ">
                <h4 class='text-center'>Current Status</h4>
                {{story.current_status | safe}}
            </div>
        </div>
        <div class="cell ">
            <div class="callout ">
                <h4 class='text-center'>Backstory</h4>
                {{story.backstory | safe }}
            </div>
        </div>
        <div id="story-tasks" class="cell ">
            <h3 class='text-center'>Tasks</h3>
            <div class="grid-x align-spaced">
                {% for task in story.tasks %}
                <div class="cell medium-2">
                    <div class="callout ">
                        {{task}}
                    </div>
                </div>
                {% endfor %}
            </div>
            <hr class=''>
        </div>
        <div class="cell medium-6 ">
            <div class="callout ">
                <h3 class='text-center'>Information</h3>
                <ul>
                    {%for q in story.information %}
                    <li>{{q | safe}}</li>
                    {%endfor%}
                </ul>
            </div>
        </div>
        <div class="cell medium-6 ">
            <div class="callout ">
                <h3 class='text-center'>Rumors</h3>
                <ul>
                    {%for q in story.rumors %}
                    <li>{{q | safe}}</li>
                    {%endfor%}
                </ul>
            </div>
        </div>
    </div>
    <hr class=''>
    <div class="grid-x">
        <div id="story-encounters" class="cell ">
            <div class="callout ">
                <h3 class='text-center'>Quests</h3>
                <div class="grid-x align-spaced">
                    {% for quest in story.quests %}
                    <div class="cell">
                        <div class="grid-x">
                            <div class="cell medium-2">
                                {{display_components.object_display(quest.contact)}}
                            </div>
                            <div class="cell">
                                <h6 class='text-center'>{{quest.name}}</h6>
                                {{quest.hook | safe}}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div id="story-encounters" class="cell ">
            <div class="callout ">
                <h3 class='text-center'>Encounters</h3>
                <div class="grid-x align-spaced">
                    {% for encounter in story.encounters %}
                    <div class="cell medium-2">{{display_components.object_display(encounter)}}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <hr class=''>
    <div id="story-encounters" class="cell ">
        <div class="callout ">
            <h3 class='text-center'>Events</h3>
            <div class="grid-x align-spaced">
                {% for event in story.events %}
                <div class="cell medium-2">
                    {{display_components.object_display(event, date=True)}}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="story-associations" class="section small">
        <div class="callout">
            <h2 class='text-center'> Associations </h2>
            <div class="grid-x align-spaced">
                {% for a in story.associations %}
                <div class="cell medium-2">
                    {{display_components.object_display(a)}}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro menu(user, obj) -%}
<li>
    <a href=""
       hx-get="/api/{{obj.path}}" hx-target="#page-content"
       hx-indicator="#request-indicator" hx-swap="innerHTML show:#page-content:top"
       hx-push-url="/{{obj.path}}">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.details(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Details</span>
            </div>
        </div>
    </a>
</li>
<li>
    <a href=""
       hx-get="/api/{{obj.path}}/history"
       hx-target="#page-content"
       hx-indicator="#request-indicator" hx-swap="innerHTML show:#page-content:top"
       hx-push-url="/{{obj.path}}/history">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.history(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>History</span>
            </div>
        </div>
    </a>
</li>
<li>
    <a href=""
       hx-get="/api/{{obj.path}}/timeline"
       hx-target="#page-content"
       hx-indicator="#request-indicator" hx-swap="innerHTML show:#page-content:top"
       hx-push-url="/{{obj.path}}/timeline">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.timeline(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Timeline</span>
            </div>
        </div>
    </a>
</li>
{%- endmacro %}


{% macro history(user, obj) -%}
{{history_components.history(user, obj)}}
{%- endmacro %}


{% macro timeline(user, obj) -%}
{{timeline_components.timeline(user, obj)}}
{%- endmacro %}

{% macro associations(user, obj, associations)%}
{{associations_components.associations(user, obj, associations)}}
{%- endmacro %}



{% macro manage(user, obj) -%}
{{ manage_story_components.manage(user, obj) }}
{%- endmacro %}