{% import "shared/_abilities.html" as abilities_components %}
{% import "shared/_form.html" as form_components %}
{% import "shared/_display.html" as display_components %}
{% import "shared/_icons.html" as icon_components %}
{% import "shared/_history.html" as history_components %}
{% import "shared/_details.html" as details_components %}
{% import "shared/_timeline.html" as timeline_components %}
{% import "shared/_journal.html" as journal_components %}
{% import "shared/_stories.html" as story_components %}
{% import "shared/_campaigns.html" as campaigns_components %}
{% import "shared/_associations.html" as associations_components %}
{% import "shared/_map.html" as map_components %}
{% import "shared/_jobs.html" as jobs_components %}
{% import "shared/_gmnotes.html" as gmnotes_components %}
{% import "manage/_vehicle.html" as manage_vehicle_components %}
{% import "shared/_title.html" as title_components %}
{% import "shared/_gmnotes.html" as gmnotes_components %}
{% import "shared/_dungeon.html" as dungeon_components %}

{% macro index(user, obj) -%}
{{history(user, obj)}}
{%- endmacro %}

{% macro menu(user, obj) -%}
<li>
    <a href="/{{obj.path}}/details">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.details(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Details</span>
            </div>
        </div>
    </a>
</li>
<li>
    <a href="/{{obj.path}}/history">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.history(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>History</span>
            </div>
        </div>
    </a>
</li>
<li>
    <a href="/{{obj.path}}/timeline">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.timeline(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Timeline</span>
            </div>
        </div>
    </a>
</li>
<li>
    <a href="/{{obj.path}}/campaigns">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.campaigns(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Campaigns</span>
            </div>
        </div>
    </a>
</li>
{% if user.world_user(obj) %}
<li>
    <a href="/{{obj.path}}/stories">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.story(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Stories</span>
            </div>
        </div>
    </a>
</li>
<li>
    <a href="/{{obj.path}}/journal">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.journal(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Journal</span>
            </div>
        </div>
    </a>
</li>
{% endif %}
<li>
    <a href="/{{obj.path}}/map">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.map(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Map</span>
            </div>
        </div>
    </a>
</li>
{% if user.world_user(obj) %}
<li>
    <a href="/{{obj.path}}/gmnotes">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.gamemaster(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>GM Notes</span>
            </div>
        </div>
    </a>
</li>
<li>
    <a href="/{{obj.path}}/dungeon">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.dungeon(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Layout</span>
            </div>
        </div>
    </a>
</li>
{% endif %}
{%- endmacro %}

{% macro history(user, obj) -%}
{{history_components.history(user, obj)}}
{%- endmacro %}

{% macro details(user, obj) -%}
<title>{{obj.name or obj.title}} - Details</title>
<div class="callout white">
    {{details_components.details_dates(user, obj)}}
    <hr>
    {{info(user, obj)}}
    <hr>
    {{details_components.details_backstory(user, obj)}}
    <hr>
    {{details_components.details_description(user, obj)}}
</div>
{%- endmacro %}

{% macro gmnotes(user, obj) -%}
<div id="gmnotes" lass="callout">
    <h3 class='text-center'>GM Notes</h3>
    {{gmnotes_components.foundry_buttons(user, obj)}}
    <div class="grid-x grid-margin-x">
        <div class="cell medium-6">
            {{gmnotes_components.details(user, obj)}}
        </div>
        {% if obj.map %}
        <div class="cell medium-6">
            {{gmnotes_components.display_map(user, obj)}}
        </div>
        {% endif %}
        <div class="cell medium-6">
            {{gmnotes_components.display_encounters(user, obj)}}
        </div>
        <div class="cell medium-6">
            {{gmnotes_components.rumors(user, obj)}}
        </div>
    </div>
    {{gmnotes_components.reference(user, obj)}}
</div>
{%- endmacro %}

{% macro info(user, obj) -%}
<div class="grid-x align-spaced">
    <div class="cell shrink">
        <h5>Category</h5>
        <p>{{obj.category}}</p>
    </div>
    <div class="cell shrink">
        <h5>Make</h5>
        <p>{{obj.make}}</p>
    </div>
    <div class="cell shrink">
        <h5>HP</h5>
        <p>{{obj.hitpoints}}</p>
    </div>
    <div class="cell shrink">
        <h5>AC</h5>
        <p>{{obj.ac}}</p>
    </div>
    <div class="cell shrink">
        <h5>Armor</h5>
        <p>{{obj.armor}}</p>
    </div>
    <div class="cell shrink">
        <h5>Size</h5>
        <p>{{obj.size}}</p>
    </div>
    <div class="cell shrink">
        <h5>Crew Capacity</h5>
        <p>{{obj.capacity}}</p>
    </div>
    {% if obj.owner %}
    <div class="cell medium-3">
        <div class="callout">
            <h4>Owner</h4>
            <a href="/{{obj.owner.path}}">
                <div class="image is-large is-thumbnail is-margin-center">
                    {% if obj.owner.image %}
                    <img src="{{obj.owner.image.url()}}" alt="{{obj.owner.name}}" />
                    {% endif %}
                </div>
                <h4>
                    {{obj.owner.name}}
                </h4>
            </a>
        </div>
    </div>
    {% endif %}
    <div class="cell">
        <div class="callout">
            <h4>Crew</h4>
            <div class="grid-x grid-margin-x align-spaced">
                {% for member in obj.crew %}
                <div class="cell small-6 medium-4 large-3">
                    <a href="/{{member.path}}">
                        <div class="image is-medium is-thumbnail is-margin-center">
                            {% if member.image %}
                            <img src="{{member.image.url()}}" alt="{{member.name}}" />
                            {% endif %}
                        </div>
                        <h4 class=" text-center">
                            {{member.name}}
                        </h4>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{{abilities_components.details(user, obj)}}
{%- endmacro %}

{% macro dungeon(user, obj)%}
{{dungeon_components.dungeon(user, obj)}}
{%- endmacro %}

{% macro timeline(user, obj)%}
{{timeline_components.timeline(user, obj)}}
{%- endmacro %}

{% macro journal(user, obj)%}
{{journal_components.journal(user, obj)}}
{%- endmacro %}

{% macro stories(user, obj)%}
{{story_components.stories(user, obj)}}
{%- endmacro %}

{% macro campaigns(user, obj)%}
{{campaigns_components.campaigns(user, obj)}}
{%- endmacro %}

{% macro associations(user, obj, extended_associations, direct_associations=None)%}
{{associations_components.associations(user, obj, extended_associations, direct_associations)}}
{%- endmacro %}

{% macro map(user, obj)%}
{{map_components.map(user, obj)}}
{%- endmacro %}

{% macro jobs(user, obj)%}
{{jobs_components.jobs(user, obj)}}
{%- endmacro %}

{% macro manage(user, obj) -%}
{{ manage_vehicle_components.manage(user, obj) }}
{%- endmacro %}