{% import "shared/_form.html" as form_components %}
{% import "shared/_display.html" as display_components %}
{% import "shared/_icons.html" as icon_components %}
{% import "shared/_history.html" as history_components %}
{% import "shared/_details.html" as details_components %}
{% import "shared/_timeline.html" as timeline_components %}
{% import "shared/_journal.html" as journal_components %}
{% import "shared/_stories.html" as stories_components %}
{% import "shared/_campaigns.html" as campaigns_components %}
{% import "shared/_associations.html" as associations_components %}
{% import "shared/_map.html" as map_components %}
{% import "shared/_jobs.html" as jobs_components %}
{% import "manage/_world.html" as manage_world_components %}
{% import "manage/_story.html" as manage_story_components %}
{% import "manage/_campaign.html" as manage_campaign_components %}
{% import "manage/_gmscreen.html" as manage_screen_components %}
{% import "shared/_title.html" as title_components %}

{% macro index(user, obj) -%}
{{history(user, obj)}}
{%- endmacro %}

{% macro menu(user, obj) -%}
<li>
    <a href=""
       hx-get="/api/{{obj.path}}/details" hx-target="#page-content"
       hx-indicator="#request-indicator" hx-swap="innerHTML show:#page-content:top"
       hx-push-url="/{{obj.path}}/details">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.details(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Details</span>
            </div>
        </div>
    </a>
</li>
<li>
    <a href=""
       hx-get="/api/{{obj.path}}/history"
       hx-target="#page-content"
       hx-indicator="#request-indicator" hx-swap="innerHTML show:#page-content:top"
       hx-push-url="/{{obj.path}}/history">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.history(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>History</span>
            </div>
        </div>
    </a>
</li>
<li>
    <a href=""
       hx-get="/api/{{obj.path}}/timeline"
       hx-target="#page-content"
       hx-indicator="#request-indicator" hx-swap="innerHTML show:#page-content:top"
       hx-push-url="/{{obj.path}}/timeline">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.timeline(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Timeline</span>
            </div>
        </div>
    </a>
</li>
<li>
    <a href=""
       hx-get="/api/{{obj.path}}/campaigns"
       hx-target="#page-content"
       hx-indicator="#request-indicator"
       hx-swap="innerHTML show:#page-content:top"
       hx-push-url="/{{obj.path}}/campaigns">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.campaigns(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Campaigns</span>
            </div>
        </div>
    </a>
</li>
{% if user.world_user(obj) %}
<li>
    <a href=""
       hx-get="/api/{{obj.path}}/stories"
       hx-target="#page-content"
       hx-indicator="#request-indicator"
       hx-swap="innerHTML show:#page-content:top"
       hx-push-url="/{{obj.path}}/stories">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.story(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Stories</span>
            </div>
        </div>
    </a>
</li>
<li>
    <a href=""
       hx-get="/api/{{obj.path}}/journal" hx-target="#page-content"
       hx-indicator="#request-indicator" hx-swap="innerHTML show:#page-content:top"
       hx-push-url="/{{obj.path}}/journal">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.journal(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Journal</span>
            </div>
        </div>
    </a>
</li>
{% endif %}
<li>
    <a href="" hx-get="/api/{{obj.path}}/map"
       hx-target="#page-content" hx-indicator="#request-indicator"
       hx-swap="innerHTML show:#page-content:top" hx-push-url="/{{obj.path}}/map">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.map(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Map</span>
            </div>
        </div>
    </a>
</li>
<li>
    <a href="" hx-get="/api/{{obj.path}}/players" hx-target="#page-content"
       hx-indicator="#request-indicator" hx-swap="innerHTML"
       hx-push-url=" /{{obj.path}}/players">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.players(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Players</span>
            </div>
        </div>
    </a>
</li>
<li>
    <a href=""
       hx-get="/api/{{obj.path}}/jobs" hx-target="#page-content"
       hx-indicator="#request-indicator" hx-swap="innerHTML show:#page-content:top"
       hx-push-url="/{{obj.path}}/jobs">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.jobs(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Job Board</span>
            </div>
        </div>
    </a>
</li>
{% if user.world_user(obj) %}
<li>
    <a href=""
       hx-get="/api/{{obj.path}}/lore" hx-target="#page-content"
       hx-indicator="#request-indicator" hx-swap="innerHTML show:#page-content:top"
       hx-push-url="/{{obj.path}}/lore">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.lore(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>Lore Builder</span>
            </div>
        </div>
    </a>
</li>
<li>
    <a href="" hx-post="/api/{{obj.path}}/managescreens"
       hx-target="#page-content"
       hx-indicator="#request-indicator" hx-swap="innerHTML"
       hx-push-url="/{{obj.path}}/managescreens">
        <div class="grid-x">
            <div class="cell shrink">
                {{icon_components.gmscreenmanage(size="1rem")}}
            </div>
            <div class="cell auto">
                <span>GM Screen Manager</span>
            </div>
        </div>
    </a>
</li>
{% endif %}
{%- endmacro %}


{% macro history(user, obj) -%}
{{history_components.history(user, obj)}}
{%- endmacro %}


{% macro details(user, obj) -%}
{{details_components.details(user, obj)}}
{%- endmacro %}


{% macro gmnotes(user, obj) -%}
<div id="gmnotes" class="callout">
    <h3 class='text-center'>GM Notes</h3>
    <div class="grid-x">
        <div class="cell">
            <div class="callout">
                {{obj.description_summary | safe}}
            </div>
        </div>
        <div class="cell">
            <h5>Rumors</h5>
            <div class="callout">
                <ul>
                    {% for sd in obj.rumors %}
                    <li>{{ sd | safe }}
                        <hr>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <h2 class='text-center' id='manage-stories'>Stories</h2>
    <ul class="no-bullet">
        {% for story in obj.stories %}
        <li>
            <h5>{{story.name}}</h5>
            {{story | safe}}
        </li>
        {% endfor %}
    </ul>
</div>
{%- endmacro %}


{% macro info(user, obj) -%}
{% if obj.current_date %}
<div class="grid-x">
    <div class="cell">
        <h3 class="-grey text-center">
            Present Date:
            {{obj.current_date}}
        </h3>
    </div>
</div>
{% endif %}
<hr>
<h2 class='text-center' id='manage-factions'>Faction Control</h2>
<div class="grid-x">
    {% for region in obj.regions %}
    <div class="cell medium-2">
        <div class="callout">
            {{display_components.object_display(region, type=False) | safe }}
            <h6 class="text-center">
                {{(region.owner and region.owner.name) or "Unknown"}}
            </h6>
        </div>
    </div>
    {% endfor %}
</div>
{%- endmacro %}


{% macro timeline(user, obj)%}
{{timeline_components.timeline(user, obj)}}
{%- endmacro %}


{% macro journal(user, obj)%}
{{journal_components.journal(user, obj)}}
{%- endmacro %}


{% macro stories(user, obj)%}
<div id='stories-list'>
    {{stories_components.stories(user, obj)}}
</div>
{%- endmacro %}


{% macro campaigns(user, obj)%}
{% if user.world_user(obj)%}
<div class="grid-x">
    <div class="cell shrink">
        <button class="button small" hx-post="/api/world/campaign/new"
                hx-target="#campaigns-list"
                hx-selector="#campaigns-list"
                hx-swap="outerHTML">
            {{icon_components.plus(size="1rem")}}
            New Campaign
        </button>
    </div>
</div>
{% endif %}
<div id='campaigns-list'>
    {{campaigns_components.campaigns(user, obj)}}
</div>
{%- endmacro %}

{% macro associations(user, obj, associations)%}
{{associations_components.associations(user, obj, associations)}}
{%- endmacro %}

{% macro map(user, obj)%}
{{map_components.map(user, obj)}}
{%- endmacro %}

{% macro jobs(user, obj)%}
{{jobs_components.jobs(user, obj)}}
{%- endmacro %}


{% macro players(user, obj) -%}
{{title_components.object_title(user, obj)}}
<title>{{obj.name}} - Players callout</title>
<h2 class="">Players</h2>
{% for player in obj.players %}
<a href="/character/{{player.pk}}" style='text-decoration: none;'>
    <div class="callout ">
        <div class="grid-x cards-container has-center">
            <div class="cell  align-center-middle shrink">

                <div class="image is-medium is-thumbnail is-margin-center">
                    <img src="{{player.image.url(size='100')}}" loading="lazy" alt="{{player.name}}"
                         style="width:100%; height:100%;" />
                </div>
            </div>
            <div class="cell">
                <h4 class="" style='text-decoration:underline;'>
                    {% if player.name %}
                    {{player.name}}
                    {% else %}
                    {{player.title}}
                    {% endif %}
                </h4>
                <div class="generated-text-lightbg">
                    {{player.backstory_summary | safe}}
                </div>
            </div>
        </div>
    </div>
</a>
<hr>
{% endfor %}
{%- endmacro %}


{% macro manage(user, obj) -%}
{{ manage_world_components.manage(user, obj) }}
{%- endmacro %}

{% macro managescreens(user, obj) -%}
{{ manage_screen_components.manage(user, obj) }}
{%- endmacro %}

{% macro lore(user, obj) -%}
{{title_components.object_title(user, obj)}}
<div id="lore-container" class="callout ">
    <h2 class=" text-centered">Lore Builder</h2>
    <hr>
    <form hx-post="/api/world/lore/new"
          hx-target="#lore-container"
          hx-selector="#lore-container"
          hx-swap="outerHTML">
        <div class="grid-x align-spaced">
            <div class="cell medium-3">
                <select name="storypk" class="inputwidth" required>
                    <option value="" selected>=== Select Storyline ===</option>
                    {% for entry in obj.stories %}
                    <option value="{{entry.pk}}">{{entry.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="cell medium-4">
                <div class="grid-x">
                    <div class="cell shrink align-center-middle">
                        <h6 class="text-center">
                            Current Date
                        </h6>
                    </div>
                    <div class="cell shrink">
                        <input type="number" name="start_day"
                               class="inputwidth text-center"
                               value="{{obj.current_date.day}}" min="1"
                               max="31">
                    </div>
                    <div class="cell shrink">
                        <div class='select'>
                            <select name="start_month" class="inputwidth">
                                <option value="" selected>=== Select Month ===</option>
                                {% for month in obj.calendar.months %}
                                <option value="{{month}}" {% if obj.current_date.month==loop.index
                                        %}
                                        selected {% endif %}>
                                    {{month}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="cell">
                        <h6 class="text-center">
                            {{obj.end_date.year // 2}}
                            {{obj.calendar.age}}
                        </h6>
                        <div class="is-slider"
                             onchange="this.previousElementSibling.innerHTML = this.firstElementChild.value + ' {{obj.calendar.age}}';">
                            <input
                                   name="start_year" type="range" min="{{obj.start_date.year}}"
                                   max="{{obj.end_date.year}}" step='1'
                                   value="{{obj.current_date.year}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell shrink">
                <button type="submit" class="button small">
                    {{icon_components.plus(size="1rem")}}
                    New Lore Entry
                </button>
            </div>
        </div>
    </form>
    <hr>
    <div id='lore-entries' class='grid-x align-spaced'>
        {% for entry in obj.lore_entries %}
        <div class="cell medium-4" hx-post="/api/world/lore/{{entry.pk}}/edit"
             hx-target="#lore-container">
            <div class="callout">
                <h3 class="">{{entry.name}}</h3>
                <div class="generated-text-lightbg">
                    {{entry.summary | safe}}
                </div>
                <div class="grid-x">
                    <div class="cell shrink">
                        <button class="button small"
                                hx-post="/api/world/lore/{{entry.pk}}/delete"
                                hx-target="#lore-entries"
                                hx-selector="#lore-entries"
                                hx-trigger="click consume"
                                hx-swap="outerHTML">
                            {{icon_components.trash(size="1rem")}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{%- endmacro %}

{% macro lore_details(user, lore) -%}
<div class="callout">
    <form hx-post="/api/world/lore/{{lore.pk}}/edit"
          hx-trigger="change delay:500ms"
          hx-swap="none">
        <div class="grid-x align-spaced">
            <div class="cell medium-6">
                {{form_components.text_input(name="name",label="Title",value=lore.name)}}
            </div>
            <div class="cell shrink">
                <label class="label " for="scope">Scope</label>
                <div class="select">
                    <select class="" name="scope">
                        <option value="" selected>=== Select Scope ===</option>
                        <option value="local" selected>Local</option>
                        <option value="regional" selected>Regional</option>
                        <option value="global" selected>Global</option>
                        <option value="epic" selected>Epic</option>
                    </select>
                </div>
            </div>
            <div class="cell medium-4">
                <h6 class=" text-center">
                    Current Date
                </h6>
                <div class="grid-x ">
                    <div class="cell shrink">
                        <input type="number" name="start_day"
                               class="inputwidth text-center"
                               value="{{lore.start_date.day}}" min="1"
                               max="31">
                    </div>
                    <div class="cell shrink">
                        <div class='select'>
                            <select name="start_month" class="inputwidth">
                                <option value="" selected>=== Select Month ===</option>
                                {% for month in lore.calendar.months %}
                                <option value="{{month}}" {% if lore.start_date.month==loop.index
                                        %}
                                        selected {% endif %}>
                                    {{month}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="cell">
                        <input
                               name="start_year" type="number" min="{{lore.start_date.year}}"
                               max="{{lore.start_date.year}}" step='1'
                               value="{{lore.start_date.year}}">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="callout  ">
        {% if lore.story %}
        <h3 class="text-centered"
            onclick='this.nextElementSibling.classList.toggle("is-hidden")'>Associated Storyline:
            {{lore.story.name}}
        </h3>
        <div class="is-hidden ease-in-out">
            {{lore.story.summary | safe}}
        </div>
        {% else %}
        <div class=" grid-x align-spaced">
            <div class="cell shrink">
                <select name="storypk"
                        hx-post="/api/world/lore/{{lore.pk}}/edit"
                        hx-target="#lore-container"
                        hx-trigger="change"
                        hx-selector="#lore-container"
                        hx-swap="outerHTML">
                    <option value="" selected>=== Select Storyline ===</option>
                    {% for entry in lore.world.stories %}
                    <option value="{{entry.pk}}">{{entry.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="grid-x align-spaced">
        <div class="cell medium-6">
            <form hx-post="/task/generate/lore/{{lore.pk}}">
                <div class="grid-x">
                    <div class="cell">
                        {{form_components.textarea(lore, name="prompt", label="Prompt")}}
                    </div>
                    <div class="cell shrink">
                        <button type="submit"
                                class="button small">
                            {{icon_components.refresh(size="1rem")}}
                            Generate Lore
                        </button>
                    </div>
                </div>
            </form>
        </div>
        {% if lore.summary %}
        <div class="cell medium-6">
            {{lore.summary | safe}}
        </div>
        {% endif%}
        {% if lore.situation %}
        <div class="cell medium-6">
            {{lore.situation | safe}}
        </div>
        {% endif%}
        {% if lore.backstory %}
        <div class="cell medium-6">
            {{lore.backstory | safe}}
        </div>
        {% endif%}
        {% if lore.potential_events %}
        <div class="cell medium-6">
            <h3 class="">Potential Events</h3>
            <ul>
                {% for event in lore.potential_events %}
                <li>{{event | safe}}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif%}
    </div>
</div>
<div class="grid-x">
    <div class="cell">
        <div id="lore-party-container" class="grid-x has-centered">
            <div class="cell shrink">
                <h3 class=" text-centered">Party Members</h3>
            </div>
            <div class="cell medium-4">
                <input class="" autocomplete="off" type="search" name="query"
                       style="border-bottom: solid #000;"
                       hx-post="/api/world/lore/{{lore.pk}}/party/add/search"
                       hx-target="#lore-new-party-list"
                       hx-trigger="input changed delay:500ms consume"
                       hx-on:input="this.value.length < 3 ? this.closest('.has-dropdown').classList.remove('is-active'):this.closest('.has-dropdown').classList.add('is-active')">
                <ul class="dropdown menu" data-dropdown-menu id="lore-new-party-list">
                </ul>
            </div>
            <div class="cell">
                <div class="grid-x align-spaced">
                    {% for o in lore.party %}
                    <div class="cell medium-2" style='position:relative;'>
                        {{display_components.object_display(o, type=False, dim=150)}}
                        <a style='position:absolute; top:0px; right:5px;'
                           hx-post="/api/world/lore/{{lore.pk}}/party/remove/{{o.pk}}"
                           hx-target="closest .cell" hx-swap="delete"
                           hx-confirm="Are you sure you want to remove this character from the party?">
                            <iconify-icon class="" icon="mdi:remove"
                                          width="1rem"></iconify-icon>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="cell">
        <div id="lore-associations-container" class="grid-x has-centered">
            <div class="cell shrink">
                <h3 class=" text-centered">Associations</h3>
            </div>
            <div class="cell medium-4">
                <input class="" autocomplete="off" type="search" name="query"
                       style="border-bottom: solid #000;"
                       hx-post="/api/world/lore/{{lore.pk}}/association/add/search"
                       hx-target="#lore-new-association-list"
                       hx-trigger="input changed delay:500ms consume"
                       hx-on:input="this.value.length < 3 ? this.closest('.has-dropdown').classList.remove('is-active'):this.closest('.has-dropdown').classList.add('is-active')">
                <ul class="dropdown menu" data-dropdown-menu id="lore-new-association-list">
                </ul>
            </div>
            <div class="cell">
                <div class="grid-x align-spaced">
                    {% for o in lore.associations %}
                    <div class="cell medium-2" style='position:relative;'>
                        {{display_components.object_display(o, type=False, dim=150)}}
                        <a style='position:absolute; top:0px; right:5px;'
                           hx-post="/api/world/lore/{{lore.pk}}/association/remove/{{o.path}}"
                           hx-target="closest .cell" hx-swap="delete"
                           hx-confirm="Are you sure you want to remove this association from the lore?">
                            <iconify-icon class="" icon="mdi:remove"
                                          width="1rem"></iconify-icon>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro lore_party_dropdown(user, lore, objs=[]) -%}
{% for o in objs %}
<li class="dropdown__link ">
    <a hx-post="/api/world/lore/{{lore.pk}}/party/add/{{o.pk}}"
       hx-target='#lore-party-container'
       hx-select='#lore-party-container'
       hx-swap='outerHTML'
       onclick="this.closest('.has-dropdown').classList.remove('is-active')">
        <div class="grid-x">
            <div class="cell shrink">
                {% if o.image %}
                <img class="thumbnail" style="cursor: pointer" src="{{o.image.url(size=50)}}"
                     alt="{{o.name}}" />
                {% endif %}

            </div>
            <div class="cell">
                {{o.name}}
            </div>
        </div>
    </a>
</li>
{% endfor %}
{%- endmacro%}

{% macro lore_association_dropdown(user, lore, objs=[]) -%}
{% for o in objs %}
<li class="dropdown__link ">
    <a hx-post="/api/world/lore/{{lore.pk}}/association/add/{{o.path}}"
       hx-target='#lore-associations-container'
       hx-select='#lore-associations-container'
       hx-swap='outerHTML'
       onclick="this.closest('.has-dropdown').classList.remove('is-active')">
        <div class="grid-x">
            <div class="cell shrink">
                {% if o.image %}
                <img class="thumbnail" style="cursor: pointer" src="{{o.image.url(size=50)}}"
                     alt="{{o.name}}" />
                {% endif %}
            </div>
            <div class="cell">
                {{o.name}}
            </div>
        </div>
    </a>
</li>
{% endfor %}
{%- endmacro%}