services:
  stapp:
    image: ${APP_NAME}:latest
    build:
      context: .
    working_dir: /var/app
    env_file: .env
    container_name: ${APP_NAME}
    volumes:
      - ./app:/var/app/
      - ./models:/var/app/models/
      - ./static:/var/app/static/
      - ./templates:/var/app/templates/
      - ./filters:/var/app/filters/
      - ./logs:/var/app/logs/
    command: ["/var/app/init.sh"]
    ports:
      - "${APP_PORT}:${COMM_PORT}"
    depends_on:
      - ${API_SERVICE_NAME}
  stapi:
    image: ${APP_NAME}_api:latest
    build:
      context: .
    working_dir: /var/app
    env_file: .env
    container_name: ${APP_NAME}_api
    volumes:
      - ./api:/var/app/
      - ./models:/var/app/models/
      - ./static:/var/app/static/
      - ./templates:/var/app/templates/
      - ./filters:/var/app/filters/
      - ./logs:/var/app/logs/
    command: ["gunicorn", "app:create_app()", "-c/var/gunicorn.conf.py"]
    ports:
      - "${API_PORT}:${COMM_PORT}"
  sttasks:
    image: ${APP_NAME}_tasks:latest
    build:
      context: .
    working_dir: /var/app
    env_file: .env
    container_name: ${APP_NAME}_tasks
    volumes:
      - ./tasks:/var/app/
      - ./models:/var/app/models/
      - ./static:/var/app/static/
      - ./filters:/var/app/filters/
      - ./logs:/var/app/logs/
      - ./templates:/var/app/templates/
    command: ["gunicorn", "app:create_app()", "-c/var/gunicorn.conf.py"]

networks:
  default:
    name: ${APP_NAME}_net