// 1. Foundation Dependencies (Settings, Functions, etc.)
@import 'settings'; // Foundation's default settings file
// 2. Import Foundation itself (includes all modules and mixes in defaults)
@import '../../node_modules/foundation-sites/scss/foundation';
@include foundation-everything($prototype: true);


.container
{
    margin-right: auto;
    margin-left: auto;
}

.main-panel
{
    font-size: 1.2rem;
}

.side-panel
{
    background-color: $secondary-color;
}

h1
{
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    text-align: center;
}

.text-primary
{
    color: $primary-color;
}

.text-secondary
{
    color: $secondary-color;
}

.text-muted
{
    color: $muted;
}

.text-screen
{
    color: $screen;
}

.text-white
{
    color: $white;
}

.text-black
{
    color: $black;
}

.bg-primary
{
    background-color: $primary-color;
}

.bg-secondary
{
    background-color: $secondary-color;
}

.bg-muted
{
    background-color: $muted;
}

.bg-screen
{
    background-color: $screen;
}

.bg-white
{
    background-color: $white;
}

.bg-black
{
    background-color: $black;
}

.bg-none
{
    background-color: transparent;
}

table.ability
{
    font-size: 90%;
}

.object-name
{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
    text-align: center;
}

#top-nav
{
    background-color: $primary-color;
}

#object-title
{
    background-color: $secondary-color;
}

#object-menu
{
    background-color: $secondary-color;
}

#logo
{
    font-size: 2rem;
    display: flex;
}

#nav-search
{
    position: absolute;
    background: $white;
}

li.menu a
{
    width: 100%;
}

#sidenav
{
    background-color: $white;
}

#back-to-top
{
    display: none;
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
    z-index: 999;
    transition: display 1s ease;
}

.htmx-indicator
{
    display: none;
    padding: 1rem;
    border-radius: 10%;
    background-color: rgba($primary-color, 0.7);
    color: $screen;
}

.htmx-request .htmx-indicator
{
    display: inline-block;
    position: fixed;
    bottom: 10%;
    right: 50%;
}

.htmx-request.htmx-indicator
{
    display: inline-block;
    position: fixed;
    bottom: 10%;
    right: 47%;
}