// 1. Foundation Dependencies (Settings, Functions, etc.)
@import 'settings'; // Foundation's default settings file
// 2. Import Foundation itself (includes all modules and mixes in defaults)
@import '../../node_modules/foundation-sites/scss/foundation';
@include foundation-everything;

body
{
    font-family: 'Rosarivo', serif;
    -webkit-font-smoothing: initial;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: 'Rosarivo';
}

.container
{
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
    background-color: #eee;
}

.main-panel
{
    font-size: 1.2rem;
}

.side-panel
{
    background-color: #ddd;
}

h2
{
    font-size: clamp(1.5rem, 2.25vw, 2.0rem);
}

h3
{
    font-size: clamp(1.2rem, 2vw, 1.5rem);
}

h4
{
    font-size: clamp(1.1rem, 1.9vw, 1.3rem);
}

h5
{
    font-size: clamp(1.05rem, 1.8vw, 1.2rem);
}

h6
{
    font-size: clamp(1.0rem, 1.75vw, 1.1rem);
}

h2,
h3,
h4,
h5,
h6
{
    text-align: center;
}

h2
{
    margin: 2rem 0 1rem;
    padding-top: 1rem;
}

.accordion-title
{
    font-size: inherit;
}

table.ability
{
    font-size: 90%;
}

.object-name
{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
    text-align: center;
}

#top-nav
{
    background-color: #c3ddef;
}

#object-title
{
    background-color: #304350;
}

#object-menu
{
    background-color: #dee2e5;
}

h1
{
    margin: .3em 0;
    color: white;
}

#logo
{
    font-size: 2rem;
    display: flex;
}

#nav-search
{
    position: absolute;
    background: white;
}

li.menu a
{
    width: 100%;
}

#sidenav
{
    background-color: #efe;
}

#back-to-top
{
    display: none;
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
    z-index: 999;
    transition: display 1s ease;
}