/* Error: Can't find stylesheet to import.
 *    ,
 * 64 | @import '../../node_modules/foundation-sites/scss/util/util';
 *    |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   static/style/_settings.scss 64:9  @import
 *   static/style/main.scss 2:9        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a    \2577 \a 64 \2502  @import '../../node_modules/foundation-sites/scss/util/util';\a    \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   static/style/_settings.scss 64:9  @import\a   static/style/main.scss 2:9        root stylesheet";
}
