.textbox {
  font-size: 1.25rem;
  text-align: justify;
  padding: 0.5rem;
}

#page-content {
  transition: all 0.3s ease-in-out;
}

#create-world-form {
  /* Increase the text size for input fields */
}
#create-world-form input,
#create-world-form select,
#create-world-form option {
  font-size: 1.5rem;
  /* Adjust the font size as needed */
}
#create-world-form input ::active,
#create-world-form select ::active,
#create-world-form option ::active {
  background-color: #fff;
}
#create-world-form select {
  background-color: #fff;
}
#create-world-form {
  /* Increase the text size for labels */
}
#create-world-form label {
  font-size: 1.8rem;
  /* Adjust the font size as needed */
}

#world-login-button {
  position: absolute;
  top: 10px;
  /* Adjust the distance from the top */
  right: 10px;
  /* Adjust the distance from the right */
  padding: 10px;
}

#model-title-container {
  box-shadow: inset 0 -40px 25px -10px white;
  padding-bottom: 3.5rem;
}

#screen-container {
  position: fixed;
  transition: all 0.5s ease-in;
  transform: translateY(-100%);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}

.ql-container {
  height: 100%;
}

#back-to-top {
  display: none;
  position: fixed;
  bottom: 0.5rem;
  left: 0.5rem;
  border: 1px solid white;
  cursor: pointer;
  z-index: 999;
  transition: display 1s ease;
}
#back-to-top:hover {
  background-color: white;
}

.htmx-indicator {
  display: none;
  transition: all 500ms ease-in-out;
}

.htmx-request .htmx-indicator {
  display: inline;
}

.htmx-request.htmx-indicator {
  display: inline;
}

#request-indicator {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  position: fixed;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.generated-text-lightbg {
  color: black;
}
.generated-text-lightbg h1,
.generated-text-lightbg h2,
.generated-text-lightbg h3,
.generated-text-lightbg h4,
.generated-text-lightbg h5,
.generated-text-lightbg h6,
.generated-text-lightbg p {
  color: black;
}
.generated-text-lightbg h1 {
  font-size: 2rem;
}
.generated-text-lightbg h2 {
  font-size: 1.75rem;
}
.generated-text-lightbg h3 {
  font-size: 1.5rem;
}
.generated-text-lightbg h4 {
  font-size: 1.25rem;
}
.generated-text-lightbg h5 {
  font-size: 1rem;
}
.generated-text-lightbg h6 {
  font-size: 0.75rem;
}

.generated-text-darkbg {
  color: white;
}
.generated-text-darkbg h1,
.generated-text-darkbg h2,
.generated-text-darkbg h3,
.generated-text-darkbg h4,
.generated-text-darkbg h5,
.generated-text-darkbg h6,
.generated-text-darkbg p {
  color: white;
}
.generated-text-darkbg h1 {
  font-size: 2rem;
}
.generated-text-darkbg h2 {
  font-size: 1.75rem;
}
.generated-text-darkbg h3 {
  font-size: 1.5rem;
}
.generated-text-darkbg h4 {
  font-size: 1.25rem;
}
.generated-text-darkbg h5 {
  font-size: 1rem;
}
.generated-text-darkbg h6 {
  font-size: 0.75rem;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22main.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAA;EAEI;EACA;EACA;;;AAGJ;EAEI;;;AAIJ;AAGI;;AACA;AAAA;AAAA;EAII;AAEA;;AACA;AAAA;AAAA;EAEI;;AAIR;EAEI;;AAnBR;AAsBI;;AACA;EAEI;AACA;;;AAIR;EAEI;EACA;AACA;EACA;AACA;EACA;;;AAGJ;EAEI;EACA;;;AAGJ;EAEI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGJ;EAEI;;;AAGJ;EAEI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EAEI;;;AAIR;EAEI;EACA;;;AAGJ;EAEI;;;AAGJ;EAEI;;;AAGJ;EAEI;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGJ;EAEI;;AAEA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;EAQI;;AAGJ;EAEI;;AAGJ;EAEI;;AAGJ;EAEI;;AAGJ;EAEI;;AAGJ;EAEI;;AAGJ;EAEI;;;AAIR;EAEI;;AAEA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;EAQI;;AAGJ;EAEI;;AAGJ;EAEI;;AAGJ;EAEI;;AAGJ;EAEI;;AAGJ;EAEI;;AAGJ;EAEI%22,%22file%22:%22main.css%22%7D */
