{% import "shared/_icons.html" as icon_components %}

{% macro topnav(user) -%}
<nav class="grid-x grid-margin-x">
    <div class="cell shrink align-center-middle text-center">
        <a href="/">
            <h2>
                {{icon_components.dungeon(size="2.5rem")}}
                Storyteller
            </h2>
        </a>
    </div>
    <div class="cell small-2 align-center-middle">
        <small>ver. 0.2.3</small>
    </div>
    {% if user and user.state != "guest"%}
    <div class="cell small-4 align-center-middle" hx-indicator="#request-indicator">
        <div class='grid-x grid-margin-x'>
            <div class="cell shrink align-center-middle">
                <span>
                    {{icon_components.search(size="1.25rem")}}
                </span>
            </div>
            <div class="cell auto">
                <input type="text" autocomplete="off" class="has-bg-secondary has-text-white"
                       type="search" name="query" hx-post="/api/nav/search" hx-target="#nav-search"
                       hx-trigger="input changed delay:500ms, search">
                <ul id="nav-search">
                </ul>
            </div>
        </div>
    </div>
    <div class="cell shrink align-center-middle">
        <button type="button" class='button' hx-post="/api/gmscreen/display"
                hx-target="#screen-container"
                onclick='htmx.find("#screen-container").style="transform: translateY(0%);";'>
            {{icon_components.keyboard(size="1.5rem")}}
            GM Screen
        </button>
    </div>
    <div class="cell shrink align-center-middle">
        <a href="/">
            <h4>
                {{user.name | title}}
            </h4>
        </a>
    </div>
    {% endif %}
    <div class="cell auto"></div>
    <div class="cell shrink align-center-middle">
        {% if not user or user.state == " guest" %}
        <a href="/auth/login" class="button small">Login</a>
        {% else %}
        <a href="/auth/logout" class="button small">Logout</a>
        {% if user.admin %}
        <a class="button small" href="/admin/">
            ADMIN
        </a>
        {% endif %}
        {% endif %}
    </div>
</nav>
{%- endmacro %}

{% macro nav_dropdown(user, obj, objs=[]) -%}
{% for o in objs %}
<li class="dropdown__link">
    <a href='/{{o.model_name() | lower}}/{{o.pk}}' target='_blank'>
        <div class=" row">
            <div class="cell shrink">
                <div class="image is-tiny is-thumbnail" style="cursor: pointer">
                    {% if o.image %}
                    <img src=" {{o.image.url(size=50)}}" alt="{{o.name}}" />
                    {% endif %}
                </div>
            </div>
            <div class="cell">
                {{o.name}}
            </div>
        </div>
    </a>
</li>
{% endfor %}
{%- endmacro%}

{% macro object_menu(user, obj) -%}
<ul class='menu expanded'>
    <li>
        <a href=""
           hx-get="/api/{{obj.path}}/associations"
           hx-target="#page-content"
           hx-indicator="#request-indicator"
           hx-swap="innerHTML show:#page-content:top"
           hx-push-url="/{{obj.path}}/associations">
            <div class="grid-x">
                <div class="cell shrink align-center-middle">
                    {{icon_components.associations(size="1rem")}}
                </div>
                <div class="cell auto">
                    <span>Associations</span>
                </div>
            </div>
        </a>
    </li>
    <span hx-get="/api/nav/sidemenu/{{obj.path}}"
          hx-trigger="load"
          hx-swap="outerHTML">
    </span>
    <li>
        <a href="/{{obj.world.path}}">
            <div class="grid-x">
                <div class="cell shrink align-center-middle">
                    {{icon_components.world(size="1rem")}}
                </div>
                <div
                     class="cell auto">
                    <h4 class='has-text-screen'>{{obj.world.name}}</h4>
                </div>
            </div>
        </a>
    </li>
</ul>
{%- endmacro %}