{% import "shared/_icons.html" as icon_components %}

{% macro site_header(user) -%}
<div id="top-nav" class="grid-x grid-padding-x">
    <!-- logo -->
    <div class="cell shrink bg-primary" style='padding-top: 1rem;'>
        <a id="logo" class="align-middle text-white"
           href="/">{{icon_components.dungeon(size="2.5rem")}}Storyteller</a>
    </div>
    <div class="cell shrink bg-primary" style='padding-top: 1rem;'>
        <small class="show-for-medium text-white">ver. 0.3.0</small>
    </div>
    {% if user %}
    <div class="cell small-9 medium-5 align-center-middle bg-primary align-self-stretch"
         hx-indicator="#request-indicator" style='padding-top: 1rem;'>
        <div class="input-group">
            <input type="text" autocomplete="off" class="input-group-field"
                   placeholder="search"
                   type="search" name="query" hx-post="/api/nav/search" hx-target="#nav-search"
                   hx-trigger="input changed delay:500ms, search"
                   hx-on:input="this.value.length < 3 ? this.closest('.has-dropdown').classList.remove('is-active'):this.closest('.has-dropdown').classList.add('is-active')">
            <div class="input-group-button">
                <button class="button secondary">
                    {{icon_components.search('1.25rem')}}
                </button>
            </div>
        </div>
        <ul id="nav-search" class="vertical dropdown menu" data-dropdown-menu
            style='z-index: 9999;'></ul>
    </div>
    <div class="cell auto show-for-medium bg-primary"></div>
    <!-- login -->
    <div class="cell small-3 shrink bg-primary">
        {{dsp_auth(user)}}
    </div>
    {% endif %}

</div>
{%- endmacro %}

{% macro dsp_auth(user) -%}
<button class="button float-right" type="button" data-toggle="auth-panel">
    {{icon_components.character(size="2rem")}}
</button>
<div class="dropdown-pane" id="auth-panel" data-dropdown data-auto-focus="true">
    {% if not user.is_guest %}
    <div>{{user.name | title}}</div>
    <a class="button" href="/auth/logout">Logout</a>
    <button class='button' hx-post="/api/gmscreen/display" hx-target="#screen-container"
            onclick='htmx.find("#screen-container").style="transform: translateY(0%);";'>
        {{icon_components.keyboard(size="1.5rem")}}
        GM Screen
    </button>
    {% if user.is_admin %}
    <a class="button" href="/admin/">
        {{icon_components.keyboard(size="1.5rem")}}
        Admin
    </a>
    {% endif %}
    {% else %}
    <a href="/auth/login">Login</a>
    {% endif %}
</div>
{%- endmacro %}

{% macro nav_dropdown(user, obj, objs=[]) -%}
{% for o in objs %}
<li>
    <a href='/{{o.model_name() | lower}}/{{o.pk}}'>
        <div class="grid-x align-center grid-padding-x">
            <div class="cell shrink">
                {% if o.image %}
                <img src="{{o.image.url(size=50)}}" alt="{{o.name}}" />
                {% endif %}
            </div>
            <div class="cell shrink align-center-middle">
                {{o.name}}
            </div>
        </div>
    </a>
</li>
{% endfor %}
{%- endmacro%}

{% macro object_menu(user, obj) -%}
<ul class='menu align-center'>
    <li>
        <a href=""
           hx-get="/api/{{obj.path}}/associations"
           hx-target="#page-content"
           hx-indicator="#request-indicator"
           hx-swap="innerHTML show:#page-content:top"
           hx-push-url="/{{obj.path}}/associations">
            <div class="grid-x">
                <div class="cell shrink align-center-middle">
                    {{icon_components.associations(size="1rem")}}
                </div>
                <div class="cell auto">
                    <span>Associations</span>
                </div>
            </div>
        </a>
    </li>
    <span hx-get="/api/nav/sidemenu/{{obj.path}}"
          hx-trigger="load"
          hx-swap="outerHTML">
    </span>
</ul>
{%- endmacro %}