{% import "_nav.html" as nav %}
{% import "shared/_title.html" as title %}
{% import "manage/_gmscreen.html" as gmscreen %}
{% import "shared/_icons.html" as icon_components %}

<!doctype html>
<html class="no-js" lang="en">

    <head>
        {% block head %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta charset="{{url_for('static', filename='images/favicon-32x32.png')}}">
        <link rel="icon" href="data:,">
        <link rel="apple-touch-icon" sizes="180x180"
              href="{{url_for('static', filename='images/apple-touch-icon.png')}}">
        <link rel="icon" type="image/png" sizes="32x32"
              href="{{url_for('static', filename='images/favicon-32x32.png')}}">
        <link rel="icon" type="image/png" sizes="16x16"
              href="{{url_for('static', filename='images/favicon-16x16.png')}}">

        <!--------------------------- Vendor CSS libs ---------------------------->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
              integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
              crossorigin="" />
        <!--- Foundation -->
        <!-- Compressed CSS -->
        {#
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/css/foundation.min.css"
              crossorigin="anonymous"> #}

        <!--------------------------- Custom CSS ---------------------------->
        <!-- Compiled and minified CSS-->
        <link rel="stylesheet" type="text/css"
              href="{{ url_for('static', filename='style/main.css') }}">

        <!--------------------------- Vendor JavaScript Libs ---------------------------->
        <script
                src="https://cdn.jsdelivr.net/npm/@tinymce/tinymce-webcomponent@2/dist/tinymce-webcomponent.min.js"></script>
        <script src="{{ url_for('static', filename='js/tinymce/tinymce.min.js') }}"
                referrerpolicy="origin"></script>
        <script src="{{ url_for('static', filename='js/sortable.js') }}"></script>
        <script src="https://unpkg.com/htmx.org@1.9.11"
                integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
                crossorigin="anonymous"></script>
        <script src="https://unpkg.com/htmx.org@1.9.11/dist/ext/json-enc.js"></script>
        <script src="https://code.iconify.design/iconify-icon/1.0.3/iconify-icon.min.js"></script>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
                integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
                crossorigin=""></script>
        <script src="https://unpkg.com/@popperjs/core@2"></script>
        <script src="https://unpkg.com/tippy.js@6"></script>
        <!--- Foundation -->
        <!-- Compressed JavaScript -->
        {#
        <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/js/foundation.min.js"
                crossorigin="anonymous"></script> #}

        <!-- JavaScript Libs -->
        <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>

        {% endblock %}
        {% block head_ext %}
        {% endblock %}
    </head>

    <body hx-ext='json-enc' hx-vals='{
                "user": "{%if user%}{{user.pk}}{%endif%}",
                "model": "{%if obj%}{{obj.model_name().lower()}}{%endif%}",
                "pk": "{%if obj%}{{obj.pk}}{%endif%}"
            }'>
        <div class="is-full" id="nav" style='box-shadow: 0px 1px 5px; margin-bottom:2px;'>
            {% block topnav %}
            {{nav.topnav(user)}}
            {% endblock %}
        </div>
        <div id='screen-container' class='is-tablet-up'>
        </div>
        <div class="container has-no-padding has-bg-muted is-full is-mobile-full" id="content">
            <div id='page-container'
                 class="container has-no-padding-top has-no-padding-left is-full is-mobile-full"
                 style='position:relative;'>
                <div class="row has-no-padding-left slide-it-in has-centered">
                    {% if obj %}
                    <div class="column is-shrink is-mobile-shrink has-no-padding-left slide-it-in"
                         style='position:absolute;top:0;left:0;'>
                        <button id="mobile-menu-burger" class='button is-mobile-only'
                                style='position:fixed; z-index:1002; border-radius:0 10px 10px 0;'>
                            {{icon_components.menuburger(size="1.5rem")}}
                        </button>
                        {{nav.sidemenu_active(user, obj)}}
                    </div>
                    {% endif %}
                    <div class="column is-11 is-mobile-full has-no-padding">
                        {% if page_url %}
                        <div class='has-bg-transparent raise-it'
                             style='border-radius: 0 0 5px 5px;' id="page-content"
                             hx-get='/api{{page_url}}'
                             hx-trigger='load'
                             hx-indicator='#request-indicator'
                             hx-push-url='{{page_url}}'>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="image htmx-indicator has-text-muted has-bg-screen" id="request-indicator">
            <img src="/static/images/grid.svg" alt="loading">
        </div>
        <footer style="height: 4rem;">
            <div class="row">
                <div class="column">
                    {% block footer %}{% endblock %}
                </div>
                <div class="column is-shrink is-end">
                    <button class="button is-large is-circle" id="back-to-top"
                            onclick="window.scrollTo({top: 0,behavior: 'smooth'});">
                        {{icon_components.top(size="1.5rem")}}
                    </button>
                </div>
            </div>
        </footer>
    </body>

</html>