{% import "components/_nav.html" as nav %}
<!doctype html>
<html lang="en">

    <head>
        {% block head %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta charset="{{url_for('static', filename='images/favicon-32x32.png')}}">
        <link rel="icon" href="data:,">
        <link rel="apple-touch-icon" sizes="180x180"
              href="{{url_for('static', filename='images/apple-touch-icon.png')}}">
        <link rel="icon" type="image/png" sizes="32x32"
              href="{{url_for('static', filename='images/favicon-32x32.png')}}">
        <link rel="icon" type="image/png" sizes="16x16"
              href="{{url_for('static', filename='images/favicon-16x16.png')}}">

        <!-- Vendor CSS-->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
              integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
              crossorigin="" />
        <link href="{{ url_for('static', filename='style/nouislider.min.css') }}" rel="stylesheet">
        <!-- Compiled and minified CSS-->
        <link rel="stylesheet" type="text/css"
              href="{{ url_for('static', filename='style/main.css') }}">

        <!-- Vendor JavaScript Libs-->
        <script
                src="https://cdn.jsdelivr.net/npm/@tinymce/tinymce-webcomponent@2/dist/tinymce-webcomponent.min.js"></script>
        <script src="{{ url_for('static', filename='js/tinymce/tinymce.min.js') }}"
                referrerpolicy="origin"></script>
        <script src="https://unpkg.com/htmx.org@1.9.11"
                integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
                crossorigin="anonymous"></script>
        <script src="https://unpkg.com/htmx.org@1.9.11/dist/ext/json-enc.js"></script>
        <script src="https://code.iconify.design/iconify-icon/1.0.3/iconify-icon.min.js"></script>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
                integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
                crossorigin=""></script>
        <script
                src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier-Leaflet/0.2.6/oms.min.js"></script>
        <script src="{{ url_for('static', filename='js/nouislider.min.js') }}"></script>
        <!-- JavaScript Libs -->
        <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
        {% endblock %}
    </head>

    <body hx-ext='json-enc' hx-vals='{
                "user": "{%if user%}{{user.pk}}{%endif%}",
                "model": "{%if obj%}{{obj.model_name().lower()}}{%endif%}",
                "pk": "{%if obj%}{{obj.pk}}{%endif%}"
            }'>
        <div class="is-full" id="nav">
            {% block topnav %}
            {{nav.topnav(user, obj)}}
            {% endblock %}
        </div>
        <div class="container has-no-padding is-full" id="content">
            {% block page %}{% endblock %}
        </div>
        <div class="image htmx-indicator has-text-muted has-bg-screen" id="request-indicator">
            <img src="/static/images/grid.svg" alt="loading">
        </div>
        <footer style="height: 4rem;">
            <div class="row">
                <div class="column">
                    {% block footer %}{% endblock %}
                </div>
                <div class="column is-shrink is-end">
                    <button class="button is-large is-circle" id="back-to-top"
                            onclick="window.scrollTo({top: 0,behavior: 'smooth'});">
                        <iconify-icon icon="bxs:to-top" width="1.5rem"
                                      height="1.5rem"></iconify-icon>
                    </button>
                </div>
            </div>
        </footer>
    </body>

</html>