{% import "shared/_icons.html" as icon_components %}

{% macro login(worlds) -%}
<div class="grid-x align-center-middle">
    <div class="cell shrink">
        <h2 class='has-text-center has-text-primary'>Login to build</h2>
    </div>
</div>
<div class="grid-x align-center-middle">
    <div class="cell shrink">
        <form action="/auth/login" method="post">
            <input type="hidden" name="authprovider" value="google">
            <button class="button is-primary" type="submit">
                with &ensp;{{icon_components.google(size="1.5rem")}}
            </button>
        </form>
    </div>
</div>
{% if worlds %}
<hr>
<div class="grid-x align-center-middle">
    <div class="cell shrink">
        <h2> Or explore some user worlds...</h2>
    </div>
</div>
<div class="grid-x">
    {% for world in worlds %}
    <div class="cell small-3">
        <a href="/{{world.path}}">
            <div class="card">
                <div class="card-divider align-center-middle">
                    <h4>{{world.name}}</h4>
                </div>
                {% if world.image %}
                <img src="{{world.image.url(size='medium')}}" alt="{{world.name}}">
                {% endif %}
                <div class="card-section" style='text-decoration: none;'>
                    {{world.backstory_summary | safe}}
                </div>
            </div>
        </a>
    </div>
    {%endfor %}
</div>
{% endif %}
{%- endmacro %}