{% extends "index.html" %}
{% import "manage/_gmscreen.html" as gmscreen %}
{% import "components/_elements.html" as element %}
{% import "components/_nav.html" as nav %}

{% block page %}
<title>{{obj.title}}|{{obj.name}}</title>
{% if 'manage_screens' not in request.path %}
<div id='screen-container' class='is-tablet-up has-bg-screen'>
    {{gmscreen.screen(user, obj)}}
</div>
{% endif %}
<div class="container has-no-padding-top has-no-padding-left is-full is-mobile-full"
     id='page-container'>
    <div class="row has-no-padding-left slide-it-in" style='position:relative;'>
        <div class="column is-shrink is-mobile-shrink has-no-padding-left slide-it-in">
            <button id="mobile-menu-burger" class='button is-mobile-only'
                    style='position:fixed; z-index:1002;border-radius:0 10px 10px 0;'>
                <iconify-icon icon="ci:hamburger-lg" width="1.5rem"></iconify-icon>
            </button>
            {{nav.sidemenu_active(user, obj)}}
        </div>
        <div class="column is-10 is-center is-mobile-full">
            {{element.object_title(user, obj)}}
            <div class='panel has-bg-muted raise-it'
                 style='border-radius: 0 0 5px 5px;' id="page-content"
                 hx-get='{{page_url}}'
                 hx-trigger='load'
                 hx-indicator='#request-indicator'>
            </div>
        </div>
    </div>
</div>
{% endblock%}