{% import "shared/_form.html" as form_components %}
{% import "shared/_icons.html" as icon_components %}

{% macro abilities(user, obj, abilities=None) -%}
<h3 class=" text-center" style='padding: 0.25rem;'>Abilities</h3>

<div class="callout " style='border-top-right-radius: 0; border-top-left-radius:0;'>
    <div class="grid-x">
        {% set ability_list = abilities or obj.abilities %}
        {%for ability in ability_list%}
        <div class="cell is-half">
            <h4 class=' text-center'
                onclick='this.parentElement.nextElementSibling.classList.toggle("is-hidden")'>
                {{ability.name}}
            </h4>
            <hr>
        </div>
        <div class="cell is-hidden">
            <div class="grid-x">
                {% if ability.description %}
                <div class="cell">
                    <div class="callout  ">
                        <h5 class=''
                            style='text-decoration: underline; text-center'>
                            Description</h5>
                        {{ability.description | safe}}
                    </div>
                </div>
                {% endif %}
                {% if ability.dice_roll %}
                <div class="cell">
                    <div class="callout has-bg-transparent">
                        <h5 class=''
                            style='text-decoration: underline;'>Roll
                            Mechanics</h5>
                        <span class=''>{{ability.dice_roll}}</span>
                    </div>
                </div>
                {% endif %}
                {% if ability.effects %}
                <div class="cell">
                    <div class="callout has-bg-transparent">
                        <h5 class=''
                            style='text-decoration: underline;'>Effects
                        </h5>
                        <span class=''>{{ability.effects}}</span>
                    </div>
                </div>
                {% endif %}
                {% if ability.duration %}
                <div class="cell">
                    <div class="callout has-bg-transparent">
                        <h5 class=''
                            style='text-decoration: underline;'>Duration</h5>
                        <span class=''>{{ability.duration}}</span>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{%- endmacro %}


{% macro edit_abilities(user, obj, abilities=None) -%}
{% set ability_list = abilities or obj.abilities %}
<div class="callout">
    <div class="grid-x">
        <div id="model-abilities-container" class="cell">
            <h3 class='text-center'>Abilities</h3>
            <div class="cell shrink">
                <button type="button" class="button small"
                        hx-post='/api/manage/details/add/listitem/ability'
                        hx-target='#ability-item-list'
                        hx-select='#ability-item-list'
                        hx-swap='outerHTML' hx-trigger="click consume">
                    {{icon_components.plus(size="1rem")}}
                    New Ability
                </button>
            </div>
            <div class="grid-x" id='ability-item-list'>
                {% for ability in ability_list %}
                <div class="cell is-half" style='position:relative;'>
                    <a class="-grey"
                       style='position:absolute; top:5px; right:5px;'
                       hx-post='/api/manage/details/ability/{{ability.pk}}/remove'
                       hx-target='closest .cell'
                       hx-swap='delete' hx-trigger="click consume">
                        {{icon_components.delete(size="1rem")}}
                    </a>
                    <div class="callout ">
                        <h4 class=' text-center'
                            onclick='this.nextElementSibling.classList.toggle("is-hidden")'>
                            {{ability.name}}
                        </h4>
                        <div id="model-abilities" class="grid-x is-hidden">
                            <div class="cell medium-4 ">
                                <label for="ability-name">Name</label>
                                <input name='abilities[].name' type="text"
                                       value="{{ability.name}}">
                            </div>
                            <div class="cell medium-4 ">
                                <label for="ability-name">Action Type</label>
                                <div class="select">
                                    <select name='abilities[].action'
                                            value="{{ability.action}}">
                                        {%for a in ["main action", "bonus action", "reaction",
                                        "free action",
                                        "passive"] %}
                                        <option value="{{a}}" {% if ability.action==a %} selected {%
                                                endif %}>{{a}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="cell medium-4 ">
                                <label for="ability-duration">Duration</label>
                                <input name='abilities[].duration' type="text"
                                       value="{{ability.duration}}">
                            </div>
                            <div class="cell is-half">
                                <label for="ability-dice-roll">Dice Roll</label>
                                <textarea
                                          class="has-bg-white"
                                          name='abilities[].dice_roll'>{{ability.dice_roll}}</textarea>
                            </div>
                            <div class="cell is-half">
                                <label for="ability-effects">Effects</label>
                                <textarea class="has-bg-white"
                                          name='abilities[].effects'>{{ability.effects}}</textarea>
                            </div>
                            <div class="cell ">
                                {{form_components.texteditor(user, ability, "description", content=ability.description, name="abilities[].description")}}
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endmacro%}