{% import "shared/_display.html" as display_components %}
{% import "shared/_icons.html" as icon_components %}


{% macro associations(user, obj, associations) -%}
    <div id="associations-container">
        {{ add_existing_association(user, obj) }}
        {{ create_new_association(user, obj) }}
        {{ current_associations(user, obj) }}
    </div>
{%- endmacro%}


<!-- list current associations -->
{% macro current_associations(user, obj) -%}
    {% for child in obj.world.all_models() %}
        {% set group = obj[child.__name__ | lower ~ "s"] %}
        {% if group %}
            {{dsp_association_group(user, obj, group, obj.world.get_title(child))}}
        {% endif %}
    {% endfor %}
{%- endmacro%}

<!-- add a new association -->
{% macro add_existing_association(user, obj) -%}
<h3>Associate an Existing Object</h3>
    <!-- search -->
    <div class="cell small-12 medium-6 align-self-middle" hx-indicator="#request-indicator">
        <div class="input-group">
            <input type="text" autocomplete="off" class="input-group-field"
                placeholder="search"
                   type="search" name="query" hx-post="/api/manage/association/add/search" hx-target="#association-search"
                   hx-trigger="input delay:750ms, search"
                   hx-vals='{"module":"shared/_associations.html", "macro":"association_dropdown"}'
                   hx-on:input="this.value.length < 3 ? this.closest('.has-dropdown').classList.remove('is-active'):this.closest('.has-dropdown').classList.add('is-active')">
            <div class="input-group-button"><button class="button">{{icon_components.search('1.25rem')}}</button></div>
        </div>
        <ul id="association-search"></ul>
    </div>
{%- endmacro%}

{% macro create_new_association(user, obj) -%}
    <h3>Create a New Object to Associate</h3>
        <div class="input-group">
            <select onchange='document.getElementById("create-new-obj").setAttribute("hx-post", "/api/manage/add/" + this.value);'>
                <option></option>
                {% for child in obj.world.all_models() %}
                    <option value="{{child.__name__ | lower}}">{{obj.world.get_title(child)}}</option>
                {% endfor %}
            </select>
            <div class="input-group-button">
                <button class="button" id="create-new-obj" 
        hx-post="/api/manage/add/shop" 
        hx-target="#associations-container" 
        hx-select="#associations-container" 
        hx-swap="outerHTML" 
        hx-indicator="#request-indicator">{{icon_components.link('1rem')}}
        </button>
            </div>
        </div>

<h3>{{title}}</h3>
<div class="grid-x grid-padding-x">
    {% for item in items %}
        {{display_components.dsp_object_thumbnail(item, type=False, dim=250)}}
        {{ button ('Unlink Me', 'heirarchy', "/api/manage/unassociate/" + item.path) }}
    {% endfor %}
</div>
{%- endmacro %}

<!-- show associations by group -->
{% macro dsp_association_group(user, obj, items, title) -%}
<h3>{{title}}</h3>
<div class="grid-x grid-padding-x">
    {% for item in items %}
        <div class="cell small-6 large-3">
            {{display_components.dsp_object_thumbnail(item, type=False, dim=100)}}
            {{ button ('Unlinky', 'heirarchy', "/api/manage/unassociate/" + item.path) }}
        </div>
    {% endfor %}
</div>
{%- endmacro %}

<!-- display all associations -->

{% macro dsp_all_associations(user, obj) -%}
    {% for child in obj.world.all_models() %}
        {% set group = obj[child.__name__ | lower ~ "s"] %}
        {% if group %}
            {{dsp_association_group(user, obj, group, obj.world.get_title(child))}}
        {% endif %}
    {% endfor %}
{%- endmacro %}

{% macro dsp_all_associations_old(user, obj) -%}
    {% set related = { 
        "characters": "Characters",
        "encounters": "Encounters",
        "items": "Items",
        "locations": "Locations",
        "districts": "Districts",
        "cities": "Cities",
        "regions": "Regions",
        "shops": "Shops",
        "creatures": "Creatures",
        "vehicles": "Vehicles",
        "factions": "Factions",
    } %}

    {% for attr, title in related.items() %}
        {% if obj[attr] %}
            {{ dsp_association_group(user, obj, obj[attr], title) }}
        {% endif %}
    {% endfor %}
{%- endmacro %}

{% macro associations_org(user, obj, associations) -%}

<h2>Associations</h2>
{% if obj.model_name() != "World"%}
<hr>
<div class="row" id='association-manager-container'>
    <div class="column is-half search is-vertically-centered">
        <div class="has-dropdown" style="width: 100%;">
            <input class="has-bg-light" autocomplete=off type="search" name="query"
                   placeholder="Search to Add Associations..."
                   style="border-bottom: solid #000;" hx-target="#association-search"
                   hx-post="/api/manage/association/add/search"
                   hx-trigger="input delay:750ms, search"
                   hx-vals='{"module":"shared/_associations.html", "macro":"association_dropdown"}'
                   hx-on:input="this.value.length < 1 ? this.closest('.has-dropdown').classList.remove('is-active'):this.closest('.has-dropdown').classList.add('is-active')">
            <ul class="dropdown autocomplete-list has-bg-light" id="association-search">
            </ul>
        </div>
    </div>
</div>
{% endif %}
<hr>
<div class="row has-space-around">
    <div class="column is-4">
        <div class="panel has-bg-muted is-small" style='border-radius: 5px 5px 0 0 ;'>
            <input type="search" name="filter" placeholder="Begin typing to filter..."
                   style="border-bottom: solid #000;"
                   hx-post="/api/{{obj.path}}/associations"
                   hx-trigger="input changed delay:250ms, search"
                   hx-target='#associations-container'
                   hx-select='#associations-container'
                   hx-swap='outerHTML'>
        </div>
        <div class="panel is-small" style='border-radius: 0 0 5px 5px;'>
            <form hx-post="/api/{{obj.path}}/associations"
                  hx-target='#associations-container'
                  hx-select='#associations-container'
                  hx-swap='outerHTML'>
                <div class="row">
                    <div class="column is-shrink is-vertically-centered">
                        <h5 class="has-text-muted">Sort by</h5>
                    </div>
                    <div class="column">
                        <div class="is-select">
                            <select class="has-text-white" name="sorter">
                                <option value='name'>Name</option>
                                <option value='date'>Date</option>
                                <option value='type'>Type</option>
                                <option value='parent'>No Parent</option>
                            </select>
                        </div>
                    </div>
                    <div class="column is-shrink is-mobile-shrink">
                        <button type="submit" class="button is-small" name="order" value="asc">
                            {{icon_components.sortascending(size="1rem")}}
                            Ascending
                        </button>
                    </div>
                    <div class="column is-shrink is-mobile-shrink">
                        <button type="submit" class="button is-small" name="order" value="desc">
                            {{icon_components.sortdescending(size="1rem")}}
                            Descending
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% if obj.model_name() != "World"%}
    <div class="column is-2">
        <button class="button is-primary is-small"
                hx-post="/api/manage/associations/random"
                hx-target="#page-content"
                hx-indicator='#request-indicator'>
            Random Associations
        </button>
    </div>
    {% endif %}
    <div class="column is-6">
        <div class="row has-centered">
            {% for child in obj.world.all_models() %}
            <div class="column is-shrink is-mobile-shrink">
                <button class="button is-primary is-small"
                        hx-post="/api/manage/add/{{child.__name__ | lower}}"
                        hx-target="#associations-container"
                        hx-select="#associations-container"
                        hx-swap='outerHTML'
                        hx-indicator='#request-indicator'>
                    New {{obj.world.get_title(child)}}
                </button>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<hr>

<div id="associations-container">
    <div id="related-objects" class="row has-space-around">
        {% if obj.model_name() != "World"%}
        {% if obj.parent|default(false) %}
        {% for ancestor in obj.geneology | reverse %}
        <div class="column is-3 is-mobile-6 is-desktop-2 card-container has-bg-black">
            <div class="panel has-bg-black" style='height:100%;'>
                {{display_components.object_display(ancestor)}}
                <div class="row has-space-around">
                    <div class="column is-3 is-mobile-shrink has-text-center">
                        <button class="button is-small is-primary"
                                hx-post="/api/manage/unassociate/{{ancestor.path}}"
                                hx-target="#associations-container"
                                hx-select="#associations-container"
                                hx-indicator='#request-indicator'>
                            {{icon_components.unlink(size="1rem")}}
                            <span style="font-size:0.5rem">Unlink Me</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% for a in obj.children %}
        <div
             class="column is-3 is-mobile-6 is-desktop-2 card-container"
                {% if a == obj.parent|default(false) %} has-bg-black {% elif obj == a.parent|default(false) %} has-bg-white {% endif %}">
            <div class="panel {% if a == obj.parent|default(false) %} has-bg-black {% elif obj == a.parent|default(false) %} has-bg-white {% else %} has-bg-screen {% endif %}"
                 style='height:100%;'>
                {{display_components.object_display(a)}}
                {% if 'World' not in [obj.model_name(), a.model_name()] %}
                <div class="row has-space-around">
                    <div class="column is-3 is-mobile-shrink has-text-center">
                        <button class="button is-small is-primary"
                                hx-post="/api/manage/unassociate/{{a.path}}"
                                hx-target="#associations-container"
                                hx-select="#associations-container"
                                hx-vals='{"module":"_pages.html", "macro":"associations"}'
                                hx-indicator='#request-indicator'>
                            {{icon_components.unlink(size="1rem")}}
                            <span style="font-size:0.5rem">Unlink</span>
                        </button>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        {% endif%}
        {% for a in associations %}
        {% if a.parent|default(false) != obj and obj.parent|default(false) != a %}
        <div
             class="column is-3 is-mobile-6 is-desktop-2 card-container
                {% if a == obj.parent|default(false) %} has-bg-black {% elif obj == a.parent|default(false) %} has-bg-white {% endif %}">
            <div class="panel {% if a == obj.parent|default(false) %} has-bg-black {% elif obj == a.parent|default(false) %} has-bg-white {% else %} has-bg-screen {% endif %}"
                 style='height:100%;'>
                {{display_components.object_display(a)}}<span>disp</span>
                {% if 'World' not in [obj.model_name(), a.model_name()] %}

                    <!-- get kids? -->
                    {% if obj.model_name() in a.parent_list|default([]) and obj != a.parent|default(false) %}
                        {{ button ('is child', 'down', "/api/manage/parent/" + a.path, '{"module":"_pages.html", "macro":"associations"}')}}
                    {% endif %}

                    <!-- get parents? -->
                    {% if a.model_name() in obj.parent_list|default([]) and a != obj.parent|default(false) %}
                        {{ button ('is parent', 'heirarchy', "/api/manage/child/" + a.path, '{"module":"_pages.html", "macro":"associations"}')}}
                    {% endif %}

                        <button class="button is-small is-primary"
                                hx-post="/api/manage/unassociate/{{a.path}}"
                                hx-target="#associations-container"
                                hx-select="#associations-container"
                                hx-vals='{"module":"_pages.html", "macro":"associations"}'
                                hx-indicator='#request-indicator'>
                            {{icon_components.unlink(size="1rem")}} Unlink
                        </button>

                {% endif %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{%- endmacro %}

{% macro button (name, icon, post, vals) -%}
<button class="button small"
        hx-post="{{post}}"
        hx-target="#associations-container"
        hx-select="#associations-container"
        {% if vals %} hx-vals='{{vals}}' {% endif %}
        hx-indicator='#request-indicator'>
    {{icon_components[icon](size="1rem")}} {{name}}
</button>
{%- endmacro %}

{% macro association_dropdown(user, obj, objs=[]) -%}
{% for o in objs %}
<li class="dropdown__link">
    <a hx-post='/api/manage/association/add/{{o.path}}'
       hx-target='#associations-container'
       hx-select='#associations-container'
       hx-swap='outerHTML'
       hx-indicator='#request-indicator'
       hx-push-url='/{{obj.path}}/associations'>
        <div class="row">
            <div class="column is-shrink">
                <div class="image is-tiny is-thumbnail" style="cursor: pointer">
                    {% if o.image %}
                    <img src="{{o.image.url(size=50)}}" alt="{{o.name}}" />
                    {% endif %}
                </div>
            </div>
            <div class="column">
                {{o.name}}
            </div>
        </div>
    </a>
</li>
{% endfor %}
{%- endmacro%}