{% import "models/_episode.html" as episode_components %}
{% import "shared/_icons.html" as icon_components %}
}
{% macro campaigns(user, obj) -%}
<title>{{obj.name | title}} - Campaigns</title>
<h2>Campaigns</h2>
<hr>
{% if not obj.campaigns %}
<h3 class='text-center '>Not yet associated with any campaigns
</h3>
{% else %}
<div id="object-campaigns" class="grid-x align-spaced raise-it">
    <div class="cell">
        <select class="" name="campaignpk" id="campaignpk"
                hx-post="/api/campaign/"
                hx-target="#campaign-details" hx-trigger='change'>
            <option value="">=== Select Campaign ===</option>
            {% for s in obj.campaigns %}
            <option class="" value="{{s.pk}}" {% if campaign and campaign.pk==s.pk %}
                    selected {% endif %}>
                {{s.name}}
            </option>
            {% endfor %}
        </select>
    </div>
    <div id="campaign-details" class="cell">
        <div class="grid-x align-spaced">
            {% for campaign in obj.campaigns %}
            <div class="cell medium-4">
                <a href="/campaign/{{campaign.pk}}">
                    <h3 class=' text-center'>{{campaign.name}}</h3>
                </a>
                <div class="grid-x">
                    <div class="cell is-half">
                        <h6 class="-grey text-center">
                            Started: {{campaign.start_date if campaign.start_date else 'TBD'}}
                        </h6>
                    </div>
                    <div class="cell is-half">
                        <h6 class="-grey text-center">
                            Ended: {{campaign.end_date if campaign.end_date else 'TBD'}}
                        </h6>
                    </div>
                    <div class="cell">
                        <div class="callout has-text-justified">
                            {{campaign.description | safe}}
                        </div>
                    </div>
                </div>
                <h5 class='text-center'
                    onclick='this.nextElementSibling.classList.toggle("is-hidden");'>
                    View Episodes</h5>
                <div class="grid-x is-hidden slide-it-down">
                    <div class="cell">
                        {% for entry in campaign.episodes %}
                        {% if obj.model_name() == 'World' or obj in entry.associations %}
                        <a href='/episode/{{entry.pk}}'>
                            <span class="label">{{entry.name}}</span>
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{%- endmacro %}