{% import "models/_episode.html" as episode_components %}
{% import "shared/_icons.html" as icon_components %}
}
{% macro campaigns(user, obj) -%}
<title>{{obj.name | title}} - Campaigns</title>
{% if not obj.campaigns %}
<h3 class='text-center '>Not yet associated with any campaigns
</h3>
{% else %}
<div id="object-campaigns" class='callout '>
    <h2>Campaigns</h2>
    <div class="grid-x grid-margin-x align-spaced">
        {% for campaign in obj.campaigns %}
        <div class="cell medium-4">
            <div class="callout">
                <a href="/campaign/{{campaign.pk}}">
                    <h3 class=' text-center'>{{campaign.name}}</h3>
                </a>
                <div class="grid-x">
                    <div class="cell medium-6">
                        <h6 class="-grey text-center">
                            Started: {{campaign.start_date if campaign.start_date else 'TBD'}}
                        </h6>
                    </div>
                    <div class="cell medium-6">
                        <h6 class="-grey text-center">
                            Ended: {{campaign.end_date if campaign.end_date else 'TBD'}}
                        </h6>
                    </div>
                    <div class="cell">
                        <div class="callout has-text-justified bg-screen">
                            {{campaign.description | safe}}
                        </div>
                    </div>
                </div>
                <h5 class='text-center'
                    onclick='this.nextElementSibling.classList.toggle("is-hidden");'>
                    View Episodes
                </h5>
                <div class="grid-x grid-margin-y is-hidden">
                    {% for entry in campaign.episodes %}
                    {% if obj.model_name() == 'World' or obj in entry.associations %}
                    <div class="cell align-center-middle">
                        <a href='/episode/{{entry.pk}}'>
                            <span class="label">{{entry.name}}</span>
                        </a>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{%- endmacro %}