{% import "shared/_display.html" as display_components %}
{% import "shared/_icons.html" as icon_components %}

{% macro chat(user, obj) -%}
<title>{{obj.name or obj.title}} - Chat</title>
<div class="grid-x align-justify">
    <div class="cell align-center-middle">
        <h2>Chat</h2>
    </div>
</div>
<hr>
<div class="panel has-bg-light has-text-dark generated-text-lightbg">
    <div id="model-chat" class="grid-x align-spaced">
        <div class="cell is-2">
            {{display_components.object_display(obj, dim=250, name=False, type=False)}}
        </div>
        <div class="cell is-10">
            {% if obj.backstory_summary %}
            <div class="panel generated-text-darkbg">
                {{ obj.backstory_summary | safe }}
            </div>
            {% endif %}
            <form hx-post="/task/generate/character/{{obj.pk}}/chat"
                  hx-target="#model-chat">
                <textarea class="textarea" name="chat" id="chat" rows="5"
                          placeholder="{{obj.last_chat.get('pc', 'What would you like to talk about?')}}"></textarea>
                <button class="button is-full small" type="submit">Chat</button>
            </form>
            <hr>
        </div>
        <div class="cell is-full" style="position:relative">
            <div class="grid-x align-justify">
                <div class="cell medium-6">
                    <h3>Last Response</h3>
                </div>
                <div class="cell medium-6 has-text-right">
                    <audio src='/audio/{{obj.path}}' controls
                           style="width: 100%; max-width: 300px; margin-left: auto; margin-right: auto;">
                        <p>Your browser does not support the audio element.</p>
                    </audio>
                </div>
            </div>
            <div class="panel ">
                {{obj.last_chat.get('npc', "") | safe}}
            </div>
        </div>
        <div class="cell is-full">
            {% if obj.chat_summary %}
            <div class="panel has-bg-black generated-text-darkbg">
                {{obj.chat_summary | safe}}
            </div>
            <hr>
            {% for chat in obj.chats[::-1] %}
            <div class="panel has-bg-light">
                <div class="grid-x">
                    <div class="cell ">
                        <div class="panel ">
                            {{chat['pc']}}
                        </div>
                    </div>
                    <div class="cell">
                        <div class="panel generated-text-darkbg">
                            {{chat['npc']}}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{%- endmacro %}