{% import "shared/_display.html" as display_components %}
{% import "shared/_icons.html" as icon_components %}

{% macro details(user, obj) -%}
<title>{{obj.name or obj.title}} - Details</title>
<div class="row has-space-between">
    <div class="column is-vertically-centered">
        <h2>Details</h2>
    </div>
    {% if obj.traits %}
    <div class="column is-shrink is-end">
        <span class="tag">{{obj.traits}}</span>
    </div>
    {% endif %}
</div>
{%if obj.model_name() != "World" and not(obj.model_name() == "Creature" and obj.group) %}
<div class="row has-centered">
    {% if obj.start_date and obj.start_date.year > 0 %}
    <div class="column is-shrink is-vertically-centered">
        {% if obj.model_name() in ['Character', 'Creature'] %}
        <h4 class='has-text-dark'>Born</h4>
        {% elif obj.model_name() in ['Faction', 'Item', 'Vehicle'] %}
        <h4 class='has-text-dark'>Created</h4>
        {%elif obj.model_name() in ['Location', 'City'] %}
        <h4 class='has-text-dark'>Built</h4>
        {%else %}
        <h4 class='has-text-dark'>Founded</h4>
        {% endif %}
    </div>
    <div class="column is-shrink is-vertically-centered">
        <h3 class='has-text-dark'>{{obj.start_date}}</h3>
    </div>
    {% endif %}
    {% if obj.end_date and obj.end_date.year > 0 %}
    <div class="column is-shrink is-vertically-centered">
        <h3 class='has-text-dark'>- {{obj.end_date}}
        </h3>
    </div>
    <div class="column is-shrink is-vertically-centered">
        {% if obj.model_name() in ['Character', 'Creature'] %}
        <h4 class='has-text-dark'>Died</h4>
        {% elif obj.model_name() in ['Faction'] %}
        <h4 class='has-text-dark'>Disbanded</h4>
        {%elif obj.model_name() in ['Location', 'City', 'Item', 'Vehicle'] %}
        <h4 class='has-text-dark'>Destroyed</h4>
        {% else %}
        <h4 class='has-text-dark'>Lost</h4>
        {% endif %}
    </div>
    {% endif %}
</div>
{%endif%}
<hr>
<div class="panel has-bg-light generated-text-lightbg">
    <h3 class='has-text-center'>Description</h3>
    {{obj.description | safe}}
</div>
<hr>
<div class="panel has-bg-light generated-text-lightbg">
    <h3 class='has-text-center'>Backstory</h3>
    {{obj.backstory | safe}}
</div>
<div class="panel has-bg-light has-text-dark generated-text-lightbg">
    <span hx-get="/api/{{obj.path}}/info" hx-trigger="load" hx-swap="outerHTML"></span>
</div>


{%- endmacro %}