{% import "shared/_display.html" as display_components %}
{% import "shared/_icons.html" as icon_components %}
{% import "shared/_form.html" as form_components %}
{% import "shared/_abilities.html" as ability_components %}
{% import "shared/_character.html" as character_components %}

{% macro details(user, obj) -%}
<title>{{obj.name or obj.title}} - Details</title>

<div id="{{obj.model_name()}}-overview" class="grid-x grid-padding-x">
    <div class="cell small-12"><h2>{{obj.model_name()}} Overview</h2></div>
    <div class="story cell small-12 medium-7">

{{display_components.dsp_object_lifetime(obj,"start")}}
        {{obj.backstory | safe}}

        <h2>History</h2>
        {{obj.history | safe}}
  
        {% if obj.goal %}
            <h3>Goals and Secrets</h3>
            {{obj.goal | safe}}
        {% endif %}

    </div>
    <div class="related-panel cell small-12 medium-4 large-offset-1">
        {% if obj.image %}
            <img src="{{obj.image.url(size='large')}}" alt="{{obj.name}}" />
        {% endif %}

        {{ character_components.dsp_demographics(user, obj) }}
        
        <h2>Associations</h2>
        {{ display_components.dsp_all_associations(user, obj) }}
    </div>
</div>



<h1>{{obj.name or obj.title}}</h1>
<div class="row has-space-between">
    <div class="column is-vertically-centered">
        <h2>Details</h2>
    </div>
    {% if obj.traits %}
    <div class="column is-shrink is-end">
        <span class="tag">{{obj.traits}}</span>
    </div>
    {% endif %}

</div>
{%if obj.model_name() != "World" and not(obj.model_name() == "Creature" and obj.group) %}
<div class="row has-centered">
    {% if obj.start_date and obj.start_date.year > 0 %}
    <div class="column is-shrink is-vertically-centered">
        <h4 class='has-text-dark'>{{obj.start_date_label}}</h4>
    </div>
    <div class="column is-shrink is-vertically-centered">
        <h3 class='has-text-dark'>{{obj.start_date}}</h3>
    </div>
    {% endif %}
    {% if obj.end_date and obj.end_date.year > 0 %}
    <div class="column is-shrink is-vertically-centered">
        <h3 class='has-text-dark'>- {{obj.end_date}}
        </h3>
    </div>
    <div class="column is-shrink is-vertically-centered">
        <h4 class='has-text-dark'>{{obj.end_date_label}}</h4>
    </div>
    {% endif %}
</div>
{%endif%}
<hr>
<div class="panel has-bg-light has-text-dark generated-text-lightbg">
    <span hx-get="/api/{{obj.path}}/gmnotes" hx-trigger="load" hx-swap="outerHTML"></span>
</div>
<hr>
<div class="panel has-bg-light has-text-dark generated-text-lightbg">
    <span hx-get="/api/{{obj.path}}/info" hx-trigger="load" hx-swap="outerHTML"></span>
</div>
<hr>
<div class="panel has-bg-light generated-text-lightbg">
    <h3 class='has-text-center'>Description</h3>
    {{obj.description | safe}}
</div>
<hr>
<div class="panel has-bg-light generated-text-lightbg">
    <h3 class='has-text-center'>Backstory</h3>
    {{obj.backstory | safe}}
</div>
{%- endmacro %}