{% import "shared/_display.html" as display_components %}
{% import "shared/_icons.html" as icon_components %}

{% macro details(user, obj) -%}
<title>{{obj.name or obj.title}} - Details</title>
<div class="row has-space-between">
    <div class="column is-vertically-centered">
        <h2 class='has-text-dark'>Details</h2>
    </div>
    <div class="column is-shrink">
        <a hx-get="/api/card/{{obj.path}}" hx-target="#page-content" class="button">Card</a>
    </div>
    {% if obj.traits %}
    <div class="column is-shrink is-end">
        <span class="tag">{{obj.traits}}</span>
    </div>
    {% endif %}
</div>
<hr>
{%if obj.model_name() != "World" %}
<div class="row has-centered">
    {% if obj.start_date %}
    <div class="column is-shrink is-vertically-centered">
        {% if obj.model_name() in ['Character', 'Creature'] %}
        <h4 class='has-text-muted'>Born</h4>
        {% elif obj.model_name() in ['Faction', 'Item', 'Vehicle'] %}
        <h4 class='has-text-muted'>Created</h4>
        {%elif obj.model_name() in ['Location', 'City'] %}
        <h4 class='has-text-muted'>Built</h4>
        {%else %}
        <h4 class='has-text-muted'>Founded</h4>
        {% endif %}
    </div>
    <div class="column is-shrink is-vertically-centered">
        <h3 class='has-text-dark'>{{obj.start_date}}</h3>
    </div>
    {% endif %}
    {% if obj.end_date and obj.end_date.year > 0 %}
    <div class="column is-shrink is-vertically-centered">
        <h3 class='has-text-dark'>- {{obj.end_date}}
        </h3>
    </div>
    <div class="column is-shrink is-vertically-centered">
        {% if obj.model_name() in ['Character', 'Creature'] %}
        <h4 class='has-text-muted'>Died</h4>
        {% elif obj.model_name() in ['Faction'] %}
        <h4 class='has-text-muted'>Disbanded</h4>
        {%elif obj.model_name() in ['Location', 'City', 'Item', 'Vehicle'] %}
        <h4 class='has-text-muted'>Destroyed</h4>
        {% else %}
        <h4 class='has-text-muted'>Lost</h4>
        {% endif %}
    </div>
    {% endif %}
</div>
{%endif%}
<div class="panel has-bg-light has-text-dark generated-text-lightbg">
    <div class="row">
        <div class="column is-full">
            <div class="is-float-left"
                 style="position:relative; padding-right: 2rem; padding-bottom: 2rem;">
                {{display_components.object_display(obj, dim=250, name=False, type=False)}}
            </div>
            {% if obj.backstory_summary %}
            {{ obj.backstory_summary | safe }}
            {% endif %}
        </div>
    </div>
</div>

<span hx-get="/api/{{obj.path}}/info" hx-trigger="load" hx-swap="outerHTML"></span>

<hr>

<div class="panel has-bg-light has-text-dark generated-text-lightbg">
    <h3 class='has-text-center has-text-dark'>Full Backstory</h3>
    {{obj.backstory | safe}}
</div>

{%- endmacro %}