{% macro dsp_object_image(obj, dim="400") -%}
{% if obj.image %}
<img src="{{obj.image.url(size=dim)}}" loading="lazy" alt="{{obj.name}}" />
{% elif obj.world.image %}
<img src="{{obj.world.image.url(size=dim)}}" loading="lazy" alt="{{obj.name}}" />
{% endif %}
{% endmacro %}

{% macro dsp_object_lifetime(obj, event="start") -%}
{% if obj.model_name() in ['Character', 'Creature'] %}
{% set lifetime = {"start": "Born", "end": "Died"} %}
{% elif obj.model_name() in ['Faction'] %}
{% set lifetime = {"start": "Assembled", "end": "Disbanded"} %}
{% elif obj.model_name() in ['Item', 'Vehicle'] %}
{% set lifetime = {"start": "Created", "end": "Destroyed"} %}
{% else %}
{% set lifetime = {"start": "Began", "end": "Ended"} %}
{% endif %}

{{lifetime[event]}}
{%- endmacro %}

{% macro object_display(obj, dim="250", name=True, date=False, type=True, canon=False, pk=False) -%}
<a href="/{{obj.path}}">
    <div class="card">
        {{dsp_object_image(obj,dim)}}
        {% if name %}
        <div class="card-divider text-center align-center-middle">
            {{obj.name}}
            {% if obj.canon|default(false) %} <sup>(c)</sup> {% endif %}
        </div>
        {% endif %}
        {% if date or type or pk%}
        <div class="card-section text-center bg-white">
            {% if date and (obj.start_date or obj.end_date) %}
            <p class='text-black'>
                {% if obj.start_date %}
                {{obj.start_date}}
                {% endif %}
                {%if obj.end_date and obj.end_date != obj.start_date %} -
                {{obj.end_date}}
                {%endif%}
            </p>
            {% endif %}
            {% if type %}
            <p>{{obj.title}}</p>
            {% endif %}
            {% if pk %}
            <p>
                pk: {{obj.pk}}
            </p>
            {% endif %}
        </div>
        {% endif %}
    </div>
</a>
{% endmacro %}