{% import "shared/_abilities.html" as abilities_components %}

{% macro dsp_object_image(obj, dim="400") -%}
{% if obj.image %}
<img src="{{obj.image.url(size=dim)}}" loading="lazy" alt="{{obj.name}}" />
{% elif obj.world.image %}
<img src="{{obj.world.image.url(size=dim)}}" loading="lazy" alt="{{obj.name}}" />
{% endif %}
{% endmacro %}

{% macro dsp_object_lifetime(obj, event="start") -%}
{% if obj.model_name() in ['Character', 'Creature'] %}
{% set lifetime = {"start": "Born", "end": "Died"} %}
{% elif obj.model_name() in ['Faction'] %}
{% set lifetime = {"start": "Assembled", "end": "Disbanded"} %}
{% elif obj.model_name() in ['Item', 'Vehicle'] %}
{% set lifetime = {"start": "Created", "end": "Destroyed"} %}
{% else %}
{% set lifetime = {"start": "Began", "end": "Ended"} %}
{% endif %}

{{lifetime[event]}}
{%- endmacro %}

{% macro object_display(obj, dim="250", name=True, date=False, type=True, canon=False, pk=False) -%}
<a href="/{{obj.path}}">
    <div class="card">
        {{dsp_object_image(obj,dim)}}
        {% if name %}
        <div class="card-section title">
            {{obj.name}}
            {% if obj.canon|default(false) %} (<sup>c</sup>) {% endif %}
        </div>
        {% endif %}
        {% if date %}
        <div class="card-section">
            <p>{{obj.start_date}}{%if obj.end_date and obj.end_date != obj.start_date %} -
                {{obj.end_date}}{%endif%}
            </p>
        </div>
        {% endif %}
        {% if type %}
        <div class="card-section">
            {{obj.title}}
        </div>
        {% endif %}
        {% if pk %}
        <div class="card-section">
            pk: {{obj.pk}}
        </div>
        {% endif %}
    </div>
</a>
{% endmacro %}

{% macro object_modal(obj, dim="250", name=True) -%}
<div class="image is-tile is-margin-center" style="width:100%;"
     onclick=' document.querySelector("#modal-{{obj.pk}}").classList.add("is-active");'>
    {% if obj.image %}
    <img src="{{obj.image.url(size=dim)}}" loading="lazy" alt="{{obj.name}}" />
    {% endif %}
</div>
{% if name %}
<h6 class='text-center' style='font-size: clamp(0.15rem, 0.75rem, 1.25rem);'>
    {{obj.name}} <sup>({% if obj.canon %}c{%else%}nc{% endif %})</sup>
</h6>
{% endif %}
<div id="modal-{{obj.pk}}" class='modal' {% if modal %} {% endif %}>
    <div class="modal__background"
         onclick='document.querySelector("#modal-{{obj.pk}}").classList.remove("is-active");'></div>
    <div class="modal__content">
        <h3 class='text-center'
            onclick='document.querySelector("#modal-{{obj.pk}}").classList.remove("is-active");'>
            {{obj.name}}
        </h3>
        <div class='row has-bg-white initiative-card'>
            <div class="cell medium-2">
                {% if obj.image %}
                <div class='image'
                     onclick='document.querySelector("#modal-{{obj.pk}}").classList.remove("is-active");'>
                    <img src="{{obj.image.url()}}" alt="{{obj.name}}" />
                </div>
                {% endif %}
                {% if obj.model_name() in ['Creature', 'Character']%}
                <div class="callout">
                    <div class="grid-x align-spaced text-center"
                         style='cursor: pointer;'>
                        <div class="cell medium-4 is-mobile-3"
                             onclick='setbonus(this);'>
                            <h4 class="">STR</h4>
                            <p>{{obj.strength}} ({{(obj.strength|int-10)//2}})
                            </p>
                        </div>
                        <div class="cell medium-4 is-mobile-3"
                             onclick='setbonus(this);'>
                            <h4 class="">DEX</h4>
                            <p>{{obj.dexterity}}
                                ({{(obj.dexterity|int-10)//2}})</p>
                        </div>
                        <div class="cell medium-4 is-mobile-3"
                             onclick='setbonus(this);'>
                            <h4 class="">INT</h4>
                            <p>{{obj.intelligence}}
                                ({{(obj.intelligence|int-10)//2}})</p>
                        </div>
                        <div class="cell medium-4 is-mobile-3"
                             onclick='setbonus(this);'>
                            <h4 class="">WIS</h4>
                            <p>{{obj.wisdom}} ({{(obj.wisdom|int-10)//2}})</p>
                        </div>
                        <div class="cell medium-4 is-mobile-3"
                             onclick='setbonus(this);'>
                            <h4 class="">CHA</h4>
                            <p>{{obj.charisma}} ({{(obj.charisma|int-10)//2}})
                            </p>
                        </div>
                        <div class="cell medium-4 is-mobile-3"
                             onclick='setbonus(this);'>
                            <h4 class="">CON</h4>
                            <p>{{obj.constitution}}
                                ({{(obj.constitution|int-10)//2}})</p>
                        </div>
                    </div>
                </div>
                <div class="grid-x align-spaced">
                    <div class="cell shrink">
                        <h4 class=' text-center'>HP</h4>
                        <div class="cell shrink">
                            <h5 class=''>/{{obj.hitpoints}}</h5>
                        </div>
                    </div>
                    <div class="cell shrink">
                        <h4 class=' text-center'>AC</h4>
                        <h5 class=' text-center'>{{obj.ac}}
                        </h5>
                    </div>

                </div>
                {% endif %}
            </div>
            <div class="cell">
                <div class="grid-x has-bg-white">
                    <div class="cell">
                        {{obj.backstory_summary | safe}}
                    </div>
                    {% if obj.abilities or obj.features %}
                    <div id="card-abilities-details-callout"
                         class="cell card-details-callout generated-text-lightbg">
                        {{abilities_components.abilities(user, obj)}}
                    </div>
                    {% endif %}
                    {% if obj.items %}
                    <div id="card-items-details-callout"
                         class="cell medium-2 card-details-callout">
                        <div class="callout ">
                            <div class="grid-x">
                                {% for item in obj.items %}
                                <div class="cell medium-4">
                                    {{object_display(item, type=False, name=False)}}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}


{% macro card(user, obj) -%}
<div class="section has-bg-white">
    <div class="grid-x">
        <div class="cell medium-6">
            <div class="grid-x">
                <div class="cell medium-6">
                    <h2 class='text-center'
                        style='font-size: clamp(0.5rem, 1rem, 1.25rem);'>
                        {{obj.name}}
                    </h2>
                    <div class="image is-tile is-margin-center" style="width:100%;">
                        {% if obj.image %}
                        <img src="{{obj.image.url()}}" loading="lazy" alt="{{obj.name}}" />
                        {% endif %}
                    </div>
                    <div class="grid-x">
                        <div class="cell">
                            <h6 class='text-center '
                                style='font-size: clamp(0.25rem, 0.75rem, 1rem);'>
                                {{obj.title}}
                            </h6>
                        </div>
                        {% if pk %}
                        <div class="cell shrink">
                            <h6 class='text-center' style='font-size: .5rem;'>
                                pk: {{obj.pk}}
                            </h6>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="cell medium-6">
                    {% if obj.model_name() in ['Creature', 'Character']%}
                    <div class="grid-x align-spaced">
                        <div class="cell shrink">
                            <h4 class=' text-center'>HP</h4>
                            <div class="cell shrink">
                                <h5 class=''>/{{obj.hitpoints}}</h5>
                            </div>
                        </div>
                        <div class="cell shrink">
                            <h4 class=' text-center'>AC</h4>
                            <h5 class=' text-center'>{{obj.ac}}
                            </h5>
                        </div>
                    </div>
                    <div class="callout">
                        <div class="grid-x align-spaced text-center"
                             style='cursor: pointer;'>
                            <div class="cell medium-4 is-mobile-3">
                                <h4 class="">STR</h4>
                                <p>{{obj.strength}} ({{(obj.strength|int-10)//2}})
                                </p>
                            </div>
                            <div class="cell medium-4 is-mobile-3">
                                <h4 class="">DEX</h4>
                                <p>{{obj.dexterity}}
                                    ({{(obj.dexterity|int-10)//2}})</p>
                            </div>
                            <div class="cell medium-4 is-mobile-3">
                                <h4 class="">INT</h4>
                                <p>{{obj.intelligence}}
                                    ({{(obj.intelligence|int-10)//2}})</p>
                            </div>
                            <div class="cell medium-4 is-mobile-3">
                                <h4 class="">WIS</h4>
                                <p>{{obj.wisdom}} ({{(obj.wisdom|int-10)//2}})</p>
                            </div>
                            <div class="cell medium-4 is-mobile-3">
                                <h4 class="">CHA</h4>
                                <p>{{obj.charisma}} ({{(obj.charisma|int-10)//2}})
                                </p>
                            </div>
                            <div class="cell medium-4 is-mobile-3">
                                <h4 class="">CON</h4>
                                <p>{{obj.constitution}}
                                    ({{(obj.constitution|int-10)//2}})</p>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% if obj.skills %}
                <div class="cell">
                    <div class="callout">
                        <div class="grid-x align-justify">
                            {% for skill, val in obj.skills.items() %}
                            <div class="cell shrink is-mobile-4">
                                <h5 class='text-center'>{{skill}}</h5>
                                <p class='text-center'>{{val}}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if obj.items %}
                <div class="cell">
                    <hr>
                    <div class="callout">
                        Inventory
                        <div class="grid-x">
                            {% for item in obj.items %}
                            <div class="cell medium-2">
                                {{object_display(item, type=False)}}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="cell">
                <div class="callout">
                    <h2 class=''>Backstory</h2>
                    {{obj.history | safe}}
                </div>
            </div>
        </div>
        <div class="cell medium-6">
            <h3 class=''>Features</h3>
            {% if obj.abilities or obj.features %}
            <div class="callout "
                 style='border-top-right-radius: 0; border-top-left-radius:0;'>
                <div class="grid-x">
                    {%for ability in obj.abilities or obj.features %}
                    <div class="cell">
                        <div class="grid-x">
                            <h4 class=' text-center'>
                                {{ability.name}}
                            </h4>
                            {% if ability.description %}
                            <div class="cell">
                                <div class="callout ">
                                    <h5 class=''
                                        style='text-decoration: underline; text-center'>
                                        Description</h5>
                                    {{ability.description | safe}}
                                </div>
                            </div>
                            {% endif %}
                            {% if ability.dice_roll %}
                            <div class="cell">
                                <div class="callout has-bg-transparent">
                                    <h5 class=''
                                        style='text-decoration: underline;'>Roll
                                        Mechanics</h5>
                                    <span class=''>{{ability.dice_roll}}</span>
                                </div>
                            </div>
                            {% endif %}
                            {% if ability.effects %}
                            <div class="cell">
                                <div class="callout has-bg-transparent">
                                    <h5 class=''
                                        style='text-decoration: underline;'>Effects
                                    </h5>
                                    <span class=''>{{ability.effects}}</span>
                                </div>
                            </div>
                            {% endif %}
                            {% if ability.duration %}
                            <div class="cell">
                                <div class="callout has-bg-transparent">
                                    <h5 class=''
                                        style='text-decoration: underline;'>Duration</h5>
                                    <span class=''>{{ability.duration}}</span>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endmacro %}