{% import "shared/_abilities.html" as abilities_components %}

{% macro object_display(obj, dim="250", name=True, date=False, type=True, canon=False, pk=False) -%}
<a href="/{{obj.path}}" target='_blank' style='position: relative;'>
    {% if obj.image %}
    <div class="image is-tile is-margin-center" style="width:100%;">
        <img src="{{obj.image.url(size=dim)}}" loading="lazy" alt="{{obj.name}}" />
    </div>
    {% endif %}
    {% if name %}
    <h6 class='has-text-center' style='font-size: clamp(0.15rem, 0.75rem, 1.25rem);'>
        {{obj.name}}
        <sup>({% if obj.canon|default(false) %} c {% elif canon %} nc {% endif %})</sup>
    </h6>
    {% endif %}
    {% if date %}
    <small class='has-text-center'>
        {{obj.start_date}}-{{obj.end_date if obj.end_date else ''}}
    </small>
    {% endif %}
    <div class="row has-space-around">
        {% if type %}
        <div class="column">
            <p class='has-text-center' style='font-size: clamp(0.15rem, 0.75rem, 1rem);'>
                {{obj.title}}
            </p>
        </div>
        {% endif %}
        {% if pk %}
        <div class="column is-shrink">
            <h6 class='has-text-center' style='font-size: .5rem;'>
                pk: {{obj.pk}}
            </h6>
        </div>
        {% endif %}
    </div>
</a>

{% endmacro %}

{% macro object_modal(obj, dim="250", name=True) -%}
<div class="image is-tile is-margin-center" style="width:100%;"
     onclick=' document.querySelector("#modal-{{obj.pk}}").classList.add("is-active");'>
    {% if obj.image %}
    <img src="{{obj.image.url(size=dim)}}" loading="lazy" alt="{{obj.name}}" />
    {% endif %}
</div>
{% if name %}
<h6 class='has-text-center' style='font-size: clamp(0.15rem, 0.75rem, 1.25rem);'>
    {{obj.name}} <sup>({% if obj.canon %}c{%else%}nc{% endif %})</sup>
</h6>
{% endif %}
<div id="modal-{{obj.pk}}" class='modal' {% if modal %} {% endif %}>
    <div class="modal__background"
         onclick='document.querySelector("#modal-{{obj.pk}}").classList.remove("is-active");'></div>
    <div class="modal__content">
        <h3 class='has-text-center has-text-dark'
            onclick='document.querySelector("#modal-{{obj.pk}}").classList.remove("is-active");'>
            {{obj.name}}
        </h3>
        <div class='row has-bg-white initiative-card'>
            <div class="column is-2">
                {% if obj.image %}
                <div class='image'
                     onclick='document.querySelector("#modal-{{obj.pk}}").classList.remove("is-active");'>
                    <img src="{{obj.image.url()}}" alt="{{obj.name}}" />
                </div>
                {% endif %}
                {% if obj.model_name() in ['Creature', 'Character']%}
                <div class="panel has-bg-screen">
                    <div class="row has-space-around has-text-center has-text-dark"
                         style='cursor: pointer;'>
                        <div class="column is-4 is-mobile-3"
                             onclick='setbonus(this);'>
                            <h4 class="has-text-dark">STR</h4>
                            <p>{{obj.strength}} ({{(obj.strength|int-10)//2}})
                            </p>
                        </div>
                        <div class="column is-4 is-mobile-3"
                             onclick='setbonus(this);'>
                            <h4 class="has-text-dark">DEX</h4>
                            <p>{{obj.dexterity}}
                                ({{(obj.dexterity|int-10)//2}})</p>
                        </div>
                        <div class="column is-4 is-mobile-3"
                             onclick='setbonus(this);'>
                            <h4 class="has-text-dark">INT</h4>
                            <p>{{obj.intelligence}}
                                ({{(obj.intelligence|int-10)//2}})</p>
                        </div>
                        <div class="column is-4 is-mobile-3"
                             onclick='setbonus(this);'>
                            <h4 class="has-text-dark">WIS</h4>
                            <p>{{obj.wisdom}} ({{(obj.wisdom|int-10)//2}})</p>
                        </div>
                        <div class="column is-4 is-mobile-3"
                             onclick='setbonus(this);'>
                            <h4 class="has-text-dark">CHA</h4>
                            <p>{{obj.charisma}} ({{(obj.charisma|int-10)//2}})
                            </p>
                        </div>
                        <div class="column is-4 is-mobile-3"
                             onclick='setbonus(this);'>
                            <h4 class="has-text-dark">CON</h4>
                            <p>{{obj.constitution}}
                                ({{(obj.constitution|int-10)//2}})</p>
                        </div>
                    </div>
                </div>
                <div class="row has-space-around">
                    <div class="column is-shrink">
                        <h4 class='has-text-dark has-text-center'>HP</h4>
                        <div class="column is-shrink">
                            <h5 class='has-text-dark'>/{{obj.hitpoints}}</h5>
                        </div>
                    </div>
                    <div class="column is-shrink">
                        <h4 class='has-text-dark has-text-center'>AC</h4>
                        <h5 class='has-text-dark has-text-center'>{{obj.ac}}
                        </h5>
                    </div>

                </div>
                {% endif %}
            </div>
            <div class="column">
                <div class="row has-bg-white">
                    <div class="column">
                        {{obj.backstory_summary | safe}}
                    </div>
                    {% if obj.abilities or obj.features %}
                    <div id="card-abilities-details-panel"
                         class="column card-details-panel generated-text-lightbg">
                        {{abilities_components.abilities(user, obj)}}
                    </div>
                    {% endif %}
                    {% if obj.items %}
                    <div id="card-items-details-panel"
                         class="column is-2 card-details-panel">
                        <div class="panel has-bg-dark-grey">
                            <div class="row">
                                {% for item in obj.items %}
                                <div class="column is-4">
                                    {{object_display(item, type=False, name=False)}}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}


{% macro card(user, obj) -%}
<div class="section has-bg-white">
    <div class="row">
        <div class="column is-6">
            <div class="row">
                <div class="column is-6">
                    <h2 class='has-text-center has-text-primary'
                        style='font-size: clamp(0.5rem, 1rem, 1.25rem);'>
                        {{obj.name}}
                    </h2>
                    <div class="image is-tile is-margin-center" style="width:100%;">
                        {% if obj.image %}
                        <img src="{{obj.image.url()}}" loading="lazy" alt="{{obj.name}}" />
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="column">
                            <h6 class='has-text-center  has-text-primary'
                                style='font-size: clamp(0.25rem, 0.75rem, 1rem);'>
                                {{obj.title}}
                            </h6>
                        </div>
                        {% if pk %}
                        <div class="column is-shrink">
                            <h6 class='has-text-center' style='font-size: .5rem;'>
                                pk: {{obj.pk}}
                            </h6>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="column is-6">
                    {% if obj.model_name() in ['Creature', 'Character']%}
                    <div class="row has-space-around">
                        <div class="column is-shrink">
                            <h4 class='has-text-dark has-text-center'>HP</h4>
                            <div class="column is-shrink">
                                <h5 class='has-text-dark'>/{{obj.hitpoints}}</h5>
                            </div>
                        </div>
                        <div class="column is-shrink">
                            <h4 class='has-text-dark has-text-center'>AC</h4>
                            <h5 class='has-text-dark has-text-center'>{{obj.ac}}
                            </h5>
                        </div>
                    </div>
                    <div class="panel has-bg-screen">
                        <div class="row has-space-around has-text-center has-text-dark"
                             style='cursor: pointer;'>
                            <div class="column is-4 is-mobile-3">
                                <h4 class="has-text-dark">STR</h4>
                                <p>{{obj.strength}} ({{(obj.strength|int-10)//2}})
                                </p>
                            </div>
                            <div class="column is-4 is-mobile-3">
                                <h4 class="has-text-dark">DEX</h4>
                                <p>{{obj.dexterity}}
                                    ({{(obj.dexterity|int-10)//2}})</p>
                            </div>
                            <div class="column is-4 is-mobile-3">
                                <h4 class="has-text-dark">INT</h4>
                                <p>{{obj.intelligence}}
                                    ({{(obj.intelligence|int-10)//2}})</p>
                            </div>
                            <div class="column is-4 is-mobile-3">
                                <h4 class="has-text-dark">WIS</h4>
                                <p>{{obj.wisdom}} ({{(obj.wisdom|int-10)//2}})</p>
                            </div>
                            <div class="column is-4 is-mobile-3">
                                <h4 class="has-text-dark">CHA</h4>
                                <p>{{obj.charisma}} ({{(obj.charisma|int-10)//2}})
                                </p>
                            </div>
                            <div class="column is-4 is-mobile-3">
                                <h4 class="has-text-dark">CON</h4>
                                <p>{{obj.constitution}}
                                    ({{(obj.constitution|int-10)//2}})</p>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% if obj.skills %}
                <div class="column is-full">
                    <div class="panel has-bg-light-grey">
                        <div class="row has-space-between">
                            {% for skill, val in obj.skills.items() %}
                            <div class="column is-shrink is-mobile-4">
                                <h5 class='has-text-center'>{{skill}}</h5>
                                <p class='has-text-center'>{{val}}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if obj.items %}
                <div class="column is-full">
                    <hr>
                    <div class="panel">
                        Inventory
                        <div class="row">
                            {% for item in obj.items %}
                            <div class="column is-2">
                                {{object_display(item, type=False)}}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="column is-full">
                <div class="panel has-bg-light-grey has-text-dark">
                    <h2 class='has-text-dark'>Backstory</h2>
                    {{obj.history | safe}}
                </div>
            </div>
        </div>
        <div class="column is-6">
            <h3 class='has-text-dark'>Features</h3>
            {% if obj.abilities or obj.features %}
            <div class="panel has-bg-muted"
                 style='border-top-right-radius: 0; border-top-left-radius:0;'>
                <div class="row">
                    {%for ability in obj.abilities or obj.features %}
                    <div class="column is-full">
                        <div class="row">
                            <h4 class='has-text-dark has-text-center'>
                                {{ability.name}}
                            </h4>
                            {% if ability.description %}
                            <div class="column is-full">
                                <div class="panel has-bg-muted has-text-primary">
                                    <h5 class='has-text-primary'
                                        style='text-decoration: underline; has-text-center'>
                                        Description</h5>
                                    {{ability.description | safe}}
                                </div>
                            </div>
                            {% endif %}
                            {% if ability.dice_roll %}
                            <div class="column">
                                <div class="panel has-bg-transparent">
                                    <h5 class='has-text-primary'
                                        style='text-decoration: underline;'>Roll
                                        Mechanics</h5>
                                    <span class='has-text-primary'>{{ability.dice_roll}}</span>
                                </div>
                            </div>
                            {% endif %}
                            {% if ability.effects %}
                            <div class="column">
                                <div class="panel has-bg-transparent">
                                    <h5 class='has-text-primary'
                                        style='text-decoration: underline;'>Effects
                                    </h5>
                                    <span class='has-text-primary'>{{ability.effects}}</span>
                                </div>
                            </div>
                            {% endif %}
                            {% if ability.duration %}
                            <div class="column">
                                <div class="panel has-bg-transparent">
                                    <h5 class='has-text-primary'
                                        style='text-decoration: underline;'>Duration</h5>
                                    <span class='has-text-primary'>{{ability.duration}}</span>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endmacro %}