{% macro search_dropdown(user, obj, url, objs=[]) -%}
{% for o in objs %}
<li>
    <a hx-post='/api/{{url}}/{{o.path}}'
       hx-target='#page-content'
       hx-indicator='#request-indicator'>
        <div class="grid-x grid-margin-x">
            <div class="cell align-center-middle shrink">
                {% if o.image %}
                <img style="cursor: pointer" src="{{o.image.url(size=50)}}"
                     alt="{{o.name}}" />
                {% endif %}
            </div>
            <div class="cell auto align-center-middle" style="cursor: pointer;">
                <h5>{{o.name}}</h5>
            </div>
        </div>
    </a>
</li>
{% endfor %}
{%- endmacro%}