{% import "shared/_display.html" as display %}
{% import "shared/_icons.html" as icons %}

<!-- unique menu items for campaigns -->
{% macro menu(user, obj) -%}
    <!--<li><a href="/{{obj.path}}/gameplay">{{icons.campaigns(size="1rem")}} Game Play</a></li>-->
{%- endmacro %}

<!-- character display -->
{% macro info(user, obj) -%}
<title>{{obj.campaign.name}} - {{obj.name}}</title>
<div id="character-info" class="grid-x grid-padding-x">
    <div class="cell small-12"><h2>{{obj.name}}</h2></div>
    <div class="story cell small-12 medium-7">
        <p>{{obj.episode_report | safe}}</p>

    </div>
    <div class="related-panel cell small-12 medium-4 large-offset-1">
        <table>
            <tr><th>Campaign</th><td>{{obj.campaign.name}}</td></tr>
            <tr><th>Episode #</th><td>{{obj.episode_num}}</td></tr>
            <tr><th>Start Date</th><td>{{obj.start_date}}</td></tr>
            <tr><th>End Date</th><td>{{obj.end_date}}</td></tr>
        </table>
        {{ episode_selector(user, obj) }}
        {{ display.dsp_all_associations(user, obj) }}
    </div>
</div>

{%- endmacro %}

{% macro episode_selector(user, obj) -%}
<script>
    function goToEpisode(el) {
        var episode_id = el.options[el.selectedIndex].value;
        window.location.href = '/episode/' + episode_id;
    }
</script>
<select id="episode-select" name="episodepk" onchange="goToEpisode(this);">
    <option value="">==Select Episode==</option>
    {% for ep in obj.campaign.episodes %}
    <option value="{{ep.pk}}" {%if obj and
            ep==obj %} selected {% endif %}>
        {{ep.name}}
    </option>
    {% endfor %}
</select>
{%- endmacro %}


<!-- characters have gameplay and other details -->
{% macro manage_extended_details(user, obj) -%}
    <div id="character-game" class="grid-x grid-padding-x">

        <div class="side-panel cell small-12 medium-3">
            {{update_skills(user, obj)}}
        </div>
        <div class="side-panel cell small-12 medium-9">
            {{update_stats(user, obj)}}
            {{abilities.edit_abilities(user, obj)}}
        </div>
    </div>
{%- endmacro %}