{% macro text_input(name, label="", value="", placeholder="", style="")%}
{% if label %}
<label for="{{name}}" style="{{style | label_style}}">{{label}}</label>
{% endif %}
<input type="text"
       class="input has-bg-white"
       id="{{name}}"
       name='{{name}}'
       value='{{value}}'
       placeholder='{{placeholder}}' />
{%- endmacro %}

{% macro textarea(user, obj, name="", content="", label="") -%}
{% if label %}
<label for="{{name}}">{{label}}</label>
{% endif %}
<textarea id="{{name}}" name='{{name}}' class="auto-resize-text secondary" rows="1"
          placeholder="Start typing..."
          oninput='this.style.height = "auto"; this.style.height = this.scrollHeight + "px";'>{{ content or obj[name] }}</textarea>
{%- endmacro %}

{% macro listarea(user, obj, name) -%}
<div class="grid-x is-vertical" id='{{name}}-item-list'>
    {% for item in obj[name] %}
    <div class="cell">
        <textarea id="{{name}}-{{ loop.index }}" name='{{name}}[]'
                  class="auto-resize-text has-bg-white" rows="1"
                  placeholder="Start typing..."
                  oninput='this.style.height = "auto"; this.style.height = this.scrollHeight + "px";'>{{ item }}</textarea>
        <hr>
    </div>
    {% endfor %}
</div>
{%- endmacro %}

{% macro richtexteditor(user, obj, attr, name="", label=True) -%}
{% if label %}
<label style="{{obj.genre | label_style}}">{{attr | replace("_", " ") | title}}
</label>
{% endif %}
<textarea id="edit-{{obj.pk}}-{{attr}}"
          name="{{name or attr}}"
          data-model="{{obj.__class__.__name__.lower()}}"
          data-user="{{user.pk}}"
          data-pk="{{obj.pk}}"
          class="rich-text">
        {% if obj %}
            {{obj[attr] | string | safe}}
        {% endif %}
    </textarea>
<script>
    $(function () {
        createCK('edit-{{obj.pk}}-{{attr}}');
    });
</script>
{%- endmacro %}

{% macro select(user, obj, name, label="", placeholder="", style="")%}
{% if label %}
<label for="{{name}}" style="{{style | label_style}}">{{label}}</label>
{% endif %}
<select>
    <option value="">{{placeholder}}</option>
    {% for option in obj[name] %}
    <option value="{{option.value}}" {% if option.selected %}selected{% endif %}>{{option.label}}
    </option>
    {% endfor %}
</select>
{%- endmacro %}