{% import "shared/_form.html" as form_components %}
{% import "shared/_display.html" as display_components %}
{% import "shared/_icons.html" as icon_components %}
{% import "shared/_tasks.html" as task_components %}

{% macro gm(user, world, party=None) -%}
<title>{{world.name | title}} - Auto GM</title>
<div id='auto-gm-container' class="row">
    {% if party %}
    <div class="column is-full">
        {% if party.autogm_summary %}
        <div id="dice-results-container" class="panel has-bg-muted">
            {{scene_dice_results(user, world, party)}}
        </div>
        {{scene_description(user, world, party)}}
        {{scene_quest_log(user, world, party)}}
        {{scene_associations(user, world, party)}}
        {% endif %}
    </div>
    <div id="autogm-scene-container" class="column is-full">
        {% if party.autogm_summary %}

        {{ autogm_run_session(user, world, party) }}
        {{ scene_summary_display(user, world, party) }}

        {% else %}
        {% if party.gm_mode == 'pc' %}
        {{ autogm_start_session(user, world, party) }}
        {% else %}
        {{ autogm_start_gm_session(user, world, party) }}
        {% endif %}

        {% endif %}
    </div>
    {% else %}
    <div class="column is-full">
        {{autogm_select_party(user, world, party)}}
    </div>
    {% endif %}
</div>
<script>
    var music = new Audio();
    music.volume = 0.25;
    var gm = new Audio();
    gm.volume = 1;

    function gmvoiced(voicefile, musicfile) {
        console.log(music.paused);
        if (!music.paused) {
            music.pause();
        } else {
            music.src = musicfile;
            music.loop = true;
            music.volume = 0.25;
            music.currentTime = 0;
            music.play();
        }
        console.log(gm.paused);
        if (!gm.paused) {
            gm.pause();
        } else {
            gm.src = voicefile;
            gm.volume = 1;
            gm.currentTime = 0;
            gm.play();
        }
    }

    function set_roll_modifier(elem) {
        var modifier = elem.querySelector('p').textContent.split('(')[1].split(')')[0];
        modifier = parseInt(modifier);
        if (modifier >= 0) {
            htmx.find("#pc_roll_modifier").value = `+${modifier}`;
        } else {
            htmx.find("#pc_roll_modifier").value = `-${Math.abs(modifier)}`;
        }
    }
</script>
{%- endmacro %}

{% macro autogm_select_party(user, world, party) -%}
<form hx-post='/api/autogm/{{party.path}}'
      hx-target='#auto-gm-container' hx-select='#auto-gm-container'
      hx-swap='outerHTML'
      onsubmit='history.pushState({}, "", `/faction/${this.value}/gm`);'>
    <div class="row">
        <div class="column">
            <div class="is-select">
                <select class='has-text-center' name='partypk'>
                    <option>==Select Party==</option>
                    {% for p in world.parties %}
                    <option value="{{p.pk}}" {% if p.pk==party.pk %} selected {% endif %}>
                        {{ p.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="column is-shrink">
            <div class="panel">
                <div class="row">
                    <div class="column is-shrink is-vertically-centered">
                        <label>
                            as PC
                        </label>
                    </div>
                    <div class="column is-shrink is-vertically-centered">
                        <div class="is-switch">
                            <input type="checkbox" id="gmmode" name='gmmode'>
                            <label for="gmmode"></label>
                        </div>
                    </div>
                    <div class="column is-shrink is-vertically-centered">
                        <label>
                            as GM
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-full">
            <button class="button is-full" type='submit'>
                Start Campaign
            </button>
        </div>
    </div>
</form>

{%- endmacro %}

{% macro scene_description(user, world, party)%}
<div class="panel has-bg-muted">
    {% if party.last_scene.image %}
    <div class="is-float-right"
         style="position:relative; padding-left: 2rem; padding-bottom: 2rem;">
        <div class="image is-extra-large is-tile is-margin-center">
            <img src="{{party.autogm_summary[-1].image.url()}}"
                 loading="lazy"
                 alt="{{party.name}}" />
        </div>
    </div>
    {% endif %}
    <div class="row has-space-around">
        <div id='auto-gm-session-audio' class="column is-shrink">
            {% if party.autogm_summary[-1].audio %}
            <button class="button is-small"
                    onclick='gmvoiced("/{{party.path}}/gm/voice", "{{party.autogm_summary[-1].music}}");'>
                <iconify-icon icon="mdi:speaking" width="3rem"></iconify-icon>
            </button>
            {% endif %}
        </div>
        <div class="column is-shrink">
            <button class="button is-small"
                    hx-post="/task/generate/autogm/{{party.pk}}/regenerate"
                    hx-target='closest .column'>
                {{icon_components.regenerate(size='3rem')}} Regenerate
            </button>
        </div>
        <div class="column is-shrink">
            <button class="button is-small"
                    hx-post="/api/autogm/{{party.path}}/description/edit"
                    hx-target='#autogm-description-container'>
                {{icon_components.gear(size='3rem')}} Edit
            </button>
        </div>
    </div>
    <div class="panel has-bg-white generated-text-lightbg">
        {{party.last_scene.description | safe}}
    </div>
</div>
{%- endmacro %}

{% macro autogm_description_edit(user, world, party) -%}
<form hx-post='/api/autogm/{{party.path}}/description/update'
      hx-target='#autogm-description-container'
      hx-select='#autogm-description-container'
      hx-swap='outerHTML'>
    <button class="button is-small is-full" type='submit'>
        Done
    </button>
    {{ form_components.texteditor(user, party.autogm_summary[-1], "description", content=None) }}
</form>
{%- endmacro %}

{% macro scene_associations(user, world, party)%}
<div class="row has-space-around">
    {% if party.last_scene.get_npcs() %}
    <div class="column is-full">
        <div class="panel has-bg-screen">
            <h4 class="has-text-center">NPCs</h4>
            <div class="row">
                {% for npc in party.autogm_summary[-1].npcs%}
                <div id="npc-{{npc.pk}}" class='column'>
                    {% if npc.image %}
                    {{display_components.object_display(npc)}}
                    {% else %}
                    <div hx-post="/api/autogm/{{party.path}}"
                         hx-target='#npc-{{npc.pk}}'
                         hx-select='#npc-{{npc.pk}}'
                         hx-trigger='load delay:3s'
                         hx-swap='outerHTML'>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% if party.last_scene.combatants %}
    <div class="column is-full">
        <div class="panel has-bg-screen is-full">
            <h4 class="has-text-center">Combatants</h4>
            <div class="row has-space-around">
                {% for cbt in party.autogm_summary[-1].combatants%}
                <div id="cbt-{{cbt.pk}}" class='column'>
                    {% if cbt.image %}
                    {{display_components.object_display(cbt)}}
                    {% else %}
                    <div hx-post="/api/autogm/{{party.path}}"
                         hx-target='#cbt-{{cbt.pk}}'
                         hx-select='#cbt-{{cbt.pk}}'
                         hx-trigger='load delay:3s'
                         hx-swap='outerHTML'>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% if party.last_scene.loot %}
    <div class="column is-full">
        <div class="panel is-full has-bg-screen">
            <h4 class="has-text-center">Loot</h4>
            <div class="row has-space-around">
                {% for loot in party.autogm_summary[-1].loot %}
                <div id="loot-{{loot.pk}}" class='column'>
                    {% if loot.image %}
                    {{display_components.object_display(loot)}}
                    {% else %}
                    <div hx-post="/api/autogm/{{party.path}}"
                         hx-target='#loot-{{loot.pk}}'
                         hx-select='#loot-{{loot.pk}}'
                         hx-trigger='load delay:3s'
                         hx-swap='outerHTML'>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    <div class="column is-full">
        <hr>
        <h4 class='has-text-center has-text-primary'>Additional Associations</h4>
        <div class="has-dropdown" style="width: 100%;">
            <input class="has-bg-light" autocomplete="off" type="search"
                   name="query"
                   style="border-bottom: solid #000;"
                   hx-post="/api/autogm/{{party.pk}}/associations/search"
                   hx-target="#autogm-new-associations-list"
                   hx-trigger="input changed delay:500ms consume"
                   hx-on:input="this.value.length < 3 ? this.closest('.has-dropdown').classList.remove('is-active'):this.closest('.has-dropdown').classList.add('is-active')">
            <ul class="dropdown has-bg-light" id="autogm-new-associations-list">
            </ul>
        </div>
        <hr>
        <div id='autogm-associations-list' class="row has-space-around">
            {% for a in party.autogm_summary[-1].get_additional_associations() %}
            <div class="column is-3 has-centered autogm-association-entry">
                <div class="panel">
                    {{display_components.object_display(a)}}
                    <div class="row">
                        <div class="column is-shrink is-end">
                            <a hx-post="/api/autogm/{{world.pk}}/pc/{{party.pk}}/association/{{a.path}}/remove"
                               hx-target='closest .autogm-association-entry'
                               hx-swap='delete'>
                                {{icon_components.remove(size='1rem')}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{%- endmacro %}

{% macro autogm_association_search(user, party, results) %}
{% for o in results %}
<li class="dropdown__link has-bg-muted">
    <a hx-post="/api/autogm/{{party.pk}}/associations/add/{{o.path}}"
       hx-target='#autogm-associations-list'
       hx-select='#autogm-associations-list' hx-swap='outerHTML'
       onclick="this.closest('.has-dropdown').classList.remove('is-active')">
        <div class="row">
            <div class="column is-shrink">
                <div class="image is-tiny is-thumbnail" style="cursor: pointer">
                    {% if o.image %}
                    <img src="{{o.image.url(size=50)}}" alt="{{o.name}}" />
                    {% endif %}
                </div>
            </div>
            <div class="column">
                {{ o.name }}
            </div>
        </div>
    </a>
</li>
{% endfor %}
{%- endmacro %}

{% macro scene_dice_results(user, world, party)%}
{% if party.autogm_summary | length > 1 and
party.autogm_summary[-2].roll_required
%}
<div class="row">
    <div class="column is-full">
        <div class="panel has-bg-muted">
            <div class="row has-space-around">
                <div class="column is-3 is-vertically-centered">
                    <h3 class='has-text-dark-grey'>
                        {{party.autogm_summary[-2].roll_attribute | title}}
                        {{party.autogm_summary[-2].roll_type | title}}
                    </h3>
                </div>
                <div class="column">
                    <div
                         class='panel has-text-light has-text-justify generated-text-lightbg'>
                        {{party.autogm_summary[-2].roll_description}}
                    </div>
                </div>
                <div class="column is-3">
                    <h3 class='has-text-primary has-text-center'>Roll Results</h3>
                    <div class='panel has-bg-muted has-text-screen has-text-center'
                         style='font-size:2rem;'>

                        <h2 class='has-text-primary'>
                            {{party.autogm_summary[-2].roll_result}}
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{%- endmacro %}

{% macro autogm_start_session(user, world, party) -%}
<form hx-post="/task/generate/autogm/{{party.pk}}/start"
      hx-target='closest .column'
      hx-push-url='/{{party.path}}/gm'>
    <div class="row has-space-around">
        <div class="column is-vertically-centered">
            <h3 class='has-text-primary'>Scenario</h3>
            <textarea name="scenario" id="party_scenario"
                      placeholder='optional scenario description'
                      class='has-bg-white'
                      style='height:3rem;'></textarea>
        </div>
    </div>
    <div class="row has-space-around">
        <div class="column is-vertically-centered">
            <h3 class='has-text-primary'>Add Party Members</h3>
            <div class="select" style="width: 100%;">
                <select name="party_member" id="party_member"
                        hx-post="/api/autogm/party/{{party.pk}}/input"
                        hx-target='#party-members-list'
                        hx-select='#party-members-list'
                        hx-swap='outerHTML'
                        hx-trigger='change consume'>
                    <option>==Select Party Member==</option>
                    {% for member in world.players %}
                    <option value="{{member.pk}}">
                        {{member.name}}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div id='party-members-list' class="row has-space-around">
                {% for member in party.characters %}
                <div class="column is-3">
                    <div class="panel">
                        {{display_components.object_display(member)}}
                        <a class="has-text-right"
                           hx-post="/api/autogm/party/{{party.pk}}/character/{{member.pk}}/remove"
                           hx-target='closest .column'
                           hx-swap='delete'>
                            {{icon_components.remove(size='1rem')}}
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row has-centered">
        <div class="column is-shrink is-vertically-centered">
            <button type='submit' class="button">
                Start Session
            </button>
        </div>
    </div>
</form>
{%- endmacro %}

{% macro autogm_run_session(user, world, party) -%}
<div class="row has-space-around">
    <div class="column is-full">
        <hr>
        {{scene_players_display(user, world, party)}}
    </div>
</div>
{{scene_players_action_form(user, world, party)}}
<div class="row has-space-around">
    <div class="column is-shrink">
        <button class="button" hx-post="/task/generate/autogm/{{party.pk}}/end"
                hx-target='closest .column'
                hx-confirm='This will end all active quests and start a new campaign with the same party. Are you sure this is what you want?'>
            Make Canon
        </button>
    </div>
    <div class="column is-shrink">
        <button class="button" hx-post="/api/autogm/{{party.path}}/clear"
                hx-target='#auto-gm-container' hx-select='#auto-gm-container'
                hx-swap='outerHTML'>
            Delete Session
        </button>
    </div>
</div>
{%- endmacro %}

{% macro scene_players_display(user, world, party) -%}
<div class="panel hs-bg-muted">
    <h3 class='has-text-center has-text-light'>Party Members</h3>
    <div class="row has-space-around">
        {% for player in party.characters %}
        <div class="column is-4">
            <div class="row">
                <div class="column is-shrink">
                    {{display_components.object_display(player, type=False)}}
                </div>
                <div class="column is-shrink">
                    <div class="panel has-bg-screen">
                        <div class="row has-space-around">
                            <div class="column is-shrink is-mobile-4"
                                 onclick='set_roll_modifier(this);'>
                                <h5>STR</h5>
                                <p>{{player.strength}}
                                    ({{(player.strength|int-10)//2}})
                                </p>
                            </div>
                            <div class="column is-shrink">
                                <iconify-icon icon="pepicons-print:line-y"
                                              height='3rem'></iconify-icon>
                            </div>
                            <div class="column is-shrink is-mobile-4 has-text-center"
                                 onclick='set_roll_modifier(this);'>
                                <h5>DEX</h5>
                                <p>{{player.dexterity}}
                                    ({{(player.dexterity|int-10)//2}})
                                </p>
                            </div>
                            <div class="column is-shrink">
                                <iconify-icon icon="pepicons-print:line-y"
                                              height='3rem'></iconify-icon>
                            </div>
                            <div class="column is-shrink is-mobile-4 has-text-center"
                                 onclick='set_roll_modifier(this);'>
                                <h5>INT</h5>
                                <p>{{player.intelligence}}
                                    ({{(player.intelligence|int-10)//2}})
                                </p>
                            </div>
                        </div>
                        <div class="row has-space-around">
                            <div class="column is-shrink is-mobile-4 has-text-center"
                                 onclick='set_roll_modifier(this);'>
                                <h5>WIS</h5>
                                <p>{{player.wisdom}}
                                    ({{(player.wisdom|int-10)//2}})</p>
                            </div>
                            <div class="column is-shrink is-mobile-shrink">
                                <iconify-icon icon="pepicons-print:line-y"
                                              height='3rem'></iconify-icon>
                            </div>
                            <div class="column is-shrink is-mobile-4 has-text-center"
                                 onclick='set_roll_modifier(this);'>
                                <h5>CHA</h5>
                                <p>{{player.charisma}}
                                    ({{(player.charisma|int-10)//2}})
                                </p>
                            </div>
                            <div class="column is-shrink is-mobile-shrink">
                                <iconify-icon icon="pepicons-print:line-y"
                                              height='3rem'></iconify-icon>
                            </div>
                            <div class="column is-shrink is-mobile-4 has-text-center"
                                 onclick='set_roll_modifier(this);'>
                                <h5>CON</h5>
                                <p>{{player.constitution}}
                                    ({{(player.constitution|int-10)//2}})
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{%- endmacro %}

{% macro scene_players_action_form(user, world, party) -%}
<div class="row">
    <div class="column">
        <div class="panel has-text-center has-bg-muted is-full">
            <form hx-post="/task/generate/autogm/{{party.pk}}/run"
                  hx-target='#page-content'
                  hx-replace-url='/{{party.path}}/gm'
                  hx-swap="innerHTML show:window:top">
                <div class="row has-space-around">
                    {% for player in party.players %}
                    <div class="column">
                        <h4 class='has-text-center has-text-screen'>{{player.name}} Response</h4>
                        <input type="hidden" name="message[].player" value="{{player.pk}}">
                        <textarea name="message[].message"
                                  class='has-bg-white'
                                  style='height:60%;'></textarea>
                    </div>
                    {% endfor %}
                    {% if party.last_scene.roll_required %}
                    <div class="column is-full">
                        <div class="panel has-text-center has-bg-muted is-full">
                            <h4 class="has-text-screen has-text-center">Roll Required</h4>
                            <hr>
                            <div class="panel">
                                <h5 class='has-text-center'>
                                    {{party.last_scene.roll_attribute}} :
                                    {{party.last_scene.roll_type}}
                                </h5>
                                {{party.last_scene.roll_description}}
                            </div>
                            <hr>
                            <div class='row has-centered'>
                                <div class="column is-1">
                                    <div class="panel has-bg-muted has-text-center">
                                        <input type="number" value="1" name="pc_roll_num_dice">
                                    </div>
                                </div>
                                <div class="column is-shrink">
                                    <p class='has-text-primary'
                                       style='font-size: 1.5rem; font-weight: bold;'>D</p>
                                </div>
                                <div class="column is-1">
                                    <div class="is-select">
                                        <select name="pc_roll_type_dice">
                                            <option value='4'>4</option>
                                            <option value='6'>6</option>
                                            <option value='8'>8</option>
                                            <option value='10'>10</option>
                                            <option value='12'>12</option>
                                            <option value='20' selected>20</option>
                                            <option value='100'>100</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="column is-2">
                                    <div
                                         class="panel has-bg-muted has-text-center is-vertically-centered">
                                        <input type="text"
                                               value="+0"
                                               name="pc_roll_modifier" id="pc_roll_modifier">
                                    </div>
                                </div>
                                <div class="column is-shrink is-vertically-centered"">
                                                    <button class=" button" type='submit'>
                                    Roll
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="column is-full is-vertically-centered ">
                        <div class="row has-centered">
                            <div class="column is-shrink">
                                <button class="button" type='submit'>
                                    Continue Session
                                </button>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro scene_summary_display(user, world, party) -%}
<div class="row">
    {%if party.last_scene and party.last_scene.summary %}
    <div class="column">
        <div class="panel">
            <h3 class='has-text-white has-text-center'>Summary</h3>
            <div class='generated-text-darkbg'>{{party.last_scene.summary | safe}}</div>
        </div>
    </div>
    {% endif %}
    <div class="column">
        <div class="panel has-bg-light">
            <div class="row has-centered">
                {% for ags in party.autogm_summary %}
                {% if ags.image %}
                <div class="column is-shrink">
                    <div class="image is-large">
                        <img src="{{ags.image.url()}}"
                             loading="lazy"
                             alt="{{party.name}}" />
                    </div>
                </div>
                {% endif%}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro scene_quest_log(user, world, party) -%}
<div id="scene_quest_log"
     class="panel has-bg-muted has-text-primary has-no-padding-left has-no-padding-right has-no-padding-bottom">
    <h3 class='has-text-center has-text-primary'> Quest Log </h3>
    <div class="panel has-bg-white has-text-primary" style='border-top-left-radius: 0;
border-top-right-radius:0;'>
        <div class="row has-space-around">
            {% for quest in party.last_scene.quest_log %}
            <div class="column is-full" style='position:relative;'
                 onclick='this.querySelector("#quest-{{quest.pk}}").classList.toggle("is-hidden");'>
                {% if party.last_scene.current_quest == quest%}
                <span class='tag is-muted' style='position:absolute; top: 0;left:0;'>Current
                    Quest</span>
                {% else %}
                <button class='button is-small has-bg-screen'
                        style='position:absolute; top: 0;left:0;'
                        hx-post='/api/autogm/party/{{party.pk}}/quest/current/{{quest.pk}}'
                        hx-target='#scene_quest_log'
                        hx-select='#scene_quest_log' hx-swap='outerHTML'>
                    Set as Current Quest
                </button>
                {% endif %}
                <div class="column is-shrink is-vertically-centered">
                    <span class="tag"
                          style='position:absolute; top: 0;right:0;'>{{quest.status | title}}</span>
                    <h3 class="has-text-primary has-text-center">
                        {{quest.name}}
                    </h3>
                    <div id="quest-{{quest.pk}}" class="row is-hidden">
                        <div class="column has-text-primary">
                            <h5 class="has-text-primary has-text-center">Objective</h5>
                            <div class="panel has-bg-muted">
                                {{quest.description | safe}}
                            </div>
                        </div>
                        <div class="column">
                            <h5 class="has-text-primary has-text-center">Importance</h5>
                            <div class="panel has-bg-muted">{{quest.importance | safe}}</div>
                        </div>
                        <div class="column is-full">
                            <hr>
                            <h5 class="has-text-primary has-text-center">Next Actions</h5>
                            <div class='panel'>
                                <p class="has-text-white">{{quest.next_steps | safe}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro scene_intermission(user, world, party, task_complete=False) -%}
<div id="scene-intermission-container" class='row has-space-around'>
    {% if task_complete %}
    <div class='column is-shrink'>
        <button class="button is-full" hx-post="/api/autogm/{{party.path}}"
                hx-target="#page-content">
            Next Scene
        </button>
    </div>
    {% endif %}
    {% if party.quests %}
    <div class="column is-full">
        {{scene_quest_log(user, world, party)}}
    </div>
    {% endif %}
    <div class="column is-full">
        {{scene_summary_display(user, world, party)}}
    </div>
    <div class="column is-full">
        <div class="row has-space-around">
            {% for player in party.players %}
            <div class="column is-4">
                {{display_components.card(player)}}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{%- endmacro %}


{% macro autogm_start_gm_session(user, world, party) -%}
<form hx-post="/api/autogm/gm/{{party.pk}}/start"
      hx-target='closest .column'
      hx-push-url='/{{party.path}}/gm'>
    <div class="row has-space-around">
        <div class="column is-vertically-centered">
            <h3 class='has-text-primary'>Scenario</h3>
            <textarea name="description" id="party_scenario"
                      class='has-bg-white'
                      style='height:5rem;'></textarea>
        </div>
    </div>
    <div class="row has-centered">
        <div class="column is-shrink is-vertically-centered">
            <button type='submit' class="button">
                Start Session
            </button>
        </div>
    </div>
</form>
{%- endmacro %}