{% import "shared/_icons.html" as icon_components %}
{% import "shared/_display.html" as display_components %}

{% macro foundry_buttons(user, obj) -%}
<div class="grid-x align-spaced">
    <div class="cell">
        <h4 class='subtitle'>Foundry Client ID: {{obj.foundry_client_id}}</h4>
        <h4 class='subtitle'>Foundry ID: {{obj.foundry_id}}</h4>
    </div>
    {% if user.world_user(obj) %}
    <div class="cell shrink">
        <button class="button small" hx-get="/foundry/push/{{obj.path}}"
                hx-target='#page-content'>Push to
            Foundry</button>
    </div>
    {% if obj.foundry_id %}
    <div class="cell shrink">
        <button class="button small" hx-get="/foundry/get/{{obj.path}}"
                hx-target='#page-content'>Pull
            from Foundry</button>
    </div>
    {% endif %}
    {% endif %}
</div>
{%- endmacro %}

{% macro details(user, obj) -%}
<div class="callout">
    <h5> Details</h5>
    <ul>
        <li>{{obj.description_summary | safe}}</li>
        {% for sd in obj.sensory_details %}
        <li>{{ sd | safe }}</li>
        {% endfor %}
    </ul>
    <h5>Current Status</h5>
    {{obj.status | safe}}
</div>
{%- endmacro %}

{% macro display_map(user, obj) -%}
<div class="callout">
    <h5>Map</h5>
    {% if obj.map %}
    <img src="{{obj.map.url()}}" alt="{{obj.name}} Map Image">
    {% else %}
    <p>No map set.</p>
    {% endif %}
</div>
{%- endmacro %}

{% macro rumors(user, obj) -%}
<div class="callout">
    <h5>Rumors</h5>
    <ul>
        {% for r in obj.rumors + obj.recent_events %}
        <li>
            {{ r | safe }}
        </li>
        {% endfor %}
    </ul>
</div>
{%- endmacro %}

{% macro hooks(user, obj)%}
<div class="callout">
    <h4>Hooks</h4>
    <div class="grid-x grid-margin-x">
        <div class="cell medium-2">
            <h5> Hook </h5>
        </div>
        <div class="cell medium-10">
            <h5> Summary </h5>
        </div>
        {% for q in obj.quests %}
        <div class="cell medium-2">
            <div class="callout">
                {{ q.summary | safe }}
            </div>
        </div>
        <div class="cell medium-10">
            {{ q.hook | safe }}
        </div>
        {% endfor %}
    </div>
</div>
{% endmacro %}

{% macro reference(user, obj) -%}
<h3 class='text-center'>Quick Reference</h3>
<table class="stack scroll">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Backstory</th>
            <th>Sensory Detail</th>
            <th>Encounters</th>
        </tr>
    </thead>
    {% for a in obj.associations|sort(attribute='name') %}
    <tr class="{{ loop.cycle('bg-screen', 'bg-muted') }}">
        <td><a href="/{{ a.path }}" target='_blank'>{{ a.name }}</a></td>
        <td>
            {{ a.title }}
        </td>
        <td>
            {{ a.backstory_summary | safe }}
        </td>
        <td>
            {{ a.sensory_details | random | safe }}
        </td>
        <td>
            {% for e in a.encounters %}
            <a href="/{{e.path}}" target='_blank'>{{e.name}}</a>{% if not loop.last %}
            <hr> {% endif %}
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>
{%- endmacro %}

{% macro display_encounters(user, obj, manage=True) -%}
<div class="callout" hx-disinherit="hx-confirm hx-indicator hx-push-url">
    <h5>Encounters</h5>
    {% if manage %}
    <div class="grid-x grid-margin-x align-justify margin-bottom-2">
        <div class="cell shrink">
            <button class="button small"
                    hx-post="/api/manage/{{obj.path}}/add/encounter"
                    hx-target="#encounter-list"
                    hx-select="#encounter-list"
                    hx-swap="outerHTML"
                    hx-indicator="#request-indicator">
                {{icon_components.add(size="1rem")}} Add Encounter
            </button>
        </div>
        <div class="cell auto">
            <input autocomplete="off"
                   type="search"
                   name="query"
                   placeholder="Search to Add Encounters..."
                   style="border-bottom: solid #000"
                   hx-target="#association-search"
                   hx-post="/api/manage/encounter/search"
                   hx-trigger="input delay:750ms, search">
            <ul class="vertical dropdown menu"
                data-dropdown-menu
                id="association-search"
                style='background-color: white;
                                           position: absolute;
                                           z-index:9999'>
            </ul>
        </div>
    </div>
    {% endif %}
    <section id="encounter-list">
        {% for encounter in obj.encounters %}
        <div class="callout">
            <div class="grid-x grid-margin-x">
                <div class="cell medium-2">
                    {{ display_components.object_display(encounter, name=False, type=False) }}
                </div>
                <div class="cell auto">
                    <h4 class='text-center'>
                        <a href="/{{encounter.path}}">{{encounter.name}}
                        </a>
                    </h4>
                    <h5 class='text-center'>
                        <a href="/{{encounter.parent.path}}">{{encounter.parent.name}}
                        </a>
                    </h5>
                    {{ encounter.trigger_conditions | safe }}
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
</div>
{%- endmacro %}