{% import "shared/_icons.html" as icon_components %}
{% import "shared/_display.html" as display_components %}

{% macro foundry_buttons(user, obj) -%}
<div class="grid-x align-spaced">
    {% if user.world_user(obj) %}
    <div class="cell shrink">
        <button class="button small" hx-get="/foundry/push/{{obj.path}}"
                hx-target='#page-content'>Push to
            Foundry</button>
    </div>
    {% if obj.foundry_id %}
    <div class="cell shrink">
        <button class="button small" hx-get="/foundry/get/{{obj.path}}"
                hx-target='#page-content'>Pull
            from Foundry</button>
    </div>
    {% endif %}
    {% endif %}
</div>
{%- endmacro %}

{% macro display_map(user, obj) -%}
<div class="callout">
    <h5>Map</h5>
    {% if obj.map %}
    <img src="{{obj.map.url()}}" alt="{{obj.name}} Map Image">
    {% else %}
    <p>No map set.</p>
    {% endif %}
</div>
{%- endmacro %}

{% macro reference(user, obj) -%}
<h3 class='text-center'>Quick Reference</h3>
{% for a in obj.associations|sort(attribute='name') %}
<div class="grid-x grid-padding-x {{ loop.cycle('bg-screen', 'bg-muted') }}"
     style='padding-top: .25rem; padding-bottom: .25rem;'>
    <div class="cell medium-3">
        <a href="/{{a.path}}" target='_blank'>{{a.name}}</a>
    </div>
    <div class="cell medium-6">
        {{ a.sensory_details | random | safe }}
    </div>
    <div class="cell medium-3">
        {% for e in a.encounters %}
        <a href="/{{e.path}}">{{e.name}}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
    </div>
</div>
{% endfor %}
{%- endmacro %}

{% macro display_encounters(user, obj, manage=True) -%}
<div class="callout">
    <h5>Encounters</h5>
    {% if manage %}
    <div class="grid-x grid-margin-x align-justify margin-bottom-2">
        <div class="cell shrink">
            <button class="button small"
                    hx-post="/api/manage/{{obj.path}}/add/encounter"
                    hx-target="#encounter-list"
                    hx-select="#encounter-list"
                    hx-swap="outerHTML"
                    hx-indicator="#request-indicator">
                {{icon_components.add(size="1rem")}} Add Encounter
            </button>
        </div>
        <div class="cell auto">
            <input autocomplete="off"
                   type="search"
                   name="query"
                   placeholder="Search to Add Encounters..."
                   style="border-bottom: solid #000"
                   hx-target="#association-search"
                   hx-post="/api/manage/encounter/search"
                   hx-trigger="input delay:750ms, search">
            <ul class="vertical dropdown menu"
                data-dropdown-menu
                id="association-search"
                style='background-color: white;
                                           position: absolute;
                                           z-index:9999'>
            </ul>
        </div>
    </div>
    {% endif %}
    <section id="encounter-list">
        {% for encounter in obj.encounters %}
        <div class="callout">
            <div class="grid-x grid-margin-x">
                <div class="cell medium-2">
                    {{ display_components.object_display(encounter, name=False, type=False) }}
                </div>
                <div class="cell auto">
                    <h4 class='text-center'>
                        <a href="/{{encounter.path}}">{{encounter.name}}
                        </a>
                    </h4>
                    <h5 class='text-center'>
                        <a href="/{{encounter.parent.path}}">{{encounter.parent.name}}
                        </a>
                    </h5>
                    {{ encounter.trigger_conditions | safe }}
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
</div>
{%- endmacro %}