{% import "shared/_display.html" as display_components %}
{% import "shared/_icons.html" as icon_components %}
{% import "shared/_abilities.html" as ability_components %}

{% macro info(user, obj) -%}
<title>{{obj.name or obj.title}} - Details</title>
<p>Info: {{obj.info}}</p>
{{obj.snippet(user, 'info') | safe}}

<div id="{{obj.type}}" class="grid-x grid-padding-x">
    <div class="cell small-12"><h1>{{obj.name or obj.title}}</h1></div>
    <div class="story cell small-12 medium-7">
        <h2>Backstory</h2>
        {{obj.backstory | safe}}

        <h2>History</h2>
        {{obj.history | safe}}
    </div>
    <div class="related-panel cell small-12 medium-4 large-offset-1">
        <br>
        {% if obj.image %}
                    <img src="{{obj.image.url(size='large')}}" alt="{{obj.name}}" />
                    {% endif %}
        <table>
            <tr><th>Start Date</th><td>{{obj.start_date}}</td></tr>
            <tr><th>End Date</th><td>{{obj.end_date}}</td></tr>
            
        </table>

        {% if obj.description %}
            <h3>Description</h3>
            <p>{{obj.description | safe}}</p>
        {% endif %}

        {% if obj.traits %}
            <h3>Traits</h3>
            <p>{{obj.traits}}</p>
        {% endif %}
    </div>
</div>


<h1>{{obj.name or obj.title}}</h1>
<div class="row has-space-between">
    <div class="column is-vertically-centered">
        <h2>Details</h2>
    </div>
    {% if obj.traits %}
    <div class="column is-shrink is-end">
        <span class="tag">{{obj.traits}}</span>
    </div>
    {% endif %}

</div>
{%if obj.model_name() != "World" and not(obj.model_name() == "Creature" and obj.group) %}
<div class="row has-centered">
    {% if obj.start_date and obj.start_date.year > 0 %}
    <div class="column is-shrink is-vertically-centered">
        {% if obj.model_name() in ['Character', 'Creature'] %}
        <h4 class='has-text-dark'>Born</h4>
        {% elif obj.model_name() in ['Faction', 'Item', 'Vehicle'] %}
        <h4 class='has-text-dark'>Created</h4>
        {%elif obj.model_name() in ['Location', 'City'] %}
        <h4 class='has-text-dark'>Built</h4>
        {%else %}
        <h4 class='has-text-dark'>Founded</h4>
        {% endif %}
    </div>
    <div class="column is-shrink is-vertically-centered">
        <h3 class='has-text-dark'>{{obj.start_date}}</h3>
    </div>
    {% endif %}
    {% if obj.end_date and obj.end_date.year > 0 %}
    <div class="column is-shrink is-vertically-centered">
        <h3 class='has-text-dark'>- {{obj.end_date}}
        </h3>
    </div>
    <div class="column is-shrink is-vertically-centered">
        {% if obj.model_name() in ['Character', 'Creature'] %}
        <h4 class='has-text-dark'>Died</h4>
        {% elif obj.model_name() in ['Faction'] %}
        <h4 class='has-text-dark'>Disbanded</h4>
        {%elif obj.model_name() in ['Location', 'City', 'Item', 'Vehicle'] %}
        <h4 class='has-text-dark'>Destroyed</h4>
        {% else %}
        <h4 class='has-text-dark'>Lost</h4>
        {% endif %}
    </div>
    {% endif %}
</div>
{%endif%}
<hr>
<div class="panel has-bg-dark generated-text-darkbg">
    <h3 class='has-text-center'>GM Notes</h3>
    <div class="row">
        <div class="column is-full">
            <h5>Summary</h5>
            <div class="panel">
                {{obj.description_summary | safe}}
            </div>
        </div>
        {% if obj.model_name() in ['Region', 'City', 'District', 'Location'] %}
        <div class="column is-half">
            <h5>Sensory Details</h5>
            <div class="panel">
                <ul>
                    {% for sd in obj.sensory_details %}
                    <li>{{ sd | safe }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="column is-half">
            <h5>Recent Events</h5>
            <div class="panel">
                <ul>
                    {% for sd in obj.recent_events %}
                    <li>{{ sd | safe }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="column is-full">
            <h5>Current Situations</h5>
            <div class="panel">
                <ul>
                    {% for sd in obj.situations %}
                    <li>{{ sd | safe }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% elif obj.model_name() in ['Character'] %}
        <div class="column">
            <h5>Look-A-Like</h5>
            <div class="panel">
                {{obj.lookalike | safe}}
            </div>
        </div>
        <div class="column">
            <h5>Voice</h5>
            <div class="panel">
                {{obj.voice_description | safe}}
            </div>
        </div>
        {% if obj.quests %}
        <div class="column is-full">
            <h5>Hooks</h5>
            <div class="panel">
                <ul>
                    {% for q in obj.quests %}
                    <li>
                        {{ q.summary | safe }}
                        <hr class='has-bg-primary'>
                        {{ q.hook | safe }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        <div class="column is-full">
            <h5>Rumors</h5>
            <div class="panel">
                <ul>
                    {% for r in obj.rumors %}
                    <li>
                        {{ r | safe }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<hr>
<div class="panel has-bg-light has-text-dark generated-text-lightbg">
    <span hx-get="/api/{{obj.path}}/info" hx-trigger="load" hx-swap="outerHTML"></span>
</div>
<hr>
<div class="panel has-bg-light generated-text-lightbg">
    <h3 class='has-text-center'>Description</h3>
    {{obj.description | safe}}
</div>
<hr>
<div class="panel has-bg-light generated-text-lightbg">
    <h3 class='has-text-center'>Backstory</h3>
    {{obj.backstory | safe}}
</div>
{{obj.path}}


{%- endmacro %}