{% import "shared/_form.html" as form_components %}
{% import "shared/_icons.html" as icon_components %}

{% macro jobs(user, obj) -%}
<h3 class="text-center" style='padding: 0.25rem;'>Job Board</h3>

<div class="callout " style='border-top-right-radius: 0; border-top-left-radius:0;'>
    <div class="grid-x">
        {%for job in obj.jobs%}
        {% if job.status in ['active', 'available']%}
        <div class="cell">
            <div class="grid-x">
                <div class="cell">
                    {% if user.world_user(obj)%}
                    <a href="/{{job.contact.path}}/quests">
                        {% endif %}
                        <div class="grid-x align-justify">
                            <div class="cell medium-4 align-center-middle">
                                <h2 class='text-center'>{{job.name}}</h2>
                            </div>
                            {% if job.contact.parent%}
                            <div class="cell auto align-center-middle">
                                <h4 class='text-center'>
                                    {% set curr = job.contact.parent %}
                                    {% if curr %}
                                    {{curr.name}},
                                    {% set curr = curr.parent %}
                                    {% if curr %}
                                    {{curr.name}},
                                    {% set curr = curr.parent %}
                                    {% if curr %}
                                    {{curr.name}},
                                    {% set curr = curr.parent %}
                                    {% if curr %}
                                    {{curr.name}}
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                </h4>
                            </div>
                            {%endif%}
                            <div class="cell medium-3 align-center-middle">
                                <h3 class='text-center'>
                                    Status: {{job.status}}
                                </h3>
                            </div>
                            <div class="cell medium-3 align-center-middle">
                                <h3 class='text-center'>
                                    Contact: {{job.contact.name}}
                                </h3>
                            </div>
                        </div>
                        {% if user.world_user(obj)%}
                    </a>
                    {% endif %}
                </div>
                <div class="cell align-center-middle text-center">
                    {{job.summary | safe}}
                </div>
            </div>
            <hr>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{%- endmacro %}