{% import "shared/_form.html" as form_components %}
{% import "shared/_icons.html" as icon_components %}

{% macro jobs(user, obj) -%}
<h3 class="has-text-muted has-bg-screen has-text-center" style='padding: 0.25rem;'>Job Board</h3>

<div class="panel has-bg-muted" style='border-top-right-radius: 0; border-top-left-radius:0;'>
    <div class="row">
        {%for job in obj.jobs%}
        <div class="column is-full has-text-dark">
            <div class="row">
                <div class="column has-bg-light-grey">
                    {% if user.world_user(obj)%}
                    <a href="/{{job.contact.path}}/quests">
                        {% endif %}
                        <div class="row has-space-between">
                            <div class="column is-4 is-vertically-centered">
                                <h2 class='has-text-center'>{{job.name}}</h2>
                            </div>
                            {% if job.contact.parent%}
                            <div class="column is-4 is-vertically-centered">
                                <h4 class='has-text-center'>
                                    {% set curr = job.contact.parent %}
                                    {% if curr %}
                                    {{curr.name}}
                                    {% set curr = curr.parent %}
                                    {% endif %}
                                    {% if curr %}
                                    , {{curr.name}}
                                    {% set curr = curr.parent %}
                                    {% endif %}
                                    {% if curr %}
                                    , {{curr.name}}
                                    {% endif %}
                                </h4>
                            </div>
                            {%endif%}
                            <div class="column is-4 is-vertically-centered">
                                <h3 class='has-text-center'>
                                    Contact: {{job.contact.name}}
                                </h3>
                            </div>
                        </div>
                        {% if user.world_user(obj)%}
                    </a>
                    {% endif %}
                </div>
                <div class="column is-full">
                    {{job.summary | safe}}
                </div>
            </div>
            <hr>
        </div>
        {% endfor %}
    </div>
</div>
{%- endmacro %}