{% import "shared/_display.html" as element %}
{% import "shared/_icons.html" as icon_components %}
{% import "shared/_form.html" as form_components %}

{% macro journal(user, obj) -%}
<title>{{obj.name or obj.title}} - Journal</title>
<div class="grid-x">
    <div class="cell align-center-middle">
        <h2>Journal</h2>
    </div>
    <div class="cell shrink">
        <div class="cell shrink align-center-middle">
            <button class="button small" hx-post="/api/manage/journal/entry/edit"
                    hx-target="#page-content">
                {{icon_components.journal()}}
                New Entry
            </button>
        </div>
    </div>
</div>
<hr>
<div class="accordian">
    <ul class="accordion__list">
        {% for entry in obj.journal.entries %}
        <li class="accordion__item ">
            <a class="accordion__title" href="#journal-entry-{{obj.pk}}">
                <div class="grid-x align-justify">
                    <div class="cell align-center-middle journal-entry-title"
                         onclick='this.closest(".accordion__item").classList.toggle("is-active");'>
                        <h3 class=''>{{entry.title}}</h3>
                    </div>
                    <div class="cell shrink align-center-middle"
                         onclick='this.closest(".accordion__item").classList.toggle("is-active");'>
                        <small>
                            Last updated: {{entry.date.strftime("%d/%m/%Y")}}
                        </small>
                    </div>
                    <div class="cell shrink align-center-middle"
                         onclick='this.closest(".accordion__item").classList.toggle("is-active");'>
                        {%if entry.importance==0 %}
                        <span class="label">
                            No Campaign Effects
                        </span>
                        {%elif entry.importance==1 %}
                        <span class="label">
                            Possible Campaign Effects
                        </span>
                        {%elif entry.importance==2 %}
                        <span class="label ">
                            Consequential Campaign Effects
                        </span>
                        {%elif entry.importance==3 %}
                        <span class="label">
                            Critical Campaign Effects
                        </span>
                        {%elif entry.importance==4 %}
                        <span class="label">
                            Main Campaign Event
                        </span>
                        {%endif%}
                    </div>
                    <div class="cell shrink align-center-middle">
                        <button class="button small"
                                hx-post="/api/manage/journal/entry/edit/{{entry.pk}}"
                                hx-target="#page-content">
                            Edit
                        </button>
                    </div>
                    <div
                         class="cell shrink align-center-middle">
                        <button class="button small"
                                hx-post="/api/manage/journal/entry/delete/{{entry.pk}}"
                                hx-target='closest li'
                                hx-swap="delete"
                                hx-confirm='Are you sure you want to delete this entry?'>
                            {{icon_components.trash(size="1rem")}}
                        </button>
                    </div>
                </div>
            </a>
            <div class="accordion__content">
                <hr class=''>
                <div class="callout">
                    {{entry.text | safe}}
                </div>
                <hr>
                <h4 class=' text-center'>Associations</h4>
                <div class="callout">
                    <div class="grid-x align-spaced">
                        {% if entry.associations %}
                        {% for ass in entry.associations %}
                        <div class="cell text-center shrink">
                            {{element.object_display(ass)}}
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <hr class=''>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{%- endmacro %}

{% macro journal_entry(user, obj, entry) -%}
<title>{{obj.name or obj.title}} - Journal Editor</title>
<div class="grid-x">
    <div class="cell align-center-middle">
        <h2 class='text-center'>Journal Editor</h2>
    </div>
    <div class="cell shrink align-center-middle">
        <a href="/{{obj.path}}/journal">
            {{icon_components.close()}}
        </a>
    </div>
</div>
<form id="journal-entry-form" hx-post="/api/manage/journal/entry/update/{{entry.pk}}"
      hx-target="#page-content"
      hx-indicator='#request-indicator' hx-swap='none'
      hx-trigger='input delay:750ms, change'>

    <div class="grid-x align-justify">
        <div class="cell is-half">
            <h5 class='text-center'>Title</h5>
            <input class="" type="text" name="name" value="{{entry.title}}">
        </div>
        <div class="cell is-half">
            <h5 class='text-center'> Importance </h5>
            <div class="is-select">
                <select class=" text-center" name="importance">
                    <option value=0 {%if entry.importance==0 %}selected {%endif %}>
                        No Consequence
                    </option>
                    <option value=1 {%if entry.importance==1 %}selected {%endif %}>
                        Possible Consequences
                    </option>
                    <option value=2 {%if entry.importance==2 %}selected {%endif %}>
                        Highly Consequential
                    </option>
                    <option value=3 {%if entry.importance==3 %}selected {%endif %}>
                        Critical Event
                    </option>
                    <option value=4 {%if entry.importance==4 %}selected {%endif %}>
                        Main Story Event
                    </option>
                </select>
            </div>
        </div>
        <div class="cell">
            {{form_components.texteditor(user, entry, 'text')}}
        </div>
    </div>
    <hr>
</form>
<div class="grid-x">
    <div class="cell">
        <h3 class="text-center">Add Associations</h3>
        <div class="has-dropdown" style="width: 100%;">
            <input class="" autocomplete="off" type="search" name="query"
                   hx-post="/api/manage/journal/search"
                   hx-target="#journal-entry-association-search"
                   hx-trigger="input delay:750ms consume, change consume, search"
                   hx-on:input="this.value.length <= 1? this.closest('.has-dropdown').classList.remove('is-active'):this.closest('.has-dropdown').classList.add('is-active')">
            <ul class="dropdown" id="journal-entry-association-search"
                hx-vals='{"entrypk":"{{entry.pk}}"}'>
            </ul>
        </div>
        <hr>
        <div class="callout small">
            <div class="grid-x align-spaced" id="journal-entry-associations">
                {% for a in entry.associations %}
                <div class="cell shrink ">
                    {{element.object_display(a)}}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro journal_dropdown(user, obj, objs=[]) -%}
{% for o in objs %}
<li class="dropdown__link">
    <form hx-post='/api/manage/journal/entry/association/add'
          hx-target='#page-content'
          hx-trigger='click'
          hx-indicator='#request-indicator'>
        <input type="hidden" name="ass_model" value="{{o.model_name()}}">
        <input type="hidden" name="ass_pk" value="{{o.pk}}">
        <div class="grid-x">
            <div class="cell shrink">
                <div class="image is-tiny is-thumbnail">
                    {% if o.image %}
                    <img class="thumbnail" src="{{o.image.url(size=50)}}" alt="{{o.name}}"
                         style="cursor: pointer" />
                    {% endif %}
                </div>
            </div>
            <div class="cell">
                {{o.name}}
            </div>
        </div>
    </form>
</li>
{% endfor %}
{%- endmacro%}