{% import "shared/_form.html" as form_components %}
{% import "shared/_display.html" as display_components %}
{% import "shared/_icons.html" as icon_components %}
{% import "shared/_history.html" as history_components %}
{% import "shared/_details.html" as details_components %}
{% import "shared/_timeline.html" as timeline_components %}
{% import "shared/_journal.html" as journal_components %}
{% import "shared/_stories.html" as stories_components %}
{% import "shared/_campaigns.html" as campaigns_components %}
{% import "shared/_associations.html" as associations_components %}
{% import "shared/_map.html" as map_components %}
{% import "shared/_jobs.html" as jobs_components %}
{% import "manage/_world.html" as manage_world_components %}
{% import "manage/_story.html" as manage_story_components %}
{% import "manage/_campaign.html" as manage_campaign_components %}
{% import "manage/_gmscreen.html" as manage_screen_components %}
{% import "shared/_title.html" as title_components %}

{% macro lore(user, obj) -%}
<div id="lore-container" class="callout" hx-disinherit="hx-confirm hx-indicator hx-push-url">
    <h2 class="text-center separator-center">Lore Builder</h2>
    <div class="grid-y">
        <div class="cell shrink">
            <select name='lorepk' hx-post="/api/lore/" hx-target="#lore-container"
                    hx-trigger="change"
                    onchange='history.pushState({}, "", `/{{obj.path}}/lore/${this.value}`);'
                    hx-push-url="false"
                    hx-selector="#lore-container"
                    hx-swap="outerHTML">
                <option value="" selected>=== Select Lore ===</option>
                {% for entry in obj.lore%}
                <option value="{{entry.pk}}">{{entry.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="cell shrink">
            <h3>- OR -</h3>
        </div>
        <div class="cell medium-6">
            <div class="callout bg-screen">
                <form hx-post="/api/lore/new" hx-target="#lore-container">
                    <div class="grid-x grid-margin-x align-spaced">
                        <div class="cell medium-4">
                            {{form_components.text_input(name="name",label="Title",value=lore.name)}}
                        </div>
                        <div class="cell shrink">
                            <label for="scope">Scope</label>
                            <div class="select">
                                <select name="scope">
                                    <option value="" selected>=== Select Scope ===</option>
                                    <option value="Local" selected>Local</option>
                                    <option value="Regional" selected>Regional</option>
                                    <option value="Global" selected>Global</option>
                                    <option value="Epic" selected>Epic</option>
                                </select>
                            </div>
                        </div>
                        <div class="cell shrink">
                            <select name="storypk" required>
                                <option value="" selected>=== Select Storyline ===</option>
                                {% for entry in obj.stories %}
                                <option value="{{entry.pk}}">{{entry.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="cell shrink">
                            <div class="grid-x grid-margin-x align-top">
                                <div class="cell shrink margin-right-1">
                                    Start Date:
                                </div>
                                <div class="cell shrink">
                                    <input type="number" name="start_day"
                                           class="inputwidth text-center"
                                           value="{{obj.current_date.day}}" min="1"
                                           max="31">
                                </div>
                                <div class="cell shrink">
                                    <div class='select'>
                                        <select name="start_month">
                                            <option value="" selected>=== Month ===</option>
                                            {% for month in obj.calendar.months %}
                                            <option value="{{month}}" {% if
                                                    obj.current_date.month==loop.index
                                                    %}
                                                    selected {% endif %}>
                                                {{month}}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="cell auto">
                                    <input name="start_year" type="number" id="sliderOutputDate"
                                           value='{{obj.end_date.year // 2}}'>
                                    <div class="slider" data-slider
                                         data-initial-start="{{obj.end_date.year // 2}}"
                                         data-end="{{obj.end_date.year}}"
                                         onchange="this.previousElementSibling.innerHTML = this.lastElementChild.value + ' {{obj.calendar.age}}';">
                                        <span class="slider-handle" data-slider-handle role="slider"
                                              tabindex="1"
                                              aria-controls="sliderOutputDate"></span>
                                        <span class="slider-fill" data-slider-fill></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x align-spaced">
                        <div class="cell shrink">
                            <button type="submit" class="button small ">
                                {{icon_components.plus(size="1rem")}}
                                New Lore Entry
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro lore_details(user, lore) -%}
<div class="callout" hx-disinherit="hx-confirm hx-indicator hx-push-url">
    <h2 class="text-center separator-center">{{lore.name}}</h2>
    <form hx-post="/api/lore/{{lore.pk}}/edit"
          hx-trigger="change delay:500ms"
          hx-swap="none">
        <div class="grid-x grid-margin-x align-spaced">
            <div class="cell medium-6">
                <h6 class=" text-center">
                    Current Date
                </h6>
                <div class="grid-x align-center">
                    <div class="cell shrink">
                        <input type="number" name="current_day"
                               class="inputwidth text-center"
                               value="{{lore.current_date.day}}" min="1"
                               max="31">
                    </div>
                    <div class="cell shrink">
                        <div class='select'>
                            <select name="current_month" class="inputwidth">
                                <option value="" selected>=== Select Month ===</option>
                                {% for month in lore.calendar.months %}
                                <option value="{{loop.index0}}" {% if
                                        lore.current_date.month==loop.index0
                                        %}
                                        selected {% endif %}>
                                    {{month}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="cell auto">
                        <input name="current_year" type="number" min="{{lore.start_date.year}}"
                               step='1'
                               value="{{lore.current_date.year}}">
                    </div>
                </div>
            </div>
            <div class="cell medium-6">
                <label for="setting">Current Setting</label>
                <select name="setting">
                    <option value="" selected>=== Select Setting ===</option>
                    {% for place in lore.places %}
                    <option value="{{place.path}}" {% if lore.setting and
                            lore.setting==place %} selected {% endif %}>
                        {{place.name}}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </form>
    <div class="grid-x align-spaced">
        {% if lore.last_summary %}
        <div class="cell">
            <div class="callout bg-screen">
                {{lore.last_summary | safe}}
            </div>
        </div>
        {% endif%}
    </div>
    <div class="grid-x">
        <div class="cell">
            <div id="lore-party-container" class="grid-x align-justify">
                <div class="cell shrink">
                    <h3 class=" text-centered">Party Members</h3>
                </div>
                <div class="cell medium-4">
                    <input autocomplete="off" type="search" name="query"
                           placeholder='add party member...'
                           style="border-bottom: solid #000;"
                           hx-post="/api/lore/{{lore.pk}}/party/add/search"
                           hx-target="#lore-new-party-list"
                           hx-trigger="input changed delay:500ms consume">
                    <ul class="dropdown menu" data-dropdown-menu id="lore-new-party-list">
                    </ul>
                </div>
                <div class="cell">
                    <div class="grid-x">
                        {% for o in lore.party %}
                        <div class="cell">
                            <div class="callout bg-screen small">
                                <div class="grid-x grid-margin-x">
                                    <div class="cell medium-3" style='position:relative;'>
                                        {{display_components.object_display(o, type=False, dim=500)}}
                                        <a style='position:absolute; top:0px; right:5px;'
                                           hx-post="/api/lore/{{lore.pk}}/party/remove/{{o.pk}}"
                                           hx-target="closest .cell" hx-swap="delete"
                                           hx-confirm="Are you sure you want to remove this character from the party?">
                                            <iconify-icon icon="mdi:remove"
                                                          width="1rem"></iconify-icon>
                                        </a>
                                    </div>
                                    <div class="cell medium-9">
                                        <strong>Verbal Response:</strong>
                                        <div class="callout">
                                            {{lore.get_response(o.name).verbal_response}}
                                        </div>
                                        <hr>
                                        <strong>Thoughts:</strong>
                                        <div class="callout">
                                            {{lore.get_response(o.name).thoughts}}
                                        </div>
                                    </div>
                                    <div class="cell medium-6">
                                        <strong>Actions Taken:</strong>
                                        <div class="callout">
                                            {{lore.get_response(o.name).actions_taken}}
                                        </div>
                                    </div>
                                    {% if lore.get_response(o.name).roll_type %}
                                    <div class="cell medium-6">
                                        <strong>Roll Type:
                                            {{lore.get_response(o.name).roll_type}}</strong>
                                        <div class="callout">
                                            <strong>Roll Explanation:</strong>
                                            {{lore.get_response(o.name).roll_explanation | safe}}
                                            <hr>
                                            <strong>Roll:</strong>
                                            {{lore.get_response(o.name).roll_formula | safe}}
                                            ({{lore.get_response(o.name).roll_bonuses | safe}}) =
                                            <span
                                                  class="stat">{{lore.get_response(o.name).roll_result}}</span>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id='lore-gm-prompts' class="grid-x">
        <div class="cell align-center">
            <form hx-post="/api/lore/{{lore.pk}}/edit"
                  hx-trigger="change delay:500ms"
                  hx-swap="none">
                {{form_components.textarea(user, lore, name="guidance",
                                                                label="Guidance for Responses")}}
                {{form_components.textarea(user, lore, name="situation",
                                                label="Current Situation")}}
            </form>
        </div>
        <div class="cell">
            <form hx-post="/task/generate/lore/{{lore.pk}}">
                <div class="grid-x">
                    <div class="cell shrink">
                        <button type="submit"
                                class="button small" hx-target='#lore-gm-prompts'>
                            {{icon_components.refresh(size="1rem")}}
                            Generate Lore
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="grid-x">
        <div class="cell">
            <div class="callout">
                <h3 class=" text-centered">Associations</h3>
                <div id="lore-associations-container" class="grid-x align-spaced">
                    <div class="cell medium-4">
                        <input autocomplete="off" type="search" name="query"
                               style="border-bottom: solid #000;"
                               placeholder='add association...'
                               hx-post="/api/lore/{{lore.pk}}/association/add/search"
                               hx-target="#lore-new-association-list"
                               hx-trigger="input changed delay:500ms consume">
                        <ul class="dropdown menu" data-dropdown-menu
                            id="lore-new-association-list">
                        </ul>
                    </div>
                    <div class="cell medium-7">
                        <div class="grid-x align-spaced">
                            {% for child in lore.world.all_models() %}
                            <div class="cell shrink">
                                <button class="button tiny"
                                        hx-post="/api/lore/{{lore.pk}}/association/add/{{ child.__name__ | lower }}"
                                        hx-target="#lore-associations-container"
                                        hx-select="#lore-associations-container"
                                        hx-swap='outerHTML'
                                        hx-indicator='#request-indicator'>
                                    {{ lore.world.get_title(child) }}
                                </button>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="cell">
                        <div class="grid-x align-spaced">
                            {% for o in lore.associations %}
                            <div class="cell medium-2" style='position:relative;'>
                                {{display_components.object_display(o, type=False, dim=500)}}
                                <a style='position:absolute; top:0px; right:5px;'
                                   hx-post="/api/lore/{{lore.pk}}/association/remove/{{o.path}}"
                                   hx-target="closest .cell" hx-swap="delete"
                                   hx-confirm="Are you sure you want to remove this association from the lore?">
                                    <iconify-icon icon="mdi:remove"
                                                  width="1rem"></iconify-icon>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="callout">
        <h4 class="text-centered">
            Associated Storyline:
            {{lore.story.name}}
        </h4>
        <div class="ease-in-out">
            {{lore.story.summary | safe}}
        </div>
    </div>
    <div class="grid-x align-center">
        <div class="cell shrink" hx-post="/api/lore/{{lore.pk}}/delete"
             hx-target="#page-content"
             hx-confirm="Are you sure you want to delete this lore entry? This action cannot be undone."
             hx-push-url="/{{lore.world.path}}/lore/{{lore.pk}}">
            {{icon_components.delete()}}
        </div>
    </div>
</div>
{%- endmacro %}

{% macro lore_party_dropdown(user, lore, objs=[]) -%}
{% for o in objs %}
<li class="dropdown__link ">
    <a hx-post="/api/lore/{{lore.pk}}/party/add/{{o.pk}}"
       hx-target='#lore-party-container'
       hx-select='#lore-party-container'
       hx-swap='outerHTML'
       onclick="this.closest('.has-dropdown').classList.remove('is-active')">
        <div class="grid-x">
            <div class="cell shrink">
                {% if o.image %}
                <img class="thumbnail" style="cursor: pointer"
                     src="{{o.image.url(size=50)}}"
                     alt="{{o.name}}" />
                {% endif %}

            </div>
            <div class="cell">
                {{o.name}}
            </div>
        </div>
    </a>
</li>
{% endfor %}
{%- endmacro%}

{% macro lore_association_dropdown(user, lore, objs=[]) -%}
{% for o in objs %}
<li class="dropdown__link ">
    <a hx-post="/api/lore/{{lore.pk}}/association/add/{{o.path}}"
       hx-target='#lore-associations-container'
       hx-select='#lore-associations-container'
       hx-swap='outerHTML'
       onclick="this.closest('.has-dropdown').classList.remove('is-active')">
        <div class="grid-x">
            <div class="cell shrink">
                {% if o.image %}
                <img class="thumbnail" style="cursor: pointer"
                     src="{{o.image.url(size=50)}}"
                     alt="{{o.name}}" />
                {% endif %}
            </div>
            <div class="cell">
                {{o.name}}
            </div>
        </div>
    </a>
</li>
{% endfor %}
{%- endmacro%}