{% import "shared/_form.html" as form_components %}
{% import "shared/_display.html" as display_components %}
{% import "shared/_icons.html" as icon_components %}
{% import "shared/_history.html" as history_components %}
{% import "shared/_details.html" as details_components %}
{% import "shared/_timeline.html" as timeline_components %}
{% import "shared/_journal.html" as journal_components %}
{% import "shared/_stories.html" as stories_components %}
{% import "shared/_campaigns.html" as campaigns_components %}
{% import "shared/_associations.html" as associations_components %}
{% import "shared/_map.html" as map_components %}
{% import "shared/_jobs.html" as jobs_components %}
{% import "manage/_world.html" as manage_world_components %}
{% import "manage/_story.html" as manage_story_components %}
{% import "manage/_campaign.html" as manage_campaign_components %}
{% import "manage/_gmscreen.html" as manage_screen_components %}
{% import "shared/_title.html" as title_components %}

{% macro lore(user, obj) -%}
<h2 class="text-center separator-center">Lore Builder</h2>
<div id="lore-container" class="callout">
    <div class="grid-x align-justify">
        <div class="cell shrink">
            <select name='lorepk' hx-post="/api/lore/" hx-target="#lore-container">
                <option value="" selected>=== Select Lore ===</option>
                {% for entry in obj.lore%}
                <option value="{{entry.pk}}">{{entry.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="cell auto">
            <h3>- OR -</h3>
        </div>
        <div class="cell shrink">
            <div class="callout bg-screen">
                <form hx-post="/api/lore/new" hx-target="#lore-container">
                    <div class="grid-x grid-margin-x align-spaced">
                        <div class="cell shrink">
                            <select name="storypk" class="inputwidth" required>
                                <option value="" selected>=== Select Storyline ===</option>
                                {% for entry in obj.stories %}
                                <option value="{{entry.pk}}">{{entry.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="cell shrink">
                            <div class="grid-x">
                                <div class="cell shrink align-middle margin-right-1">
                                    Start Date:
                                </div>
                                <div class="cell shrink">
                                    <input type="number" name="start_day"
                                           class="inputwidth text-center"
                                           value="{{obj.current_date.day}}" min="1"
                                           max="31">
                                </div>
                                <div class="cell shrink">
                                    <div class='select'>
                                        <select name="start_month" class="inputwidth">
                                            <option value="" selected>=== Select Month ===</option>
                                            {% for month in obj.calendar.months %}
                                            <option value="{{month}}" {% if
                                                    obj.current_date.month==loop.index
                                                    %}
                                                    selected {% endif %}>
                                                {{month}}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="cell shrink">
                                    <input name="start_year" type="number" id="sliderOutputDate"
                                           value='{{obj.end_date.year // 2}}'>
                                    <div class="slider" data-slider
                                         data-initial-start="{{obj.end_date.year // 2}}"
                                         data-end="{{obj.end_date.year}}"
                                         onchange="this.previousElementSibling.innerHTML = this.lastElementChild.value + ' {{obj.calendar.age}}';">
                                        <span class="slider-handle" data-slider-handle role="slider"
                                              tabindex="1"
                                              aria-controls="sliderOutputDate"></span>
                                        <span class="slider-fill" data-slider-fill></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cell shrink align-middle">
                            <button type="submit" class="button small ">
                                {{icon_components.plus(size="1rem")}}
                                New Lore Entry
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro lore_details(user, lore) -%}
<div class="callout">
    <form hx-post="/api/lore/{{lore.pk}}/edit"
          hx-trigger="change delay:500ms"
          hx-swap="none">
        <div class="grid-x align-spaced">
            <div class="cell medium-6">
                {{form_components.text_input(name="name",label="Title",value=lore.name)}}
            </div>
            <div class="cell shrink">
                <label class="label " for="scope">Scope</label>
                <div class="select">
                    <select name="scope">
                        <option value="" selected>=== Select Scope ===</option>
                        <option value="local" selected>Local</option>
                        <option value="regional" selected>Regional</option>
                        <option value="global" selected>Global</option>
                        <option value="epic" selected>Epic</option>
                    </select>
                </div>
            </div>
            <div class="cell medium-4">
                <h6 class=" text-center">
                    Current Date
                </h6>
                <div class="grid-x ">
                    <div class="cell shrink">
                        <input type="number" name="start_day"
                               class="inputwidth text-center"
                               value="{{lore.start_date.day}}" min="1"
                               max="31">
                    </div>
                    <div class="cell shrink">
                        <div class='select'>
                            <select name="start_month" class="inputwidth">
                                <option value="" selected>=== Select Month ===</option>
                                {% for month in lore.calendar.months %}
                                <option value="{{month}}" {% if lore.start_date.month==loop.index
                                        %}
                                        selected {% endif %}>
                                    {{month}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="cell">
                        <input
                               name="start_year" type="number" min="{{lore.start_date.year}}"
                               max="{{lore.start_date.year}}" step='1'
                               value="{{lore.start_date.year}}">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="callout  ">
        {% if lore.story %}
        <h3 class="text-centered"
            onclick='this.nextElementSibling.classList.toggle("is-hidden")'>Associated Storyline:
            {{lore.story.name}}
        </h3>
        <div class="is-hidden ease-in-out">
            {{lore.story.summary | safe}}
        </div>
        {% else %}
        <div class=" grid-x align-spaced">
            <div class="cell shrink">
                <select name="storypk"
                        hx-post="/api/world/lore/{{lore.pk}}/edit"
                        hx-target="#lore-container"
                        hx-trigger="change"
                        hx-selector="#lore-container"
                        hx-swap="outerHTML">
                    <option value="" selected>=== Select Storyline ===</option>
                    {% for entry in lore.world.stories %}
                    <option value="{{entry.pk}}">{{entry.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="grid-x align-spaced">
        <div class="cell medium-6">
            <form hx-post="/task/generate/lore/{{lore.pk}}">
                <div class="grid-x">
                    <div class="cell">
                        {{form_components.textarea(lore, name="prompt", label="Prompt")}}
                    </div>
                    <div class="cell shrink">
                        <button type="submit"
                                class="button small">
                            {{icon_components.refresh(size="1rem")}}
                            Generate Lore
                        </button>
                    </div>
                </div>
            </form>
        </div>
        {% if lore.summary %}
        <div class="cell medium-6">
            {{lore.summary | safe}}
        </div>
        {% endif%}
        {% if lore.situation %}
        <div class="cell medium-6">
            {{lore.situation | safe}}
        </div>
        {% endif%}
        {% if lore.backstory %}
        <div class="cell medium-6">
            {{lore.backstory | safe}}
        </div>
        {% endif%}
        {% if lore.potential_events %}
        <div class="cell medium-6">
            <h3>Potential Events</h3>
            <ul>
                {% for event in lore.potential_events %}
                <li>{{event | safe}}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif%}
    </div>
</div>
<div class="grid-x">
    <div class="cell">
        <div id="lore-party-container" class="grid-x has-centered">
            <div class="cell shrink">
                <h3 class=" text-centered">Party Members</h3>
            </div>
            <div class="cell medium-4">
                <input autocomplete="off" type="search" name="query"
                       style="border-bottom: solid #000;"
                       hx-post="/api/world/lore/{{lore.pk}}/party/add/search"
                       hx-target="#lore-new-party-list"
                       hx-trigger="input changed delay:500ms consume"
                       hx-on:input="this.value.length < 3 ? this.closest('.has-dropdown').classList.remove('is-active'):this.closest('.has-dropdown').classList.add('is-active')">
                <ul class="dropdown menu" data-dropdown-menu id="lore-new-party-list">
                </ul>
            </div>
            <div class="cell">
                <div class="grid-x align-spaced">
                    {% for o in lore.party %}
                    <div class="cell medium-2" style='position:relative;'>
                        {{display_components.object_display(o, type=False, dim=150)}}
                        <a style='position:absolute; top:0px; right:5px;'
                           hx-post="/api/world/lore/{{lore.pk}}/party/remove/{{o.pk}}"
                           hx-target="closest .cell" hx-swap="delete"
                           hx-confirm="Are you sure you want to remove this character from the party?">
                            <iconify-icon icon="mdi:remove"
                                          width="1rem"></iconify-icon>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="cell">
        <div id="lore-associations-container" class="grid-x has-centered">
            <div class="cell shrink">
                <h3 class=" text-centered">Associations</h3>
            </div>
            <div class="cell medium-4">
                <input autocomplete="off" type="search" name="query"
                       style="border-bottom: solid #000;"
                       hx-post="/api/world/lore/{{lore.pk}}/association/add/search"
                       hx-target="#lore-new-association-list"
                       hx-trigger="input changed delay:500ms consume"
                       hx-on:input="this.value.length < 3 ? this.closest('.has-dropdown').classList.remove('is-active'):this.closest('.has-dropdown').classList.add('is-active')">
                <ul class="dropdown menu" data-dropdown-menu id="lore-new-association-list">
                </ul>
            </div>
            <div class="cell">
                <div class="grid-x align-spaced">
                    {% for o in lore.associations %}
                    <div class="cell medium-2" style='position:relative;'>
                        {{display_components.object_display(o, type=False, dim=150)}}
                        <a style='position:absolute; top:0px; right:5px;'
                           hx-post="/api/world/lore/{{lore.pk}}/association/remove/{{o.path}}"
                           hx-target="closest .cell" hx-swap="delete"
                           hx-confirm="Are you sure you want to remove this association from the lore?">
                            <iconify-icon icon="mdi:remove"
                                          width="1rem"></iconify-icon>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro lore_party_dropdown(user, lore, objs=[]) -%}
{% for o in objs %}
<li class="dropdown__link ">
    <a hx-post="/api/world/lore/{{lore.pk}}/party/add/{{o.pk}}"
       hx-target='#lore-party-container'
       hx-select='#lore-party-container'
       hx-swap='outerHTML'
       onclick="this.closest('.has-dropdown').classList.remove('is-active')">
        <div class="grid-x">
            <div class="cell shrink">
                {% if o.image %}
                <img class="thumbnail" style="cursor: pointer" src="{{o.image.url(size=50)}}"
                     alt="{{o.name}}" />
                {% endif %}

            </div>
            <div class="cell">
                {{o.name}}
            </div>
        </div>
    </a>
</li>
{% endfor %}
{%- endmacro%}

{% macro lore_association_dropdown(user, lore, objs=[]) -%}
{% for o in objs %}
<li class="dropdown__link ">
    <a hx-post="/api/world/lore/{{lore.pk}}/association/add/{{o.path}}"
       hx-target='#lore-associations-container'
       hx-select='#lore-associations-container'
       hx-swap='outerHTML'
       onclick="this.closest('.has-dropdown').classList.remove('is-active')">
        <div class="grid-x">
            <div class="cell shrink">
                {% if o.image %}
                <img class="thumbnail" style="cursor: pointer" src="{{o.image.url(size=50)}}"
                     alt="{{o.name}}" />
                {% endif %}
            </div>
            <div class="cell">
                {{o.name}}
            </div>
        </div>
    </a>
</li>
{% endfor %}
{%- endmacro%}