{% import "shared/_form.html" as form_components %}
{% import "shared/_display.html" as display_components %}
{% import "shared/_icons.html" as icon_components %}
{% import "shared/_history.html" as history_components %}
{% import "shared/_details.html" as details_components %}
{% import "shared/_timeline.html" as timeline_components %}
{% import "shared/_journal.html" as journal_components %}
{% import "shared/_stories.html" as stories_components %}
{% import "shared/_campaigns.html" as campaigns_components %}
{% import "shared/_associations.html" as associations_components %}
{% import "shared/_map.html" as map_components %}
{% import "shared/_jobs.html" as jobs_components %}
{% import "manage/_world.html" as manage_world_components %}
{% import "manage/_story.html" as manage_story_components %}
{% import "manage/_campaign.html" as manage_campaign_components %}
{% import "manage/_gmscreen.html" as manage_screen_components %}
{% import "shared/_title.html" as title_components %}

{% macro lore(user, obj) -%}
<div id="lore-container" class="callout" hx-disinherit="hx-confirm hx-indicator hx-push-url">
    <h2 class="text-center separator-center">Lore Builder</h2>
    <div class="grid-y">
        <div class="cell shrink">
            <div class="grid-x grid-margin-y">
                {% for entry in obj.lore%}
                <div class="cell">
                    <a href="/lore/{{entry.pk}}">
                        <div class="callout">
                            <div class="grid-x grid-margin-x">
                                <div class="cell medium-2">
                                    <h5 class='separator-center'>{{entry.name}}</h5>
                                    <h6 class='subheader'>{{entry.start_date}} -
                                        {{entry.current_date}}
                                    </h6>
                                </div>
                                <div class="cell medium-10">
                                    <span style='font-size: small;'>{{entry.summary}}</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="cell shrink">
            <h3>- OR -</h3>
        </div>
        <div class="cell medium-6">
            <div class="callout bg-screen">
                <form hx-post="/lore/new" hx-target="#page-content">
                    <div class="grid-x grid-margin-x align-spaced">
                        <div class="cell medium-4">
                            {{form_components.text_input(name="name",label="Title",value=lore.name)}}
                        </div>
                        <div class="cell shrink">
                            <label for="scope">Scope</label>
                            <div class="select">
                                <select name="scope">
                                    <option value="" selected>=== Select Scope ===</option>
                                    <option value="Local" selected>Local</option>
                                    <option value="Regional" selected>Regional</option>
                                    <option value="Global" selected>Global</option>
                                    <option value="Epic" selected>Epic</option>
                                </select>
                            </div>
                        </div>
                        <div class="cell shrink">
                            <select name="storypk" required>
                                <option value="" selected>=== Select Storyline ===</option>
                                {% for entry in obj.stories %}
                                <option value="{{entry.pk}}">{{entry.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="cell shrink">
                            <div class="grid-x grid-margin-x align-top">
                                <div class="cell shrink margin-right-1">
                                    Start Date:
                                </div>
                                <div class="cell shrink">
                                    <input type="number" name="start_day"
                                           class="inputwidth text-center"
                                           value="{{obj.current_date.day}}" min="1"
                                           max="31">
                                </div>
                                <div class="cell shrink">
                                    <div class='select'>
                                        <select name="start_month">
                                            <option value="" selected>=== Month ===</option>
                                            {% for month in obj.calendar.months %}
                                            <option value="{{month}}" {% if
                                                    obj.current_date.month==loop.index
                                                    %}
                                                    selected {% endif %}>
                                                {{month}}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="cell auto">
                                    <input name="start_year" type="number" id="sliderOutputDate"
                                           value='{{obj.current_date.year // 2}}'>
                                    <div class="slider" data-slider
                                         data-initial-start="{{obj.current_date.year // 2}}"
                                         data-end="{{obj.current_date.year}}"
                                         onchange="this.previousElementSibling.innerHTML = this.lastElementChild.value + ' {{obj.calendar.age}}';">
                                        <span class="slider-handle" data-slider-handle role="slider"
                                              tabindex="1"
                                              aria-controls="sliderOutputDate"></span>
                                        <span class="slider-fill" data-slider-fill></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x align-spaced">
                        <div class="cell shrink">
                            <button type="submit" class="button small ">
                                {{icon_components.plus(size="1rem")}}
                                New Lore Entry
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{%- endmacro %}