{% import "shared/_form.html" as form_components %}
{% import "shared/_display.html" as display_components %}
{% import "shared/_icons.html" as icon_components %}

{% macro map(user, obj) -%}
<title>{{obj.name}} - Map</title>
<h2>Map</h2>
<hr>
<div class="grid-x fade-it-in" hx-push-url="false" id='object-map-view'>
    <div class="cell is-full">
        <div class="grid-x">
            <div class="cell">
                <div class="panel">
                    <h5 class='text-center'>Map Prompt</h5>
                    <form hx-post="/api/manage/update" hx-trigger="input delay:1s" hx-swap='none'>
                        {{form_components.texteditor(user, obj, 'map_prompt')}}
                    </form>
                </div>
            </div>
            <div class="cell shrink">
                <button class="button small"
                        hx-post="/api/manage/{{obj.path}}/map/prompt/reset"
                        hx-target="#object-map-view"
                        hx-select="#object-map-view"
                        hx-swap="outerHTML"
                        hx-confirm="Are you sure you want to reset the map prompt?"'>
                                {{icon_components.refresh()}}
                                Reset Prompt
                </button>
                {% if obj.backstory_summary %}
                    <button class="button is-full"
                            hx-post="/task/generate/map/{{obj.path}}"
                            hx-target="closest .cell"
                            hx-confirm="Are you sure you want to generate and overwrite the current map?">
                        {{icon_components.ai()}}
                        AI Generated Image
                    </button>
                {% else %}
                    <button class="button" class="button"
                            hx-post="/task/generate/history/{{obj.path}}"
                            hx-target="closest .cell">
                        Update History
                    </button>
                    <small style=' color:darkred'>The {{obj.title}} must have a history to generate
                    a map </small>
                    {% endif %}
                    <hr>
                    <button class="button is-full" hx-post="/api/manage/map/gallery"
                            hx-target="#map-container"
                            hx-swap="innerHTML show:#map-container:bottom"
                            hx-indicator='#request-indicator'>
                        {{icon_components.random()}}
                        Select From Gallery
                    </button>
            </div>
        </div>
        <hr class="has-bg-primary">
        <div class="grid-x">
            <div class="cell">
                <form hx-post="/api/manage/update" hx-select='#map-container'
                      hx-target="#map-container"
                      hx-confirm="Are you sure you want to upload and overwrite the current map?">
                    <div class="grid-x">
                        <div class="cell shrink">
                            <button class="button small" type="submit">
                                {{icon_components.link(size="1rem")}}
                                Upload from URL
                            </button>
                        </div>
                        <div class="cell">
                            <div class="inputlabel">
                                <input class=" "
                                       type="url" name="map"
                                       placeholder="enter url....">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="cell">
                <form hx-post="/api/manage/map/file/upload"
                      hx-ext="ignore:json-enc"
                      hx-encoding='multipart/form-data'
                      hx-select='#map-container'
                      hx-target="#map-container"
                      hx-swap="outerHTML show:#map-container:bottom"
                      {% if obj.map %}
                      hx-confirm="Are you sure you want to upload and overwrite the current map?"
                      {% endif %}>
                    <div class="grid-x">
                        <div class="cell shrink">
                            <button class="button small" type="submit">
                                {{icon_components.file(size="1rem")}}
                                Upload from File
                            </button>
                        </div>
                        <div class="cell">
                            <input class=" " type="file"
                                   name="map" required>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="map-container" class="cell is-full">
        <div id="map" style="width:100%;height:100%;">
            {% if obj.map %}
            <div class="image" width="100%">
                <img src="{{obj.map.url()}}" alt="{{obj.name}} map" />
            </div>
            {% endif %}
        </div>
    </div>
    {% if obj.model_name() in ['Location'] and obj.map %}
    <div class="cell is-full">
        <button class='button' class="button"
                hx-post="/task/generate/{{obj.path}}/dungeon"
                hx-target='closest .cell'>
            {{icon_components.ai()}}
            Build Dungeon
        </button>
        <div class="panel  has-text-dark">
            {{obj.dungeon | safe }}
        </div>
    </div>
    {% elif obj.model_name() in ['City', 'Region', 'District'] and obj.map %}
    <div class="cell">
        {{mappois(user, obj)}}
        <script>

            var mapelement = document.getElementById('map');
            var mapimage = mapelement.querySelector('img');
            mapimage.onload = function () {
                mapimage.style.opacity = '0';
                var mapheight = mapelement.getBoundingClientRect().height;
                var mapwidth = mapelement.getBoundingClientRect().width;
                console.log("Map Height:", mapheight);
                console.log("Map Width:", mapwidth);
                const imageBounds = [[0, 0], [mapheight, mapwidth]];
                const map = L.map('map', {
                    center: [mapheight / 2, mapwidth / 2],
                    zoom: 1,
                    crs: L.CRS.Simple, // Simple coordinate system
                    attributionControl: false,
                    scrollWheelZoom: false,
                    dragging: false,
                    touchZoom: false,
                    doubleClickZoom: false,
                    boxZoom: false,
                    zoomControl: false
                });
                L.imageOverlay('{{obj.map.url()}}', imageBounds).addTo(map);
                map.fitBounds(imageBounds);

                function createMarker(lat, lng, id, name, image) {
                    if (lat == '-1' || lng == '-1') {
                        lat = mapheight / 2;
                        lng = mapwidth / 2;
                    }
                    let icon = L.divIcon({
                        html: `<div style='position:relative'>
                        <img src="${image}">
                        <h6 style="color: white; font-size: 10px; margin: 0; white-space: nowrap;
               font-weight: bold;
               text-align: center;">${name}</h6></div>`, iconSize: [50, 50]
                    });
                    let marker = L.marker([parseFloat(lat), parseFloat(lng)], {
                        draggable: true,
                        riseOnHover: true,
                        icon: icon
                    }).addTo(map);

                    marker.on('dragend', function (e) {
                        var lat = e.target.getLatLng().lat;
                        var lng = e.target.getLatLng().lng;
                        fetch(`/api/manage/{{obj.path}}/map/poi/update/${id}`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                lat: lat,
                                lng: lng,
                            }),
                        });
                    });
                    return marker;
                }
                fetch('/api/manage/{{obj.path}}/map/pois', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        id: '{{obj.pk}}',
                    }),
                }).catch(function (error) {
                    console.error('Error:', error);
                }).then(function (response) {
                    return response.json();
                }).then(function (data) {
                    console.log(data);
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            var lat = data[i].lat;
                            var lng = data[i].lng;
                            var id = data[i].id;
                            var name = data[i].name;
                            var description = data[i].description;
                            var image = data[i].image;
                            var marker = createMarker(lat, lng, id, name, image);
                            marker.bindPopup(`<div><p>${description}</p><a href="/${id}">Details</a></div>`);
                        }
                    }
                });
            };
        </script>
    </div>
    {% endif %}
</div>
{%- endmacro %}

{% macro mappois(user, obj) -%}
<div class="panel  has-text-dark">
    <h5 class='text-centered'>Map POIs</h5>
    <div class="grid-x">
        {% for poi in obj.map_pois %}
        <div class="cell is-2">
            {{display_components.object_display(poi, type=False)}}
            {% if not obj.map.in_coordinates(poi) %}
            <button class="button small"
                    hx-post="/api/manage/{{obj.path}}/map/poi/add/{{poi.path}}"
                    hx-target="#object-map-view" hx-select="#object-map-view"
                    hx-swap="outerHTML show:#map-container:bottom">
                {{icon_components.plus()}}
            </button>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{%- endmacro %}

{% macro mapgallery(user, obj, maps) -%}
<div class="panel has-bg-primary">
    <div class="grid-x align-spaced">
        {% for image in maps%}
        <div class="cell shrink text-center has-centered">
            <div class="image is-medium is-thumbnail is-margin-center" style="cursor: pointer">
                <img src="{{image.url(size=100)}}" alt="{{image.tags | join(', ')}}"
                     hx-post="/api/manage/update"
                     hx-target="#map-container" hx-select="#map-container"
                     hx-swap="outerHTML"
                     hx-vals='{"map":"{{image.pk}}"}'
                     hx-indicator="#request-indicator" />
            </div>
        </div>
        {% endfor %}
    </div>
</div>;
{%- endmacro %}