{% import "shared/_display.html" as display_components %}
{% import "shared/_icons.html" as icon_components %}

{% macro stories(user, obj)%}
<title>{{obj.name | title}} - View Stories</title>
<h2 id='view-stories'>
    View Stories
</h2>
<div id="object-stories" class="row raise-it">
    <div class="column">
        <select class="has-bg-muted" name="storypk" id="storypk"
                hx-post="/api/story/"
                hx-target="#story-details" hx-trigger='change'
                onchange='history.pushState({}, "", `/story/${this.value}`);'>
            <option value="">=== Select Story ===</option>
            {% for s in obj.stories %}
            <option class="has-text-dark" value="{{s.pk}}" {% if story and story.pk==s.pk %}
                    selected {% endif %}>
                {{s.name}}
            </option>
            {% endfor %}
        </select>
    </div>
    {% if user.world_user(obj)%}
    <div class="column is-shrink is-end">
        <button class="button is-primary is-small" hx-post="/api/story/new"
                hx-target="#stories-list"
                hx-selector="#stories-list"
                hx-swap="outerHTML">
            {{icon_components.plus(size="1rem")}}
            New Story
        </button>
    </div>
    {% endif %}
    <div id="story-details" class="column is-full">
        <div class="row has-space-around">
            {% for story in obj.stories %}
            <div class="column is-4">
                <div class="panel">
                    <a href="/story/{{story.pk}}">
                        <h4 class='has-text-center'>{{story.name}}</h4>
                    </a>
                    <hr class='has-bg-white'>
                    <div class="row has-space-around">
                        {%for ass in story.associations %}
                        <div class="column is-2">
                            {{display_components.object_display(ass, type=False, name=False)}}
                        </div>
                        {% endfor %}
                    </div>
                    <hr class='has-bg-white'>
                    <a href="/story/{{story.pk}}">
                        <div class='has-text-justified has-text-black'>{{story.situation | safe}}
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{%- endmacro %}