{% import "shared/_display.html" as display_components %}
{% import "shared/_icons.html" as icon_components %}

{% macro stories(user, obj)%}
<title>{{obj.name | title}} - View Stories</title>
<h2 id='view-stories'>
    View Stories
</h2>
<div id="object-stories" class="grid-x raise-it">
    <div class="cell">
        <select class="" name="storypk" id="storypk"
                hx-post="/api/story/"
                hx-target="#story-details" hx-trigger='change'
                onchange='history.pushState({}, "", `/story/${this.value}`);'>
            <option value="">=== Select Story ===</option>
            {% for s in obj.stories %}
            <option class="has-text-dark" value="{{s.pk}}" {% if story and story.pk==s.pk %}
                    selected {% endif %}>
                {{s.name}}
            </option>
            {% endfor %}
        </select>
    </div>
    {% if user.world_user(obj)%}
    <div class="cell shrink is-end">
        <button class="button small" hx-post="/api/story/new"
                hx-target="#stories-list"
                hx-selector="#stories-list"
                hx-swap="outerHTML">
            {{icon_components.plus(size="1rem")}}
            New Story
        </button>
    </div>
    {% endif %}
    <div id="story-details" class="cell is-full">
        <div class="grid-x align-spaced">
            {% for story in obj.stories %}
            <div class="cell is-full">
                <div class="panel ">
                    <a href="/story/{{story.pk}}">
                        <h3 class='text-center'>{{story.name}}</h3>
                    </a>
                    <div class="grid-x">
                        {% if story.image %}
                        <div class="cell medium-3">
                            <div class='image'>
                                <img src='{{story.image.url()}}' alt='{{story.name}}'>
                            </div>
                        </div>
                        {% endif %}
                        <div class="cell">
                            <a href="/story/{{story.pk}}">
                                <div class='has-text-justified has-text-black'>
                                    {{story.summary | safe}}
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="grid-x align-spaced">
                        {%for ass in story.associations %}
                        <div class="cell is-1">
                            {{display_components.object_display(ass, type=False, name=False)}}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{%- endmacro %}