##############################################
# Task Components #
##############################################
{% macro checktask (task_id, snippet="") -%}
<div id="task-loader" class="callout" hx-post="/task/checktask/{{task_id}}"
     hx-target="#task-loader" hx-select="#task-loader" hx-swap="outerHTML" hx-indicator=""
     hx-confirm=''
     hx-params='model, pk'
     hx-trigger="every 3s">
    <div class="grid-x has-centered">
        <div class="cell text-center  shrink">
            <h3>Working...</h3>
        </div>
        <div class="cell shrink bg-screen">
            <img src="/static/images/grid.svg" width="50px"
                 height="50px" alt="loading">
        </div>
    </div>
</div>
{% if snippet %}
<div class="grid-x">
    <div class="cell">
        {{ snippet | safe}}
    </div>
</div>
{% endif %}
{%- endmacro %}

{% macro completetask (url, target="page-content", select=None, swap=None) -%}
<div id="task-loader" class="alert fade-it-out"
     hx-post="{{url}}"
     hx-trigger="load delay:300ms"
     hx-target="#{{target}}"
     {% if select%}
     hx-select="#{{select}}"
     {%endif%}
     {%if swap%}
     hx-swap="{{swap}}"
     {% endif %}
     hx-indicator=""
     hx-confirm=''>
    <h5>Complete</h5>
</div>
{%- endmacro %}