{% import "shared/_icons.html" as icon_components %}

{% macro object_title(user, obj) -%}
<div id="object-title" class="grid-container fluid">
    <div class="grid-x grid-padding-x grid-margin-y align-middle">
        <div class="cell small-12 medium-10 medium-offset-1 text-center">
            <a href='/{{obj.path}}'>
                <h1 id="object-name" class='text-primary'>
                    {{obj.name or obj.title or obj.model_name()|title}}
                </h1>
            </a>
        </div>
        {% if user.world_user(obj) %}
        <div class="cell small-12 medium-1 float-right">
            <a href="/{{obj.path}}/manage">
                {{icon_components.gear('2rem')}}
            </a>
        </div>
        {% endif %}
    </div>
    <div class="grid-x align-center-middle">
        {% if obj.model_name() != "World" and obj.geneology %}
        <div class="cell shrink">
            <nav>
                <ul class="breadcrumbs" role="navigation">
                    {% for p in obj.geneology[::-1] %}
                    <li><a class='text-muted' href="/{{p.path}}">{{p.name}}
                            <small>({{p.title}})</small></a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        {% endif %}
    </div>

</div>
{% endmacro %}