{% import "shared/_icons.html" as icon_components %}

{% macro object_title(user, obj) -%}
<div class="grid-container fluid padding-1 bg-black" style='position:relative;'>
    <div class="grid-x grid-padding-x align-center-middle">
        {% if obj.world != obj and obj.geneology %}
        <div class="cell text-center">
            {% for p in obj.geneology %}
            <a class='text-muted' href=" /{{p.path}}" style='font-size: 1rem;'>
                <span>{{p | get_icon('1em')}}</span>
                <span>{{p.name}}</span>
            </a>
            {% if not loop.last %}
            <span class="text-primary text-center"
                  style="margin: 0 0.5rem; font-size: 1rem; font-weight: bolder;"> / </span>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <div class="cell text-center">
            <a class='text-secondary' href="/{{obj.path}}" style='font-size: 2rem;'>
                {% if obj.image %}
                <img src="{{obj.image.thumbnail()}}" style='height:2.5rem'>
                {% endif %}
                <span>{{obj.name}}</span>
            </a>
            {% if user.world_user(obj) %}
            <a class="text-white" href="/{{obj.path}}/manage"
               style='position:absolute;top:0.5rem;right:0.5rem;'>
                {{icon_components.gear('1.5rem')}}
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endmacro %}