{% import "shared/_form.html" as form_components %}
{% import "shared/_display.html" as display_components %}
{% import "shared/_abilities.html" as abilities_components %}
{% import "shared/_icons.html" as icon_components %}
{% import "shared/_manage.html" as manage_components %}

<!-- characters have gameplay and other details -->
{% macro manage_extended_details(user, obj) -%}
<div id="character-game" class="grid-x grid-padding-x">
    <div class="cell small-12">
        <h2>Game Info</h2>
        <!-- DND Beyond Info -->
        <button class="button"
                hx-post="/manage/character/{{obj.pk}}/dndbeyond"
                hx-target="#page-content" {% if not obj.dnd_beyond_id %} disabled {% endif%}
                hx-indicator="#request-indicator">
            Updates from D&DBeyond
        </button>
        {% if not obj.dnd_beyond_id %}
        <small>Must be a 'player' and have DnDBeyond ID set</small>
        {% endif %}

        {{update_gm_notes(user, obj)}}
    </div>

    <div class="side-panel cell small-12 medium-3">
        {{update_skills(user, obj)}}
    </div>
    <div class="side-panel cell small-12 medium-9">
        {{update_stats(user, obj)}}
        {{abilities.manage(user, obj)}}
    </div>
</div>
{%- endmacro %}


<!-- display GM notes-->
{% macro update_gm_notes(user, obj) -%}
<h3>GM Notes</h3>
<table id="gm-notes">
    <tr>
        <th>Look-A-Like</th>
        <td>{{obj.lookalike | safe}}</td>
    </tr>
    <tr>
        <th>Voice</th>
        <td>{{obj.voice_description | safe}}</td>
    </tr>
    <tr>
        <th>Hooks</th>
        <td>
            {% for q in obj.quests %}
            {{ q.summary | safe }}
            <hr>
            {{ q.hook | safe }}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>Rumors</th>
        <td>
            {% for r in obj.rumors %}
            {{ r | safe }}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>Goals and Secrets</th>
        <td>{{obj.goal | safe}}</td>
    </tr>


    <label>Goals and Secrets
        <input type="text" name="goal" value="{{obj.goal}}">
    </label>
</table>
{%- endmacro %}


{% macro manage(user, obj) -%}
{{manage_components.manage(user, obj)}}
{{manage_components.dates(user, obj)}}
<hr>
<form hx-post="/manage/update/{{obj.path}}"
      hx-swap="none" hx-trigger="input delay:1s, change">
    <div class="grid-x align-spaced">
        <div class="cell shrink ">
            <h4 class='text-center'>Player/NPC</h4>
            <div class="is-select">
                <select class="has-no-border" name="is_player">
                    <option value="False">NPC</option>
                    <option value="True" {%if obj.is_player%} selected {%endif%}>Player</option>
                </select>
            </div>
        </div>
        <div class="cell shrink ">
            <h4 class='text-center'>Faction</h4>
            <div class="is-select">
                <select class="has-no-border" name="faction">
                    <option value="">No Faction</option>
                    {% for faction in obj.factions %}
                    <option value="{{faction.pk}}" {%if obj.faction and faction==obj.faction
                            %}selected {%endif%}>
                        {{faction.name}}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        {% if obj.is_player %}
        <div class="cell shrink " id="dnd-beyond-id-input-container">
            <h4 class='text-center'>D&DBeyond ID</h4>
            <input type="text" value="{{obj.dnd_beyond_id}}" name="dnd_beyond_id">
        </div>
        {% endif %}
        <div class="cell medium-4">
            <h4>Look-A-Like</h4>
            <input type="text" value="{{obj.lookalike}}" name="lookalike">
        </div>
    </div>

    <div class="grid-x align-justify">
        <div class="cell auto">
            <h4 class="text-center">STR</h4>
            <input class="text-center" type="text" value="{{obj.strength}}" name="strength">
        </div>
        <div class="cell auto">
            <h4 class="text-center">DEX</h4>
            <input class="text-center" type="text" value="{{obj.dexterity}}" name="dexterity">
        </div>
        <div class="cell auto">
            <h4 class="text-center">CON</h4>
            <input class="text-center" type="text" value="{{obj.constitution}}"
                   name="constitution">
        </div>
        <div class="cell auto">
            <h4 class="text-center">INT</h4>
            <input class="text-center" type="text" value="{{obj.intelligence}}"
                   name="intelligence">
        </div>
        <div class="cell auto">
            <h4 class="text-center">WIS</h4>
            <input class="text-center" type="text" value="{{obj.wisdom}}" name="wisdom">
        </div>
        <div class="cell auto">
            <h4 class="text-center">CHA</h4>
            <input class="text-center" type="text" value="{{obj.charisma}}" name="charisma">
        </div>
    </div>
    <div class="grid-x grid-margin-x grid-margin-y align-spaced">
        {% for skill, val in obj.skills.items() %}
        <div class="cell medium-2 is-mobile-3">
            <div class="callout">
                <h5 class='text-center'>{{skill}}</h5>
                <input class="text-center" type="number" value="{{val}}"
                       name="skills.{{skill}}">
            </div>
        </div>
        {% endfor %}
    </div>
    <hr>
    <div class="grid-x align-spaced">
        <div class="cell shrink ">
            <h4 class='text-center' for="model-hitpoints">MAX HP</h4>
            <input class="text-center" id="model-hitpoints" type="number"
                   value="{{obj.hitpoints}}" name="hitpoints">
        </div>
        <div class="cell shrink ">
            <h4 class='text-center' for="model-ac">AC</h4>
            <input class="text-center" id="model-ac" type="number"
                   value="{{obj.ac}}" name="ac">
        </div>
        <div class="cell shrink">
            <h4 class='text-center' for="model-speed">Speed/Units</h4>
            <div class="grid-x align-spaced">
                <div class="cell auto">
                    <input class="text-center" id="model-speed" type="number"
                           value="{{obj.speed}}" name="speed">
                </div>
                <div class="cell auto">
                    <input class="text-center"
                           id="model-speed_units" type="text"
                           value="{{obj.speed_units}}" name="speed_units">
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="grid-x align-justify">
        <div class="cell medium-2">
            <h4>Species</h4>
            <input type="text" value="{{obj.species}}" name="species">
        </div>
        <div class="cell medium-2">
            <h4>Gender</h4>
            <input type="text" value="{{obj.gender}}" name="gender">
        </div>
        <div class="cell shrink">
            <h4 class='text-center'>Age</h4>
            <input class="text-center" type="number" value="{{obj.age}}" name="age">
        </div>
        <div class="cell shrink">
            <h4>Archetype</h4>
            <input name="archetype" type='text' list="character-archetypes"
                   value="{{obj.archetype}}">
            <datalist id="character-archetypes">
                {%for a in obj.system.classes.keys() %}
                <option value="{{a}}" {%if a==obj.archetype%} selected {%endif%}>{{a}}</option>
                {% endfor %}
            </datalist>
        </div>
        <div class="cell shrink">
            <h4>Occupation</h4>
            <input name="occupation" list="character-occupations" value="{{obj.occupation}}">
            <datalist id="character-occupations">
                {%for k, v in obj.system.backgrounds.items() %}
                <option value="{{k}}">{{k}}: {{v}}</option>
                {% endfor %}
            </datalist>
        </div>
    </div>
    <hr>
    <div class="grid-x">
        <div class="cell">
            <h3 class='text-center'>Goals and Secrets</h3>
            {{form_components.richtexteditor(user, obj, "goal", label=False)}}
        </div>
    </div>
    <hr>
    <div class="grid-x">
        <div id="model-wealth" class="cell">
            <h3 class='text-center'>Wealth</h3>
            {{form_components.listarea(user, obj, "wealth")}}
            <hr>
        </div>
    </div>
</form>
<hr>
{{abilities_components.manage(user, obj)}}
<hr>
{{manage_components.backstory(user, obj)}}
{{manage_components.image(user, obj)}}
{%- endmacro %}

{% macro quests(user, obj) -%}
<div class="callout">
    <form hx-post="/manage/{{obj.pk}}/quest/create">
        <div class="grid-x align-spaced">
            <div class="cell">
                <h3>Quest Board</h3>
            </div>
            <div class="cell shrink">
                <h5>Storyline</h5>
            </div>
            <div class="cell medium-4">
                <div class="is-select">
                    <select class=" select" name="storyline">
                        {% for story in obj.world.stories %}
                        <option value="{{story.pk}}">{{story.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="cell shrink align-center-middle">
                <button class="button">
                    Create New Quest
                </button>
            </div>
        </div>
    </form>
</div>
<hr>
<div class="accordian">
    <ul class="accordion__list">
        {% for entry in obj.quests %}
        <li class="accordion__item ">
            <a class="accordion__title" href="#quest-entry-{{obj.pk}}">
                <div class="grid-x align-justify">
                    <div class="cell align-center-middle journal-entry-title"
                         onclick='this.closest(".accordion__item").classList.toggle("is-active");'>
                        <h3>{{entry.name}}</h3>
                        <h5>{{entry.status}}</h5>
                    </div>
                    <div class="cell shrink align-center-middle">
                        <button class="button small"
                                hx-post="/manage/quest/{{entry.pk}}/edit"
                                hx-target="#page-content">
                            Edit
                        </button>
                    </div>
                    <div class="cell shrink align-center-middle">
                        <button class="button small"
                                hx-post="/manage/quest/{{entry.pk}}/delete"
                                hx-target='closest li'
                                hx-swap="delete"
                                hx-confirm='Are you sure you want to delete this entry?'>
                            {{icon_components.trash(size="1rem")}}
                        </button>
                    </div>
                </div>
            </a>
            <div class="accordion__content">
                <hr>
                <div class="callout">
                    <div class="grid-x">
                        <div class="cell medium-6">
                            <div class="callout">
                                <h4 class='text-center'>Summary</h4>
                                {{entry.summary | safe}}
                            </div>
                        </div>
                        <div class="cell medium-6">
                            <div class="callout">
                                <h4 class=' text-center'>Hook</h4>
                                {{entry.hook | safe}}
                            </div>
                        </div>
                        <div class="cell">
                            <div class="callout">
                                <h4 class=' text-center'>Description</h4>
                                {{entry.description | safe}}
                            </div>
                        </div>
                    </div>
                    <div class="grid-x">
                        <div class="cell">
                            <div class="callout">
                                <h4 class='text-center'>Antagonist</h4>
                                {{entry.antagonist | safe}}
                            </div>
                        </div>
                    </div>
                    <div class="callout">
                        <h4 class=' text-center'>Scenes</h4>
                        <ul class='has-no-list-style'>
                            {% for scene in entry.scenes %}
                            <li>
                                <h5 class=' text-center'>{{scene.type}}</h5>
                                <b>SETUP:</b> {{scene.setup}}
                                <ul>
                                    <li> <b>DESCRIPTION:</b> {{scene.description}}</li>
                                    <li> <b>TASK:</b> {{scene.task}}</li>
                                    <li> <b>STAKES:</b> {{scene.stakes}}</li>
                                    <li>
                                        <b>NPCs:</b>
                                        <ul>
                                            {% for npc in scene.npcs%}
                                            <li>{{npc}}</li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    <li>
                                        <b>INFORMATION:</b>
                                        <ul>
                                            {% for info in scene.information%}
                                            <li>{{info}}</li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    <li>
                                        <b>CHALLENGES:</b>
                                        <ul>
                                            {% for challenge in scene.challenges%}
                                            <li> {{challenge}}</li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    <li><b>RESOLUTION:</b> {{scene.resolution}}</li>
                                    <li><b>REWARDS:</b> {{scene.rewards}}</li>
                                </ul>
                                <hr>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <hr>
                    <div class="callout">
                        <h4 class='text-center'>Plot Twists</h4>
                        <ul>
                            {% for twist in entry.plot_twists %}
                            <li>{{twist}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <hr>
                    <hr>
                    <div class="callout">
                        <h4 class='text-center'>Rewards</h4>
                        {{entry.rewards | safe}}
                    </div>
                    <hr>
                    <h4 class=' text-center'>Associations</h4>
                    <div class="grid-x align-spaced">
                        {% if entry.associations %}
                        {% for ass in entry.associations %}
                        <div class="cell medium-1">
                            {{display_components.object_display(ass)}}
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <hr>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{%- endmacro %}