{% import "shared/_form.html" as form_components %}
{% import "shared/_icons.html" as icon_components %}
{% import "shared/_manage.html" as manage_components %}

{% macro manage(user, obj) -%}
{{manage_components.manage(user, obj)}}
{{manage_components.dates(user, obj)}}
<form hx-post="/api/manage/update"
      hx-swap="none" hx-trigger="input delay:1s, change">
    <div class="grid-x align-spaced">
        <div class="cell medium-4">
            <div class="card">
                <div class="card__header align-center-middle">
                    <h4>Population</h4>
                </div>
                <div class="card__content">
                    <input class="text-center" type="number"
                           value="{{obj.population}}"
                           name="population" style='font-size: 2rem;'>
                </div>
            </div>
        </div>
    </div>
    <div class="cell">
        <h4>Culture</h4>
        {{form_components.richtexteditor(user, obj, "culture", label=False)}}
    </div>
    <div class="cell">
        <h4>Government</h4>
        {{form_components.richtexteditor(user, obj, "government", label=False)}}
    </div>
    <div class="cell">
        <h4>Religion</h4>
        {{form_components.richtexteditor(user, obj, "religion", label=False)}}
    </div>
    <div class="cell shrink">
        <label>Owner
            <select name="owner">
                <option value=""></option>
                {% for ch in obj.characters + obj.factions %}
                <option value="{{ch.pk}}" {% if obj.owner==ch %} selected {% endif %}>
                    {{ch.name}}
                </option>
                {% endfor %}
            </select>
        </label>
    </div>
</form>
{{manage_components.backstory(user, obj)}}
{{manage_components.image(user, obj)}}
{%- endmacro %}