{% import "shared/_form.html" as form_components %}
{% import "shared/_icons.html" as icon_components %}
{% import "shared/_abilities.html" as abilities_components %}
{% import "shared/_manage.html" as manage_components %}

{% macro manage(user, obj) -%}
{{manage_components.manage(user, obj)}}
{% if obj.legendary %}
{{manage_components.dates(user, obj)}}
{% endif %}
<form hx-post="/manage/update/{{obj.path}}"
      hx-swap="none" hx-trigger="input delay:1s, change">
    <div class="grid-x align-spaced">
        <div class="cell  text-center medium-1">
            <label class="text-center">STR</label>
            <input type="number" class="text-center" value="{{obj.strength}}" name="strength">
        </div>
        <div class="cell  text-center medium-1">
            <label class="text-center">DEX</label>
            <input type="number" class="text-center" value="{{obj.dexterity}}" name="dexterity">
        </div>
        <div class="cell  text-center medium-1">
            <label class="text-center">INT</label>
            <input type="number" class="text-center" value="{{obj.intelligence}}"
                   name="intelligence">
        </div>
        <div class="cell  text-center medium-1">
            <label class="text-center">WIS</label>
            <input type="number" class="text-center" value="{{obj.wisdom}}" name="wisdom">
        </div>
        <div class="cell  text-center medium-1">
            <label class="text-center">CHA</label>
            <input type="number" class="text-center" value="{{obj.charisma}}" name="charisma">
        </div>
        <div class="cell  text-center medium-1">
            <label class="text-center">CON</label>
            <input type="number" class="text-center" value="{{obj.constitution}}"
                   name="constitution">
        </div>
    </div>
    <div class="grid-x align-spaced">
        {% for skill, val in obj.skills.items() %}
        <div class="cell medium-1 is-mobile-3">
            <div class="callout">
                <h5 class='text-center'>{{skill}}</h5>
                <input class="text-center" type="number" value="{{val}}"
                       name="skills.{{skill}}">
            </div>
        </div>
        {% endfor %}
    </div>
    <hr>
    <div class="grid-x align-spaced">
        <div class="cell shrink">
            <label class="is-subheading">Legendary</label>
            <div class="is-select">
                <select name="legendary">
                    <option value="true"
                            {%if obj.legendary %} selected {% endif %}>Yes</option>
                    <option value="false"
                            {%if not obj.legendary %} selected {% endif %}>No</option>
                </select>
            </div>
            <script>
                // Function to show/hide the element based on the select value

                function toggleVisibility() {
                    let selectLegendaryElement = document.querySelector('select[name="legendary"]');
                    let objDatesElement = document.getElementById('manage-obj-dates');
                    selectLegendaryElement.value ?
                        objDatesElement.classList.remove('hide') :
                        objDatesElement.classList.add('hide');
                    //console.log("================  selectGroupElement.value  =================", selectGroupElement.value);
                }

                // Run the function when the page loads
                toggleVisibility();

                // Add an event listener to the select element to run the function on change
                document.querySelector('select[name="legendary"]').addEventListener('change', toggleVisibility);
            </script>
        </div>
        <div class="cell shrink ">
            <h4 class='text-center'>Faction</h4>
            <div class="is-select">
                <select class="has-no-border" name="faction">
                    <option value="">No Faction</option>
                    {% for faction in obj.factions %}
                    <option value="{{faction.pk}}" {%if obj.faction and faction==obj.faction
                            %}selected {%endif%}>
                        {{faction.name}}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="cell shrink">
            <label for="model-hitpoints" class="is-subheading">HP</label>
            <input id="model-hitpoints" type="text" value="{{obj.hitpoints}}" name="hitpoints">
        </div>
        <div class="cell shrink">
            <label for="model-hitpoints" class="is-subheading">AC</label>
            <input id="model-hitpoints" type="text" value="{{obj.ac}}" name="ac">
        </div>
        <div class="cell shrink">
            <label for="model-size" class="is-subheading">Size</label>
            <input id="model-size" type="text" value="{{obj.size}}" name="size">
        </div>
        <div class="cell shrink">
            <label for="model-type" class="is-subheading">Type</label>
            <input id="model-type" type="text" value="{{obj.type}}" name="type">
        </div>
    </div>
    <hr>
    <div class="grid-x">
        <div id="model-goal" class="cell">
            <h3 class='text-center'>Goals and Secrets</h3>
            {{form_components.richtexteditor(user, obj, "goal")}}
        </div>
    </div>
</form>
<hr>
{{abilities_components.manage(user, obj)}}
{{manage_components.backstory(user, obj)}}
{{manage_components.image(user, obj)}}
{%- endmacro %}