{% import "shared/_icons.html" as icon_components %}
{% import "shared/_manage.html" as manage_components %}

{% macro manage(user, obj) -%}
{{manage_components.manage(user, obj)}}
{{manage_components.dates(user, obj)}}
<form hx-post="/manage/update/{{obj.path}}"
      hx-swap="none" hx-trigger="input delay:1s, change">
    <div class="cell shrink">
        <label>Owner
            <select name="owner">
                <option value=""></option>
                {% for ch in obj.characters + obj.factions %}
                <option value="{{ch.pk}}" {% if obj.owner==ch %} selected {% endif %}>
                    {{ch.name}}
                </option>
                {% endfor %}
            </select>
        </label>
    </div>
</form>
{{manage_components.backstory(user, obj)}}
{{manage_components.image(user, obj)}}
{%- endmacro %}