{% import "shared/_form.html" as form_components %}
{% import "shared/_display.html" as display_components %}
{% import "shared/_icons.html" as icon_components %}
{% import "shared/_manage.html" as manage_components %}

{% macro manage(user, obj) -%}
{{manage_components.manage(user, obj)}}
{{manage_components.dates(user, obj)}}
<div class="grid-x align-spaced">
    <div class="cell shrink">
        <div class="callout ">
            <div class="grid-x">
                <div class="cell shrink align-center-middle">
                    <h4>Story</h4>
                </div>
                <div class="cell align-center-middle">
                    <div class="select">
                        <select class="has-bg-white" name='storypk'
                                hx-post='/api/manage/encounter/story'
                                hx-swap='none'
                                hx-trigger="change">
                            <option value="" {% if not obj.story %} selected {% endif
                                    %}>-- No Story --</option>
                            {%for story in obj.world.stories %}
                            <option value="{{story.pk}}" {% if obj.story and story.pk==obj.story.pk
                                    %} selected {% endif %}>
                                {{story.name}}
                            </option>
                            {%endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cell shrink align-center-middle">
        <button type="button" class="button small"
                hx-post='/api/manage/encounter/toevent'
                hx-target='#page-content'
                hx-confirm='Are you sure you want to convert this encounter to an event?'
                hx-trigger="click consume">
            {{icon_components.plus(size="1rem")}}
            Convert to Event
        </button>
    </div>
</div>
<hr>
<form hx-post="/api/manage/update"
      hx-swap="none" hx-trigger="input delay:1s, change">
    <div class="grid-x">
        <div class="cell">
            <div class="grid-x">
                <div class="cell">
                    <h5 class='text-center'>Difficulty</h5>
                    <div class="is-select">
                        <select class=" text-center"
                                name="difficulty">
                            {% for diff in obj.difficulty_list %}
                            <option value='{{diff}}' {% if diff==obj.difficulty %} selected {% endif
                                    %}>{{diff | title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="cell">
                    <h5 class='text-center '>Enemy Type</h5>
                    <input type="text" class=""
                           value="{{obj.enemy_type}}" name="enemy_type" style='width:100%;'>
                </div>
            </div>
        </div>
        <div class="cell" id="model-trigger">
            <h4 class="text-center">Trigger Conditions</h4>
            {{form_components.texteditor(user, obj, "trigger_conditions")}}
        </div>
        <div class="cell" id="model-mechanics">
            <h4 class="text-center">Mechanics</h4>
            {{form_components.texteditor(user, obj, "mechanics")}}
        </div>
        <div class="cell" id="model-notes">
            <h4 class="text-center">Notes</h4>
            {{form_components.texteditor(user, obj, "notes")}}
        </div>
        <div class="cell" id="model-contingencies">
            <h4 class="text-center">Player Contingencies</h4>
            <div class="grid-x is-vertical">
                <div class="cell shrink">
                    <button type="button" class="button small"
                            hx-post='/api/manage/add/listitem/player_contingencies'
                            hx-target='#player_contingencies-item-list'
                            hx-select='#player_contingencies-item-list'
                            hx-swap='outerHTML' hx-trigger="click consume">
                        {{icon_components.plus(size="1rem")}}
                        New Contingency
                    </button>
                </div>
            </div>
            {{form_components.listeditor(user, obj, "player_contingencies")}}
        </div>
        <div class="cell" id="model-outcomes">
            <h4 class="text-center">Potential Outcomes</h4>
            <div class="grid-x is-vertical">
                <div class="cell shrink">
                    <button type="button" class="button small"
                            hx-post='/api/manage/add/listitem/potential_outcomes'
                            hx-target='#potential_outcomes-item-list'
                            hx-select='#potential_outcomes-item-list'
                            hx-swap='outerHTML' hx-trigger="click consume">
                        {{icon_components.plus(size="1rem")}}
                        New Outcome
                    </button>
                </div>
            </div>
            {{form_components.listeditor(user, obj, "potential_outcomes")}}
        </div>
        <div class="cell" id="model-complications">
            <h4 class="text-center">Complications</h4>
            {{form_components.texteditor(user, obj, "complications")}}
        </div>
    </div>
</form>
{{manage_components.backstory(user, obj)}}
{{manage_components.image(user, obj)}}
{%- endmacro %}