{% import "shared/_form.html" as form_components %}
{% import "shared/_icons.html" as icon_components %}
{% import "shared/_manage.html" as manage_components %}

{% macro manage(user, event) -%}
<div class="panel">
    <form hx-post="/api/manage/update" hx-swap="none" hx-trigger="input delay:1s, change">
        <div class="row">
            <div class="column">
                <h5 class='has-text-center has-text-dark'>Name</h5>
                <input id='model-name' class="has-bg-light has-text-center" type="text" name="name"
                       value="{{event.name}}">
            </div>
        </div>
    </form>
    {{manage_components.dates(user, event)}}
    <form hx-post="/api/manage/update" hx-swap="none" hx-trigger="input delay:1s, change"
          hx-push-url='false'>
        <div class="row">
            <div class="column is-full">
                <label>Backstory</label>
                {{form_components.texteditor(user, event, "backstory")}}
            </div>
            <div class="column is-full">
                <label>Outcome</label>
                {{form_components.texteditor(user, event, "outcome")}}
            </div>
            <div class="column is-full">
                <label>Impact</label>
                {{form_components.texteditor(user, event, "impact")}}
            </div>
        </div>
    </form>
</div>
{{manage_components.image(user, event)}}
<div class="row has-space-around">
    <div class="column is-shrink">
        <button class="button is-danger" hx-post="/api/event/{{ event.pk }}/delete"
                hx-target="#page-content">
            {{icon_components.delete()}}
        </button>
    </div>
</div>
{% endmacro%}