{% import "shared/_form.html" as form_components %}
{% import "shared/_display.html" as display_components %}

{% macro gm(user, world) -%}
<title>Game Master</title>
<div id='gamemaster-container'>
    {% if not world.gm.party %}
    <div class="row">
        <div class="column is-shrink is-mobile-shrink is-vertically-centered">
            Select a Party
        </div>
        <div class="column is-4">
            <div class="panel has-bg-muted">
                <div class="is-select">
                    <select
                            name='party'
                            style='max-height: 20rem;'
                            hx-post="/api/gm/add/party"
                            hx-target="#gamemaster-container" hx-select="#gamemaster-container"
                            hx-swap="outerHTML" hx-indicator='#request-indicator'>
                        <option value=''>
                            ---
                        </option>
                        {% for faction in world.parties %}
                        <option value='{{faction.pk}}'
                                style='height:3rem; text-align: end; {% if faction.image %} background:
                                left / contain no-repeat url({{faction.image.url(size=50)}});{% endif %}
                                font: 1.25rem "Rosarivo", cursive;'>
                            {{faction.name}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    {{gamemaster_panel(user, world)}}
    {%endif%}
</div>
<script>
    // Get DOM elements
    var recordButton = document.getElementById('recordButton');
    var stopButton = document.getElementById('stopButton');
    var statusDisplay = document.getElementById('status');
    var responseDiv = document.getElementById('gamemaster-container');

    let audioChunks = [];
    let audioBlob;
    let mediaRecorder;
    // Function to update button states
    function updateButtonStates(recording, recorded) {
        recordButton.disabled = recording;
        stopButton.disabled = !recording;
    }

    // Initial button state
    updateButtonStates(false, false);

    // Request microphone access and initialize MediaRecorder
    recordButton.addEventListener('click', async () => {
        const stream = await navigator.mediaDevices.getUserMedia({ audio: true });
        mediaRecorder = new MediaRecorder(stream);
        audioChunks = []; // Clear previous chunks

        mediaRecorder.ondataavailable = event => {
            audioChunks.push(event.data);
        };

        mediaRecorder.onstop = () => {
            audioBlob = new Blob(audioChunks, { type: 'audio/webm; codecs=opus' });
            statusDisplay.textContent = 'Recording stopped. Audio being transcribed.';
            updateButtonStates(false, true); // Recording stopped, audio ready
        };
        try {
            mediaRecorder.start();
            statusDisplay.textContent = 'Recording...';
            updateButtonStates(true, false); // Recording started
        } catch (err) {
            console.error('Error accessing microphone:', err);
            statusDisplay.textContent = 'Error: Could not access microphone. Please allow permissions.';
            updateButtonStates(false, false);
        }
    });

    // Stop recording
    stopButton.addEventListener('click', async () => {
        if (mediaRecorder && mediaRecorder.state === 'recording') {
            mediaRecorder.stop();
            // Access the microphone stream and stop all tracks to release the mic
            if (mediaRecorder.stream) {
                mediaRecorder.stream.getTracks().forEach(track => track.stop());
            }
        }

        if (!audioBlob) {
            statusDisplay.textContent = 'No audio to send.';
            return;
        }

        statusDisplay.textContent = 'Transcribing...';

        const formData = new FormData();
        // 'audio_file' matches Flask's request.files key
        // Append the audio blob to the FormData object
        formData.append('audio_file', audioBlob, 'gm_input.webm');

        const metadata = {
            'model': 'World',
            'pk': '{{world.pk}}',
            'user': '{{user.pk}}'
        };
        formData.append('metadata', JSON.stringify(metadata));

        try {
            var response = await fetch('/task/generate/audio/transcribe', {
                method: 'POST',
                body: formData,
            });
            console.log(response);
            if (response.ok) {
                const htmlResponse = await response.text();
                responseDiv.outerHTML = htmlResponse; // HTMX-like update
                statusDisplay.textContent = 'Audio sent. Transcription received.';
                htmx.process(document.body); // Process the new content with HTMX
            } else {
                const errorText = response;
                responseDiv.outerHTML = `<p class="text-red-400">Error: ${errorText}</p>`;
                statusDisplay.textContent = 'Failed to get Transcription.';
            }
        } catch (error) {
            console.error('Network or fetch error:', error);
            responseDiv.outerHTML = `<p class="text-red-400">Network error: ${error.message}</p>`;
            statusDisplay.textContent = 'Network error during Transcription.';
        } finally {
            updateButtonStates(false, false); // Reset buttons after sending
            audioBlob = null; // Clear blob after sending
        }
    });
</script>
{%- endmacro %}

{% macro gamemaster_panel(user, world) -%}
<h2 class='has-text-center'>Game Master</h2>
<div class="row">
    <div class="column">
        <div class="row has-space-around">
            <div class="column is-3">
                <p id="status" class="has-text-dark">Ready to record.</p>
            </div>
            <div class="column is-9">
                <button id="recordButton" class="button is-small has-bg-muted">
                    <iconify-icon icon="lucide:mic"></iconify-icon>
                    Start Recording
                </button>
                <button id="stopButton"
                        class="button has-bg-black has-text-white is-small" disabled>
                    <iconify-icon icon="lucide:square"></iconify-icon>
                    Stop Recording
                </button>
            </div>
            <div class="column is-full">
                <h6>Your audio will be transcribed here.</h6>
                <div class="panel has-bg-muted">
                    <h4 class='has-text-centered'>Prompt</h4>
                    <form id="gm-textarea" hx-post="/api/gm/prompt/update"
                          hx-trigger="input delay:500ms, change" hx-swap="none">
                        {{form_components.textarea(user, world.gm, name='audio_transcription', content=world.gm.audio_transcription)}}
                    </form>
                </div>
            </div>
            <div id="dice-container" class="column">
                <div class="row">
                    <div class="column is-shrink">
                        <form hx-post="/api/gm/dice/roll"
                              hx-target="#dice-container" hx-select="#dice-container"
                              hx-swap="outerHTML" hx-indicator='#request-indicator'>
                            <div class="row">
                                <div class="column">
                                    <input type="text" name="dice" placeholder="e.g. 1d20+5"
                                           value="{{world.gm.last_roll}}"
                                           class="input has-bg-light"
                                           style="width: 100%; border-bottom: solid #000;">
                                </div>
                                <div class="column">
                                    <button class="button is-small has-bg-muted"
                                            type="submit">Roll</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="column is-shrink">
                        {% if world.gm.last_roll_result %}
                        <div class="panel has-bg-light">
                            <p class='has-text-dark has-text-center'>
                                Result: {{world.gm.last_roll_result}}
                            </p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="column is-shrink">
                <button class="button has-bg-muted"
                        hx-post="/task/generate/gm/present/{{world.pk}}"
                        hx-target="#pc-container" hx-indicator='#request-indicator'>
                    Present
                </button>
            </div>
            <div class="column is-full">
                <h5>Current Objective</h5>
                <div class='panel has-bg-muted has-text-dark'>
                    <form hx-post="/api/gm/objective/update"
                          hx-trigger="input delay:500ms, change" hx-swap="none">
                        {{form_components.textarea(user, world.gm, name='current_party_objective', content=world.gm.current_party_objective)}}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-4">
        <div class="panel has-bg-muted">
            <h4 class='has-text-centered'>Add Associations</h4>
            <div class="has-dropdown" style="width: 100%;">
                <input class="has-bg-light" autocomplete="off" type="search" name="query"
                       style="border-bottom: solid #000;"
                       hx-post="/api/gm/associations/add/search"
                       hx-target="#gm-new-associations-list"
                       hx-trigger="input changed delay:500ms consume"
                       hx-on:input="this.value.length < 3 ? this.closest('.has-dropdown').classList.remove('is-active'):this.closest('.has-dropdown').classList.add('is-active')">
                <ul class="dropdown has-bg-light" id="gm-new-associations-list">
                </ul>
            </div>
            <h5 class='has-text-primary'>Current Associations</h5>
            <div class="row has-space-around">
                {% for association in world.gm.associations %}
                <div class="column is-2 association-entry" style='position: relative;'>
                    {{display_components.object_display(association, type=False)}}
                    <a style='position:absolute; top:0px; right:5px;'
                       hx-post="/api/gm/association/remove/{{association.path}}"
                       hx-target="closest .association-entry" hx-swap="delete"
                       hx-confirm="Are you sure you want to remove this association from the scene?">
                        <iconify-icon class="has-bg-white" icon="mdi:remove"
                                      width="1rem"></iconify-icon>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="column is-full">
        <h3 class='has-text-center'> Players </h3>
        <div id="pc-container">
            {% for p in world.gm.party.players %}
            <div class="panel has-bg-light">
                <div class="row has-space-around">
                    <div class="column is-1">
                        {{display_components.object_display(p, type=False)}}
                    </div>
                    <div class="column">
                        <div class="panel has-bg-muted has-text-dark">
                            <h5 class='has-text-center has-text-dark'>Response</h5>
                            {{world.gm.get_response(p).response}}
                            <hr class="has-bg-dark">
                            <h5 class='has-text-center has-text-dark'>Reaction to Party</h5>
                            <p>{{world.gm.get_response(p).reaction_to_party}}</p>
                        </div>
                    </div>
                    {% if world.gm.get_response(p).action %}
                    <div class="column is-4">
                        <div class="panel has-bg-screen has-text-light">
                            <h5 class='has-text-light'>Target</h5>
                            {{world.gm.get_response(p).action.target}}
                            <hr>
                            <h5 class='has-text-light'>Method</h5>
                            {{world.gm.get_response(p).action.method}}
                            <hr>
                            {% if world.gm.get_response(p).action.focus_on_coordination %}
                            <h5 class='has-text-light'>Coordinated Action</h5>
                            {% else %}
                            <h5 class='has-text-light'>Action</h5>
                            {% endif %}
                            {{world.gm.get_response(p).action.description}}
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="column is-shrink is-vertically-centered">
                        <h5 class='has-text-dark has-text-center'>Observations:</h5>
                    </div>
                    <div class="column is-shrink is-vertically-centered">
                        <p class='has-text-dark has-text-center'>
                            {{world.gm.get_response(p).observed_details | join(', ')}}
                        </p>
                    </div>
                </div>
            </div>
            <hr>
            {% endfor%}
        </div>
    </div>
    <div class="column is-full">
        <h3 class='has-text-center'> Game Master History </h3>
        <div class="panel">{{world.gm.history}}</div>
        <hr>
    </div>
    <div class="column is-shrink is-center">
        <button class="button has-bg-muted"
                hx-post="/api/gm/reset"
                hx-target="#gamemaster-container" hx-indicator='#request-indicator'
                hx-confirm="Are you sure you want to reset the Game Master? This will clear all current associations and history.">
            Reset Game Master
        </button>
    </div>
</div>
{%- endmacro%}


{% macro gm_dropdown(user, obj, objs=[]) -%}
{% for o in objs %}
<li class="dropdown__link">
    <form hx-post='/api/gm/associations/add/{{o.path}}'
          hx-target='#page-content'
          hx-trigger='click'
          hx-indicator='#request-indicator'>
        <div class="row">
            <div class="column is-shrink">
                <div class="image is-tiny is-thumbnail" style="cursor: pointer">
                    {% if o.image %}
                    <img src="{{o.image.url(size=50)}}" alt="{{o.name}}" />
                    {% endif %}
                </div>
            </div>
            <div class="column">
                {{o.name}}
            </div>
        </div>
    </form>
</li>
{% endfor %}
{%- endmacro%}