{% import "shared/_form.html" as form_components %}
{% import "shared/_abilities.html" as abilities_components %}
{% import "shared/_icons.html" as icon_components %}
{% import "shared/_manage.html" as manage_components %}

{% macro manage(user, obj) -%}
{{manage_components.manage(user, obj)}}
{{manage_components.dates(user, obj)}}
<form hx-post="/api/manage/update"
      hx-swap="none" hx-trigger="input delay:1s, change">
    <div class="grid-x grid-margin-x align-spaced">
        <div class="cell shrink">
            <h4>Rarity</h4>
            <div class="is-select">
                <select name="rarity">
                    <option></option>
                    {% for rarity in obj._rarity_list%}
                    <option {%if obj.rarity==rarity %}selected {% endif %}>{{rarity}}</option>
                    {%endfor%}
                </select>
            </div>
        </div>
        <div class="cell shrink">
            <h4>Weight</h4>
            <input type="text" value="{{obj.weight}}" name="weight">
        </div>
        <div class="cell auto">
            <h4>Cost</h4>
            <textarea name="cost">{{obj.cost}}</textarea>
        </div>
        <div class="cell auto">
            <h4>Duration</h4>
            <textarea name="duration">{{obj.duration}}</textarea>
        </div>
    </div>
</form>
<hr>
{{abilities_components.manage(user, obj)}}
{{manage_components.backstory(user, obj)}}
{{manage_components.image(user, obj)}}
{%- endmacro %}