{% import "shared/_form.html" as form_components %}
{% import "shared/_display.html" as display_components %}
{% import "shared/_icons.html" as icon_components %}
{% import "shared/_title.html" as title_components %}

{% macro manage(user, entry) -%}
<title>{{entry.name}} - Quest Editor</title>
{{title_components.object_title(user, entry.contact)}}<br>
<div class="grid-x">
    <div class="cell align-center-middle">
        <h2 class='text-center'>Quest Editor</h2>
    </div>
    <div class="cell shrink align-center-middle">
        <a href="/{{entry.contact.path}}/quests">
            {{icon_components.close()}}
        </a>
    </div>
</div>
<div class="grid-x align-spaced">
    <div class="cell shrink">
        <button class="button"
                hx-post="/task/generate/{{entry.pk}}/quest/create"
                hx-swap='outerHTML'>
            Generate Quest
        </button>
    </div>
</div>
<form id="quest-entry-form" hx-post="/api/manage/quest/{{entry.pk}}/update"
      hx-target="#page-content"
      hx-indicator='#request-indicator' hx-swap='none'
      hx-trigger='input delay:750ms, change'>

    <div class="grid-x has-centered">
        <div class="cell is-half">
            <h5 class='text-center'>Title</h5>
            <input class=" text-center" type="text" name="name"
                   value="{{entry.name}}">
        </div>
        <div class="cell is-half">
            <h5 class='text-center'>Status</h5>
            <select class="" name="status">
                {% for i in ['available','active', 'failed', 'completed'] %}
                <option value="{{i}}" {% if entry.status=='{{i}}' %}selected{% endif %}>
                    {{i | title}}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="cell">
            <h5 class='text-center'>Storyline</h5>
            <div class="callout">
                {{entry.storyline.name}}:{{entry.storyline.situation | safe}}
            </div>
        </div>
        <div class="cell">
            <h5 class='text-center'>Description</h5>
            {{form_components.texteditor(user, entry, 'description')}}
            <hr>
        </div>
        <div class="cell is-half">
            <h5 class='text-center'>Summary</h5>
            <textarea class="" name="summary" rows="3">{{entry.summary}}</textarea>
        </div>
        <div class="cell is-half">
            <h5 class='text-center'>Hook</h5>
            <textarea class="" name="hook" rows="3">{{entry.hook}}</textarea>
        </div>
        <div class="cell">
            <h5 class='text-center'>Antagonist</h5>
            <textarea class="" name="antagonist"
                      rows="3">{{entry.antagonist}}</textarea>
        </div>
        <div class="cell">
            <h5 class='text-center'>Plot Twist</h5>
            <textarea class="" name="plot_twist"
                      rows="3">{{entry.plot_twist}}</textarea>
        </div>
        <div class="cell">
            <h5 class='text-center'>Rewards</h5>
            <textarea class="" name="rewards"
                      rows="3">{{entry.rewards}}</textarea>
        </div>
    </div>
</form>
<hr>
<div class="grid-x">
    <div class="cell">
        <h3 class="text-center">Add Associations</h3>
        <div class="has-dropdown" style="width: 100%;">
            <input class="" autocomplete="off" type="search" name="query"
                   hx-post="/api/manage/quest/search"
                   hx-target="#quest-entry-association-search"
                   hx-trigger="input delay:750ms, change, search"
                   hx-on:input="this.value.length <= 1? this.closest('.has-dropdown').classList.remove('is-active'):this.closest('.has-dropdown').classList.add('is-active')">
            <ul class="dropdown" id="quest-entry-association-search"
                hx-vals='{"entrypk":"{{entry.pk}}"}'>
            </ul>
        </div>
        <hr>
        <div class="callout small">
            <div class="grid-x align-spaced" id="quest-entry-associations">
                {% for a in entry.associations %}
                <div class="cell medium-1" style="position: relative;">
                    {{display_components.object_display(a)}}
                    <a style='position: absolute; top: 0; right: 5px;'
                       hx-post="/api/manage/quest/{{entry.pk}}/association/{{a.path}}/remove"
                       hx-target="closest .cell"
                       hx-swap="delete"
                       hx-indicator='#request-indicator'>
                        <iconify-icon class="" icon="mdi:remove"
                                      width="1rem"></iconify-icon>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro quest_dropdown(user, obj, objs=[]) -%}
{% for o in objs %}
<li class="dropdown__link">
    <form hx-post='/api/manage/quest/entry/association/add'
          hx-target='#page-content'
          hx-trigger='click'
          hx-indicator='#request-indicator'>
        <input type="hidden" name="ass_model" value="{{o.model_name()}}">
        <input type="hidden" name="ass_pk" value="{{o.pk}}">
        <div class="grid-x">
            <div class="cell shrink">
                <div class="image is-tiny is-thumbnail" style="cursor: pointer">
                    {% if o.image %}
                    <img src="{{o.image.url(size=50)}}" alt="{{o.name}}" />
                    {% endif %}
                </div>
            </div>
            <div class="cell">
                {{o.name}}
            </div>
        </div>
    </form>
</li>
{% endfor %}
{%- endmacro%}