{% import "shared/_form.html" as form_components %}
{% import "shared/_icons.html" as icon_components %}
{% import "shared/_manage.html" as manage_components %}
{% import "shared/_display.html" as display_components %}

{% macro manage(user, obj) -%}
{{manage_components.manage(user, obj)}}
{{manage_components.dates(user, obj)}}
<form hx-post="/manage/update"
      hx-swap="none" hx-trigger="input delay:1s, change">
    <h3 class='text-center '>Ruling Faction</h3>
    <div class="grid-x align-spaced">
        <div class="cell shrink">
            <div class="callout small">
                <div class="is-select">
                    <select name='ruling_faction'>
                        <option value=''>=== Select a Faction ===</option>
                        {%for f in obj.world.factions %}
                        <option value='{{f.pk}}' {% if f==obj.owner %} selected {% endif %}>
                            {{f.name}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        {% for faction in obj.factions %}
        <div class="cell medium-2">
            <div class="callout small has-text-white">
                {{display_components.object_display(faction, type=False)}}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="grid-x">
        <div class="cell">
            <h3>Culture</h3>
            {{form_components.richtexteditor(user, obj, "culture", label=False)}}
        </div>
        <div class="cell">
            <h3>Government</h3>
            {{form_components.richtexteditor(user, obj, "government", label=False)}}
        </div>
        <div class="cell">
            <h3>Religion</h3>
            {{form_components.richtexteditor(user, obj, "religion", label=False)}}
        </div>
    </div>
</form>
{{manage_components.backstory(user, obj)}}
{{manage_components.image(user, obj)}}
{%- endmacro %}