{% import "shared/_icons.html" as icon_components %}
{% import "shared/_manage.html" as manage_components %}

{% macro manage(user, obj) -%}
{{manage_components.manage(user, obj)}}
{{manage_components.dates(user, obj)}}
<div class="grid-x align-spaced">
    <div class="cell medium-6">
        <h4>Owner</h4>
        <div class="grid-x align-spaced" id='owner-manager-container'>
            <div class="cell shrink">
                <select name="owner">
                    <option value="">===Select Owner===</option>
                    {% for ch in obj.characters %}
                    <option value="{{ch.pk}}" {% if obj.owner==ch %} selected {% endif %}>
                        {{ch.name}}
                    </option>
                    {% endfor %}
                </select>
            </div>
            {% if obj.owner %}
            <div class="cell medium-6">
                <div class="callout">
                    <h4>Owner</h4>
                    <a href="/{{obj.owner.path}}">
                        <div class="image is-large is-thumbnail is-margin-center">
                            {% if obj.owner.image %}
                            <img src="{{obj.owner.image.url()}}" alt="{{obj.owner.name}}" />
                            {% endif %}
                        </div>
                        <h4>
                            {{obj.owner.name}}
                        </h4>
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="cell medium-6">
        <form hx-post="/manage/update/{{obj.path}}"
              hx-swap="none" hx-trigger="input delay:1s, change">
            <h4>Inventory</h4>
            {%for i in obj.inventory %}
            <input type="text" name="inventory[]" value='{{i}}'>
            {% endfor%}
        </form>
    </div>
</div>
{{manage_components.backstory(user, obj)}}
{{manage_components.image(user, obj)}}
{%- endmacro %}

{% macro owner_dropdown(user, obj, objs=[]) -%}
{% for o in objs %}
<li class="dropdown__link">
    <a hx-post='/manage/{{obj.path}}/owner/add/{{o.path}}'
       hx-target='#page-content'
       hx-indicator='#request-indicator'>
        <div class="grid-x">
            <div class="cell shrink">
                <div class="image is-tiny is-thumbnail" style="cursor: pointer">
                    {% if o.image %}
                    <img src="{{o.image.url(size=50)}}" alt="{{o.name}}" />
                    {% endif %}
                </div>
            </div>
            <div class="cell">
                {{o.name}}
            </div>
        </div>
    </a>
</li>
{% endfor %}
{%- endmacro%}