{% import "shared/_form.html" as form_components %}
{% import "shared/_display.html" as display_components %}
{% import "shared/_icons.html" as icon_components %}


{% macro manage(user, story) -%}
<form hx-post="/api/stories/{{story.pk}}/update" hx-swap='none'
      hx-trigger='input delay:0.5s'>
    <div class="row has-space-between">
        <div class="column is-full has-text-secondarybg">
            <div class="row">
                <div class="column is-shrink is-vertically-centered">
                    <h4>Name</h4>
                </div>
                <div class="column is-vertically-centered">
                    <input class="has-bg-light" type="text" name="name"
                           value="{{story.name}}">
                </div>
                <div class="column is-shrink is-vertically-centered">
                    <button class="button"
                            hx-post='/task/generate/story/{{story.pk}}'
                            hx-target='#page-content'
                            hx-trigger="click consume">
                        Generate
                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="column is-full has-text-secondary">
            <h3 class='has-text-center'>Situation</h3>
            {{form_components.texteditor(user, story, 'situation')}}
        </div>
        <div class="column is-full has-text-secondary">
            <h3 class='has-text-center'>Backstory</h3>
            {{form_components.texteditor(user, story, 'backstory')}}
        </div>
        <div class="column is-full has-text-secondary">
            <h3 class='has-text-center'>Current Status</h3>
            {{form_components.texteditor(user, story, 'current_status')}}
        </div>
        <div class="column is-4 has-text-secondary">
            <h3 class='has-text-center'>Tasks</h3>
            <div class="row is-vertical">
                <div class="column is-shrink">
                    <button type="button" class="button is-small"
                            hx-post='/api/stories/{{story.pk}}/add/listitem/tasks'
                            hx-target='#tasks-item-list'
                            hx-select='#tasks-item-list'
                            hx-swap='outerHTML' hx-trigger="click consume">
                        {{icon_components.plus(size="1rem")}}
                        New Task
                    </button>
                </div>
            </div>
            {{form_components.listarea(user, story, 'tasks')}}
        </div>
        <div class="column is-4 has-text-secondary">
            <h3 class='has-text-center'>Rumors</h3>
            <div class="row is-vertical">
                <div class="column is-shrink">
                    <button type="button" class="button is-small"
                            hx-post='/api/stories/{{story.pk}}/add/listitem/rumors'
                            hx-target='#rumors-item-list'
                            hx-select='#rumors-item-list'
                            hx-swap='outerHTML' hx-trigger="click consume">
                        {{icon_components.plus(size="1rem")}}
                        New Rumor
                    </button>
                </div>
            </div>
            {{form_components.listarea(user, story, 'rumors')}}
        </div>
        <div class="column is-4 has-text-secondary">
            <h3 class='has-text-center'>Information</h3>
            <div class="row is-vertical">
                <div class="column is-shrink">
                    <button type="button" class="button is-small"
                            hx-post='/api/stories/{{story.pk}}/add/listitem/information'
                            hx-target='#information-item-list'
                            hx-select='#information-item-list'
                            hx-swap='outerHTML' hx-trigger="click consume">
                        {{icon_components.plus(size="1rem")}}
                        New information
                    </button>
                </div>
            </div>
            {{form_components.listarea(user, story, 'information')}}
        </div>
    </div>
</form>
<hr class='has-bg-primary'>
<div class="row">
    <div id="story-bbeg" class="column is-2 has-text-secondary">
        <h3 class='has-text-center'>BBEG</h3>
        <div class="row">
            <div class="column is-full">
                <div class="has-dropdown" style="width: 100%;">
                    <input class="has-bg-light" autocomplete="off" type="search" name="query"
                           style="border-bottom: solid #000;"
                           hx-post="/api/stories/{{story.pk}}/bbeg/add/search"
                           hx-target="#story-new-bbeg-list"
                           hx-trigger="input changed delay:500ms consume"
                           hx-on:input="this.value.length < 3 ? this.closest('.has-dropdown').classList.remove('is-active'):this.closest('.has-dropdown').classList.add('is-active')">
                    <ul class="dropdown has-bg-light" id="story-new-bbeg-list">
                    </ul>
                </div>
            </div>
        </div>
        {% if story.bbeg %}
        {{display_components.object_display(story.bbeg)}}
        {% endif %}
    </div>
    <div id="story-encounters" class="column is-9 has-text-secondary">
        <h3 class='has-text-center'>Encounters</h3>
        <div class="row has-space-around">
            {% for encounter in story.encounters %}
            <div class="column is-2">{{display_components.object_display(encounter)}}</div>
            {% endfor %}
        </div>
    </div>
</div>
<div id="story-associations" class="section is-small">
    <div class="panel">
        <h2 class='has-text-center'> Associations </h2>
        <h5>Add New...</h5>
        <div class="row has-space-around">
            {% for model in story.world.all_models_str() %}
            <div class="column is-shrink">
                <button class='button is-small'
                        hx-post='/api/stories/{{story.pk}}/associations/add/{{model | lower}}'
                        hx-target="#story-associations"
                        hx-select="#story-associations"
                        hx-swap='outerHTML'>
                    {{story.world.get_title(model)}}
                </button>
            </div>
            {% endfor %}
        </div>
        <h5>...or Add Existing</h5>
        <div class="row">
            <div class="column is-full">
                <div class="has-dropdown" style="width: 100%;">
                    <input class="has-bg-light" autocomplete="off" type="search" name="query"
                           style="border-bottom: solid #000;"
                           hx-post="/api/stories/{{story.pk}}/associations/add/search"
                           hx-target="#story-new-association-list"
                           hx-trigger="input changed delay:500ms consume"
                           hx-on:input="this.value.length < 3 ? this.closest('.has-dropdown').classList.remove('is-active'):this.closest('.has-dropdown').classList.add('is-active')">
                    <ul class="dropdown has-bg-light" id="story-new-association-list">
                    </ul>
                </div>
            </div>
        </div>
        <div class="row has-space-around">
            {% for a in story.associations %}
            <div class="column is-2">
                <div class="row">
                    <div class="column is-full">
                        {{display_components.object_display(a)}}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<hr class='has-bg-muted'>
<div id="story-events" class="section is-small">
    <div class="panel">
        <h2 class='has-text-center'> Events </h2>
        <div class="row has-space-around">
            <div class="column is-shrink">
                <button class='button is-small'
                        hx-post='/api/stories/{{story.pk}}/event/add'
                        hx-target="#story-events"
                        hx-select="#story-events"
                        hx-swap='outerHTML'>
                    Add Event
                </button>
            </div>
        </div>
        <div class="row has-space-around">
            {% for e in story.events %}
            <div class="column is-2">
                <a href="/{{e.path}}" target='_blank' style='position: relative;'>
                    <div class="panel has-bg-muted">
                        <div class="row">
                            <div class="column is-shrink">
                                {{e.name}}
                                {{e.type}}
                                {{e.start_date}}
                                {{e.end_date}}
                            </div>
                            <div class="column">
                                {{e.impact}}
                                <hr>
                                {{e.backstory}}
                                <hr>
                                {{e.outcome}}
                            </div>
                            <div class="column is-shrink">
                                <div class="image is-tile is-margin-center" style="width:100%;">
                                    {% if e.image %}
                                    <img src="{{e.image.url()}}" loading="lazy" alt="{{e.name}}" />
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<hr class='has-bg-muted'>
<div class="row">
    <div class="column is-shrink is-center">
        <a hx-post="/api/stories/{{story.pk}}/delete"
           hx-target="#page-content"
           hx-confirm='Are you sure you want to delete this story?'>
            {{icon_components.trash(size="1.5rem")}}
        </a>
    </div>
</div>
{%- endmacro %}

{% macro bbeg_dropdown(user, obj, story, objs=[]) -%}
{% for o in objs %}
<li class="dropdown__link has-bg-muted">
    <a hx-post="/api/stories/{{story.pk}}/bbeg/add/{{o.pk}}"
       hx-target='#story-bbeg'
       hx-select='#story-bbeg' hx-swap='outerHTML'
       onclick="this.closest('.has-dropdown').classList.remove('is-active')">
        <div class="row">
            <div class="column is-shrink">
                <div class="image is-tiny is-thumbnail" style="cursor: pointer">
                    {% if o.image %}
                    <img src="{{o.image.url(size=50)}}" alt="{{o.name}}" />
                    {% endif %}
                </div>
            </div>
            <div class="column">
                {{o.name}}
            </div>
        </div>
    </a>
</li>
{% endfor %}
{%- endmacro%}

{% macro associations_dropdown(user, obj, story, objs=[]) -%}
{% for o in objs %}
<li class="dropdown__link has-bg-muted">
    <a hx-post="/api/stories/{{story.pk}}/associations/add/{{o.path}}"
       hx-target='#story-associations'
       hx-select='#story-associations' hx-swap='outerHTML'
       onclick="this.closest('.has-dropdown').classList.remove('is-active')">
        <div class="row">
            <div class="column is-shrink">
                <div class="image is-tiny is-thumbnail" style="cursor: pointer">
                    {% if o.image %}
                    <img src="{{o.image.url(size=50)}}" alt="{{o.name}}" />
                    {% endif %}
                </div>
            </div>
            <div class="column">
                {{o.name}}
            </div>
        </div>
    </a>
</li>
{% endfor %}
{%- endmacro%}