{% import "shared/_abilities.html" as abilities_components %}
{% import "shared/_form.html" as form_components %}
{% import "shared/_display.html" as display_components %}
{% import "shared/_icons.html" as icon_components %}
{% import "shared/_manage.html" as manage_components %}

{% macro manage(user, obj) -%}
{{manage_components.manage(user, obj)}}
{{manage_components.dates(user, obj)}}
<form hx-post="/api/manage/update"
      hx-swap="none" hx-trigger="input delay:1s, change">
    <div class="grid-x">
        <div class="cell">
            <h3>Vehicle Type</h3>
            <input class="" type="text" id='type' name="type" value='{{obj.type}}'>
        </div>
    </div>
    <div class="cell shrink">
        <h4>Owner</h4>
        <input class="" disabled id='owner' type="text" name="owner" value='TBD...'>
    </div>
    <div class="grid-x align-spaced">
        <div class="cell shrink">
            <label class="is-subheading">Crew Capacity</label>
            <input class="" id="capacity" type="number" name="capacity"
                   value='{{obj.capacity}}'>
        </div>
        <div class="cell shrink">
            <label for="model-hitpoints" class="is-subheading">HP</label>
            <input id="model-hitpoints" type="number" value="{{obj.hitpoints}}"
                   name="hitpoints">
        </div>
        <div class="cell shrink">
            <label for="model-hitpoints" class="is-subheading">Armor</label>
            <input id="model-armor" type="number" value="{{obj.armor}}" name="armor">
        </div>
        <div class="cell shrink">
            <label for="model-size" class="is-subheading">Size</label>
            <input id="model-size" type="text" value="{{obj.size}}" name="size">
        </div>
    </div>
    <hr>
    {{abilities_components.edit_abilities(user, obj)}}
</form>
{{manage_components.backstory(user, obj)}}
{{manage_components.image(user, obj)}}
{%- endmacro %}